<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I am nearing the completion of my latest program,<br>it generates a simple website based on folders with text files.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I had a lot of fun writing it,<br>there are many little programming gems that can make code fascinating.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are all too strange to describe,<br>but they are like little creatures, each from a different galaxy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are called libraries, and when you plug them into your program,<br>you inherit the functionality within.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There is also this cute little programming style,<br>where you just write everything in a single line.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Each tiny program that you write and add to the chain,<br>channels its output as the next little programs input.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It looks very unusual, it is hard to read,<br>but it has style, and it is a lovely thing.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Having almost a thousand poems,<br>and over a hundred video playlists.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Means that every big operation must be repeated,<br>at least a thousand times.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is trouble, as it means you can only write fast code,<br>if something took a second to run...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You’d have to sit there for a thousand seconds,<br>about 17 minutes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Even with fast code,<br>it still takes 3 seconds to make the website.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And when I move the program to a low-power computer,<br>that may quickly turn into 30 seconds, or a minute.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I’ve been preparing to speed the program up,<br>with a cache.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A cache is a memorized operation,<br>you can cache the result of calculating how many minutes in a 1,000 seconds.<br>Simply save to disk or memory that 1,000 seconds equals<br>16 minutes and 40 seconds.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And you will never have to recalculate that again,<br>that calculation is said to be cached.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And it is a lot of fun to come up with eh right strategy,<br>and with minimal impact on your source code .</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In programming the simplest things,<br>can magnificently get out of control.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Creating a cover image for a series of videos,<br>out of their thumbnails...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Requires, extracting all the video link,<br>checking what thumbnails are already there.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Downloading whatever is missing,<br>calculating how the images can fit best in the final cover.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And finally combining them together,<br>which sometimes requires playing with geometry.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Though there are simple Linux programs,<br>that can combine multiple images into one.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All of this for a simple cover image,<br>it almost seems funny.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Programming truly is wonderful,<br>writing a program is like piloting an intergalactic spaceship.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Programs never seem to last very long,<br>especially the little ones.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is a combination of usefulness,<br>and eve changing world.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But that is a good thing, it means there is always a new intergalactic Cruiser,<br>looking for a captain at the Spacedock.</div>
  </div>
</div>