<div class="section">
  <p>I am nearing the completion of my latest program,<br>it generates a simple website based on folders with text files.</p>
  <p>I had a lot of fun writing it,<br>there are many little programming gems that can make code fascinating.</p>
  <p>They are all too strange to describe,<br>but they are like little creatures, each from a different galaxy.</p>
  <p>They are called libraries, and when you plug them into your program,<br>you inherit the functionality within.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is also this cute little programming style,<br>where you just write everything in a single line.</p>
  <p>Each tiny program that you write and add to the chain,<br>channels its output as the next little programs input.</p>
  <p>It looks very unusual, it is hard to read,<br>but it has style, and it is a lovely thing.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Having almost a thousand poems,<br>and over a hundred video playlists.</p>
  <p>Means that every big operation must be repeated,<br>at least a thousand times.</p>
  <p>This is trouble, as it means you can only write fast code,<br>if something took a second to run...</p>
  <p>You’d have to sit there for a thousand seconds,<br>about 17 minutes.</p>
  <p>Even with fast code,<br>it still takes 3 seconds to make the website.</p>
  <p>And when I move the program to a low-power computer,<br>that may quickly turn into 30 seconds, or a minute.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I’ve been preparing to speed the program up,<br>with a cache.</p>
  <p>A cache is a memorized operation,<br>you can cache the result of calculating how many minutes in a 1,000 seconds.<br>Simply save to disk or memory that 1,000 seconds equals<br>16 minutes and 40 seconds.</p>
  <p>And you will never have to recalculate that again,<br>that calculation is said to be cached.</p>
  <p>And it is a lot of fun to come up with eh right strategy,<br>and with minimal impact on your source code .</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In programming the simplest things,<br>can magnificently get out of control.</p>
  <p>Creating a cover image for a series of videos,<br>out of their thumbnails...</p>
  <p>Requires, extracting all the video link,<br>checking what thumbnails are already there.</p>
  <p>Downloading whatever is missing,<br>calculating how the images can fit best in the final cover.</p>
  <p>And finally combining them together,<br>which sometimes requires playing with geometry.</p>
  <p>Though there are simple Linux programs,<br>that can combine multiple images into one.</p>
  <p>All of this for a simple cover image,<br>it almost seems funny.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Programming truly is wonderful,<br>writing a program is like piloting an intergalactic spaceship.</p>
  <p>Programs never seem to last very long,<br>especially the little ones.</p>
  <p>It is a combination of usefulness,<br>and eve changing world.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But that is a good thing, it means there is always a new intergalactic Cruiser,<br>looking for a captain at the Spacedock.</p>
</div>