<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It is easy to create general styles of art,<br>abstraction, hyper-realism, upgraded reproductions, composites, lowbrow silliness.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And because the world got stuck in poverty,<br>we can talk about it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is no such thing as magic,<br>there is a simple explanation for how artists create great art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The easiest way to get there is to <a href="https://www.youtube.com/watch?v=0fEMJp70tGU">follow Drew Struzan's observation</a>,<br>the first version of your painting will tell you about all the details you have to take care of to create the final.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">More than that, by applying reference images directly,<br><a href="https://www.youtube.com/watch?v=PIbz_gKw0XY">your skill and knowledge improves, the same way you memorize how to navigate a city</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You don't need a teacher, you just need a good starting image,<br>and then you can use <a href="https://www.youtube.com/watch?v=7w-Tjd5DrS0">Tracing Paper</a>, or <a href="https://www.youtube.com/watch?v=G1fAWGTTFdY">A Wall Projector</a>, or <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">The Grid Method</a>, or <a href="https://www.youtube.com/watch?v=XCVJyFHcb38">Digital Reference Tools</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a lot of critics in this area that will try to interrupt you,<br>but they are just people who were made ill by pretending to be special.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To be special in Art, like in all things,<br>is to become a teacher or an inspiration, and not stay a pretender.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will often hear a pretender say how "all these people make him want to quit being an artist",<br>that is not even possible, as we are all natural born artists.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The mystery of an artist and their skill is,<br>is just navigating whatever they are familiar with, the same way they navigate the city they live in.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The content of our maps, is not something we are born with,<br>it is something we can memorize as easily as navigating a city, by using helpful reference tools.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Digital art has one huge bonus, you can master colors too,<br>by sampling them from your original first, with the click of a button, often you just hold the Control-Key to activate the color picker.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Otherwise, you have to learn to mix your own colors,<br>for which you will need a pane of glass so that you can easily compare your mix.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But eventually, this too becomes a matter of navigation,<br>as some color combinations are more harmonious than others and you will navigate them relative to the subject.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But this is the lobby, this is just where everyone starts,<br>Art loves you so much, that you start as a perfect art superstar.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once you have your fill of glory and laughter,<br>your instinct will have you look away from what everyone is doing.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In the beginning, you become a perfect artist,<br>and in a way, your first mighty step, is to expand it, by moving away from it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The destination, the destination is always the same,<br>in all our pursuits of excellence.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You are meant to take whatever moves you,<br>and build, build and grow all the way up, until you become a great being.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Art is also a test of your worthiness,<br>exactly like the tests described in all the myths.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You are granted a power to make other admire you,<br>will you just pretend, or set off on one of the greatest adventures of your life.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The price to pay for tricking others into thinking that one is special,<br>instead of teaching them how you do it, so that they can join the world of art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Is that one never learns more, never grows up,<br>they stay in the beginning.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The failure to travel the universe of art,<br>means that there is no adventure to be had in it</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Thus all the hateful artists,<br>forget art - because they think they've seen it all.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What really happened is that they lied themselves in a circle,<br>just in the art lobby, and just to feel special for a while.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once they were done pretending,<br>so was their art and their practice of art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is a tragedy, but again the world of art belongs to us all,<br>the haters will rope-a-dope themselves and get ejected out, this is how the world of art stays so beautiful.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, you should know that the definition of good art is not “I’ll know it when I see it”<br>but rather: “Good Art; is the kind of art, that changes lives for better”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A good artist is one that teachers,<br>so you must get as many people as you can into the beginning, into the lobby.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So that they understand they are born special,<br>from Art new schools will emerge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Ones that will allow students to learn what they want, when they want it,<br>where they will never be told to hurry, or that they are cut off, or finished.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here the students will be graded by authentic achievement,<br>not simulated <a href="https://www.youtube.com/watch?v=DzSnvxejenY">imaginary grades, that teachers manipulate to hide that they aren’t working</a>.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Art is one of several such hubs of creativity and promise,<br>Philosophy is another.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">These schools, born from our most beautiful superpowers,<br>will eventually set the world free from Dark Ages and Poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here humanity will resume advancing forward,<br>to converge in its Greatness on Wisdom and World Peace.</div>
  </div>
</div>