<div class="section">
  <p>It is easy to create general styles of art,<br>abstraction, hyper-realism, upgraded reproductions, composites, lowbrow silliness.</p>
  <p>And because the world got stuck in poverty,<br>we can talk about it.</p>
  <p>There is no such thing as magic,<br>there is a simple explanation for how artists create great art.</p>
  <p>The easiest way to get there is to <a href="https://www.youtube.com/watch?v=0fEMJp70tGU">follow Drew Struzan's observation</a>,<br>the first version of your painting will tell you about all the details you have to take care of to create the final.</p>
  <p>More than that, by applying reference images directly,<br><a href="https://www.youtube.com/watch?v=PIbz_gKw0XY">your skill and knowledge improves, the same way you memorize how to navigate a city</a>.</p>
  <p>You don't need a teacher, you just need a good starting image,<br>and then you can use <a href="https://www.youtube.com/watch?v=7w-Tjd5DrS0">Tracing Paper</a>, or <a href="https://www.youtube.com/watch?v=G1fAWGTTFdY">A Wall Projector</a>, or <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">The Grid Method</a>, or <a href="https://www.youtube.com/watch?v=XCVJyFHcb38">Digital Reference Tools</a>.</p>
  <p>There is a lot of critics in this area that will try to interrupt you,<br>but they are just people who were made ill by pretending to be special.</p>
  <p>To be special in Art, like in all things,<br>is to become a teacher or an inspiration, and not stay a pretender.</p>
  <p>You will often hear a pretender say how "all these people make him want to quit being an artist",<br>that is not even possible, as we are all natural born artists.</p>
  <p>The mystery of an artist and their skill is,<br>is just navigating whatever they are familiar with, the same way they navigate the city they live in.</p>
  <p>The content of our maps, is not something we are born with,<br>it is something we can memorize as easily as navigating a city, by using helpful reference tools.</p>
  <p>Digital art has one huge bonus, you can master colors too,<br>by sampling them from your original first, with the click of a button, often you just hold the Control-Key to activate the color picker.</p>
  <p>Otherwise, you have to learn to mix your own colors,<br>for which you will need a pane of glass so that you can easily compare your mix.</p>
  <p>But eventually, this too becomes a matter of navigation,<br>as some color combinations are more harmonious than others and you will navigate them relative to the subject.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But this is the lobby, this is just where everyone starts,<br>Art loves you so much, that you start as a perfect art superstar.</p>
  <p>Once you have your fill of glory and laughter,<br>your instinct will have you look away from what everyone is doing.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In the beginning, you become a perfect artist,<br>and in a way, your first mighty step, is to expand it, by moving away from it.</p>
  <p>The destination, the destination is always the same,<br>in all our pursuits of excellence.</p>
  <p>You are meant to take whatever moves you,<br>and build, build and grow all the way up, until you become a great being.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Art is also a test of your worthiness,<br>exactly like the tests described in all the myths.</p>
  <p>You are granted a power to make other admire you,<br>will you just pretend, or set off on one of the greatest adventures of your life.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The price to pay for tricking others into thinking that one is special,<br>instead of teaching them how you do it, so that they can join the world of art.</p>
  <p>Is that one never learns more, never grows up,<br>they stay in the beginning.</p>
  <p>The failure to travel the universe of art,<br>means that there is no adventure to be had in it</p>
  <p>Thus all the hateful artists,<br>forget art - because they think they've seen it all.</p>
  <p>What really happened is that they lied themselves in a circle,<br>just in the art lobby, and just to feel special for a while.</p>
  <p>Once they were done pretending,<br>so was their art and their practice of art.</p>
  <p>It is a tragedy, but again the world of art belongs to us all,<br>the haters will rope-a-dope themselves and get ejected out, this is how the world of art stays so beautiful.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Finally, you should know that the definition of good art is not “I’ll know it when I see it”<br>but rather: “Good Art; is the kind of art, that changes lives for better”.</p>
  <p>A good artist is one that teachers,<br>so you must get as many people as you can into the beginning, into the lobby.</p>
  <p>So that they understand they are born special,<br>from Art new schools will emerge.</p>
  <p>Ones that will allow students to learn what they want, when they want it,<br>where they will never be told to hurry, or that they are cut off, or finished.</p>
  <p>Here the students will be graded by authentic achievement,<br>not simulated <a href="https://www.youtube.com/watch?v=DzSnvxejenY">imaginary grades, that teachers manipulate to hide that they aren’t working</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Art is one of several such hubs of creativity and promise,<br>Philosophy is another.</p>
  <p>These schools, born from our most beautiful superpowers,<br>will eventually set the world free from Dark Ages and Poverty.</p>
  <p>Here humanity will resume advancing forward,<br>to converge in its Greatness on Wisdom and World Peace.</p>
</div>