<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is easy to create general styles of art,<br>abstraction, hyper-realism, upgraded reproductions, composites, lowbrow silliness.</div>
  <div class="paragraph">And because the world got stuck in poverty,<br>we can talk about it.</div>
  <div class="paragraph">There is no such thing as magic,<br>there is a simple explanation for how artists create great art.</div>
  <div class="paragraph">The easiest way to get there is to <span>follow Drew Struzan's observation<sup>[1]</sup></span>,<br>the first version of your painting will tell you about all the details you have to take care of to create the final.</div>
  <div class="paragraph">More than that, by applying reference images directly,<br><span>your skill and knowledge improves, the same way you memorize how to navigate a city<sup>[2]</sup></span>.</div>
  <div class="paragraph">You don't need a teacher, you just need a good starting image,<br>and then you can use <span>Tracing Paper<sup>[3]</sup></span>, or <span>A Wall Projector<sup>[4]</sup></span>, or <span>The Grid Method<sup>[5]</sup></span>, or <span>Digital Reference Tools<sup>[6]</sup></span>.</div>
  <div class="paragraph">There is a lot of critics in this area that will try to interrupt you,<br>but they are just people who were made ill by pretending to be special.</div>
  <div class="paragraph">To be special in Art, like in all things,<br>is to become a teacher or an inspiration, and not stay a pretender.</div>
  <div class="paragraph">You will often hear a pretender say how "all these people make him want to quit being an artist",<br>that is not even possible, as we are all natural born artists.</div>
  <div class="paragraph">The mystery of an artist and their skill is,<br>is just navigating whatever they are familiar with, the same way they navigate the city they live in.</div>
  <div class="paragraph">The content of our maps, is not something we are born with,<br>it is something we can memorize as easily as navigating a city, by using helpful reference tools.</div>
  <div class="paragraph">Digital art has one huge bonus, you can master colors too,<br>by sampling them from your original first, with the click of a button, often you just hold the Control-Key to activate the color picker.</div>
  <div class="paragraph">Otherwise, you have to learn to mix your own colors,<br>for which you will need a pane of glass so that you can easily compare your mix.</div>
  <div class="paragraph">But eventually, this too becomes a matter of navigation,<br>as some color combinations are more harmonious than others and you will navigate them relative to the subject.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But this is the lobby, this is just where everyone starts,<br>Art loves you so much, that you start as a perfect art superstar.</div>
  <div class="paragraph">Once you have your fill of glory and laughter,<br>your instinct will have you look away from what everyone is doing.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In the beginning, you become a perfect artist,<br>and in a way, your first mighty step, is to expand it, by moving away from it.</div>
  <div class="paragraph">The destination, the destination is always the same,<br>in all our pursuits of excellence.</div>
  <div class="paragraph">You are meant to take whatever moves you,<br>and build, build and grow all the way up, until you become a great being.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Art is also a test of your worthiness,<br>exactly like the tests described in all the myths.</div>
  <div class="paragraph">You are granted a power to make other admire you,<br>will you just pretend, or set off on one of the greatest adventures of your life.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The price to pay for tricking others into thinking that one is special,<br>instead of teaching them how you do it, so that they can join the world of art.</div>
  <div class="paragraph">Is that one never learns more, never grows up,<br>they stay in the beginning.</div>
  <div class="paragraph">The failure to travel the universe of art,<br>means that there is no adventure to be had in it</div>
  <div class="paragraph">Thus all the hateful artists,<br>forget art - because they think they've seen it all.</div>
  <div class="paragraph">What really happened is that they lied themselves in a circle,<br>just in the art lobby, and just to feel special for a while.</div>
  <div class="paragraph">Once they were done pretending,<br>so was their art and their practice of art.</div>
  <div class="paragraph">It is a tragedy, but again the world of art belongs to us all,<br>the haters will rope-a-dope themselves and get ejected out, this is how the world of art stays so beautiful.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Finally, you should know that the definition of good art is not “I’ll know it when I see it”<br>but rather: “Good Art; is the kind of art, that changes lives for better”.</div>
  <div class="paragraph">A good artist is one that teachers,<br>so you must get as many people as you can into the beginning, into the lobby.</div>
  <div class="paragraph">So that they understand they are born special,<br>from Art new schools will emerge.</div>
  <div class="paragraph">Ones that will allow students to learn what they want, when they want it,<br>where they will never be told to hurry, or that they are cut off, or finished.</div>
  <div class="paragraph">Here the students will be graded by authentic achievement,<br>not simulated <span>imaginary grades, that teachers manipulate to hide that they aren’t working<sup>[7]</sup></span>.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Art is one of several such hubs of creativity and promise,<br>Philosophy is another.</div>
  <div class="paragraph">These schools, born from our most beautiful superpowers,<br>will eventually set the world free from Dark Ages and Poverty.</div>
  <div class="paragraph">Here humanity will resume advancing forward,<br>to converge in its Greatness on Wisdom and World Peace.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=0fEMJp70tGU</div>
  <div>[2]: https://www.youtube.com/watch?v=PIbz_gKw0XY</div>
  <div>[3]: https://www.youtube.com/watch?v=7w-Tjd5DrS0</div>
  <div>[4]: https://www.youtube.com/watch?v=G1fAWGTTFdY</div>
  <div>[5]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
  <div>[6]: https://www.youtube.com/watch?v=XCVJyFHcb38</div>
  <div>[7]: https://www.youtube.com/watch?v=DzSnvxejenY</div>
</div>