<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We all noticed how we appear differently,<br>in different photos.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Unless you send in a video,<br>or model in person.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The artist won't know which photo,<br>most closely resembles your general appearance.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If someone uses a photo that seems really weird,<br>then they will basically fail to capture your portrait.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The angle is complex, it is not just left and right,<br>but up and down, and lighting.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The way to do this fast, without in-person appearances,<br>is to ask the model for a photo...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That she feels, most closely resembles her,<br>out of all her other good photos.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Even if you build a photogrammetry portrait rig,<br>and create a 3D model of the head.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You still need to send it to the person,<br>if they have too many choices, or feel pressured, they'll pick the wrong one.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It is not photogrammetry that you need,<br>you just let the model keep taking photos on sunny days.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Until they find one they love,<br>that they want painted.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This is of course something that no one wants to hear,<br>because real art is freehand.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I saw a master painter create a beautiful painting, perfect in every way.<br>with an indented skull of their model, and a brick of hair in their back.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">He did everything perfectly, it was amazing,<br>but the eyes were bleeding in some weird way.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The skin had a shockingly perfect color, but it was too stretchy,<br>if the model became real, would stretch like bubble gum.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In 3D modeling of jewelry, rings are much different from pendants,<br>because you have to do all sizes, ensure sturdiness, and that it can be polished.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you create a pendant, you just put a little eyelet up top,<br>and you could skip polishing, maybe.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It is much easier, to draw a face from memory, or imagination,<br>but a portrait, a real portrait, must rely on direct reference.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The photo must be approved by the person as something that she identifies with,<br>and what you have in the photo must go on the paper, precisely.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Only after you finish with the photo,<br>then you can stylize some things to make them more ideal.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Highly stylized portraits where the face is made younger, or cuter,<br>are not that different, a smaller bottom half of face or bigger eyes, are not an exception.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because no one looking at their cuter self, or even ridiculously younger self,<br>will be disappointed, the brain will ignore those changes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Even though they have a smaller chin they will still feel connected,<br>to that appearance.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Now, you should know that a proper artist, should pay the face distortion tax,<br>you still need to create the un-distorted appearance, because a person's appearance is sacred.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A portrait is not about what the artist thinks art is,<br>a portrait requires a perfect photo.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where the model herself says,<br>"Yes, that is me."</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you don't do this,<br>then upon delivery of the finished portrait.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The first thing the person will notice,<br>is that it is not what they look like.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that means,<br>it is not their portrait.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Portraits are special,<br>a person's appearance is sacred.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wu5cgz/this_is_my_cat/ile3i21/?context=3">Title-image Contest</a><br><a href="https://youtu.be/g1jt7knRBI0">Time-lapse Video</a></div>
  </div>
</div>