<div class="section">
  <p>We all noticed how we appear differently,<br>in different photos.</p>
  <p>Unless you send in a video,<br>or model in person.</p>
  <p>The artist won't know which photo,<br>most closely resembles your general appearance.</p>
  <p>If someone uses a photo that seems really weird,<br>then they will basically fail to capture your portrait.</p>
  <p>The angle is complex, it is not just left and right,<br>but up and down, and lighting.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The way to do this fast, without in-person appearances,<br>is to ask the model for a photo...</p>
  <p>That she feels, most closely resembles her,<br>out of all her other good photos.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Even if you build a photogrammetry portrait rig,<br>and create a 3D model of the head.</p>
  <p>You still need to send it to the person,<br>if they have too many choices, or feel pressured, they'll pick the wrong one.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It is not photogrammetry that you need,<br>you just let the model keep taking photos on sunny days.</p>
  <p>Until they find one they love,<br>that they want painted.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This is of course something that no one wants to hear,<br>because real art is freehand.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I saw a master painter create a beautiful painting, perfect in every way.<br>with an indented skull of their model, and a brick of hair in their back.</p>
  <p>He did everything perfectly, it was amazing,<br>but the eyes were bleeding in some weird way.</p>
  <p>The skin had a shockingly perfect color, but it was too stretchy,<br>if the model became real, would stretch like bubble gum.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In 3D modeling of jewelry, rings are much different from pendants,<br>because you have to do all sizes, ensure sturdiness, and that it can be polished.</p>
  <p>If you create a pendant, you just put a little eyelet up top,<br>and you could skip polishing, maybe.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It is much easier, to draw a face from memory, or imagination,<br>but a portrait, a real portrait, must rely on direct reference.</p>
  <p>The photo must be approved by the person as something that she identifies with,<br>and what you have in the photo must go on the paper, precisely.</p>
  <p>Only after you finish with the photo,<br>then you can stylize some things to make them more ideal.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Highly stylized portraits where the face is made younger, or cuter,<br>are not that different, a smaller bottom half of face or bigger eyes, are not an exception.</p>
  <p>Because no one looking at their cuter self, or even ridiculously younger self,<br>will be disappointed, the brain will ignore those changes.</p>
  <p>Even though they have a smaller chin they will still feel connected,<br>to that appearance.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Now, you should know that a proper artist, should pay the face distortion tax,<br>you still need to create the un-distorted appearance, because a person's appearance is sacred.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A portrait is not about what the artist thinks art is,<br>a portrait requires a perfect photo.</p>
  <p>Where the model herself says,<br>"Yes, that is me."</p>
  <p>If you don't do this,<br>then upon delivery of the finished portrait.</p>
  <p>The first thing the person will notice,<br>is that it is not what they look like.</p>
  <p>And that means,<br>it is not their portrait.</p>
  <p>Portraits are special,<br>a person's appearance is sacred.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wu5cgz/this_is_my_cat/ile3i21/?context=3">Title-image Contest</a><br><a href="https://youtu.be/g1jt7knRBI0">Time-lapse Video</a></p>
</div>