<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We all noticed how we appear differently,<br>in different photos.</div>
  <div class="paragraph">Unless you send in a video,<br>or model in person.</div>
  <div class="paragraph">The artist won't know which photo,<br>most closely resembles your general appearance.</div>
  <div class="paragraph">If someone uses a photo that seems really weird,<br>then they will basically fail to capture your portrait.</div>
  <div class="paragraph">The angle is complex, it is not just left and right,<br>but up and down, and lighting.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The way to do this fast, without in-person appearances,<br>is to ask the model for a photo...</div>
  <div class="paragraph">That she feels, most closely resembles her,<br>out of all her other good photos.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Even if you build a photogrammetry portrait rig,<br>and create a 3D model of the head.</div>
  <div class="paragraph">You still need to send it to the person,<br>if they have too many choices, or feel pressured, they'll pick the wrong one.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is not photogrammetry that you need,<br>you just let the model keep taking photos on sunny days.</div>
  <div class="paragraph">Until they find one they love,<br>that they want painted.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This is of course something that no one wants to hear,<br>because real art is freehand.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I saw a master painter create a beautiful painting, perfect in every way.<br>with an indented skull of their model, and a brick of hair in their back.</div>
  <div class="paragraph">He did everything perfectly, it was amazing,<br>but the eyes were bleeding in some weird way.</div>
  <div class="paragraph">The skin had a shockingly perfect color, but it was too stretchy,<br>if the model became real, would stretch like bubble gum.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In 3D modeling of jewelry, rings are much different from pendants,<br>because you have to do all sizes, ensure sturdiness, and that it can be polished.</div>
  <div class="paragraph">If you create a pendant, you just put a little eyelet up top,<br>and you could skip polishing, maybe.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is much easier, to draw a face from memory, or imagination,<br>but a portrait, a real portrait, must rely on direct reference.</div>
  <div class="paragraph">The photo must be approved by the person as something that she identifies with,<br>and what you have in the photo must go on the paper, precisely.</div>
  <div class="paragraph">Only after you finish with the photo,<br>then you can stylize some things to make them more ideal.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Highly stylized portraits where the face is made younger, or cuter,<br>are not that different, a smaller bottom half of face or bigger eyes, are not an exception.</div>
  <div class="paragraph">Because no one looking at their cuter self, or even ridiculously younger self,<br>will be disappointed, the brain will ignore those changes.</div>
  <div class="paragraph">Even though they have a smaller chin they will still feel connected,<br>to that appearance.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Now, you should know that a proper artist, should pay the face distortion tax,<br>you still need to create the un-distorted appearance, because a person's appearance is sacred.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A portrait is not about what the artist thinks art is,<br>a portrait requires a perfect photo.</div>
  <div class="paragraph">Where the model herself says,<br>"Yes, that is me."</div>
  <div class="paragraph">If you don't do this,<br>then upon delivery of the finished portrait.</div>
  <div class="paragraph">The first thing the person will notice,<br>is that it is not what they look like.</div>
  <div class="paragraph">And that means,<br>it is not their portrait.</div>
  <div class="paragraph">Portraits are special,<br>a person's appearance is sacred.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title-image Contest<sup>[1]</sup></span><br><span>Time-lapse Video<sup>[2]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.reddit.com/r/redditgetsdrawn/comments/wu5cgz/this_is_my_cat/ile3i21/?context=3</div>
  <div>[2]: https://youtu.be/g1jt7knRBI0</div>
</div>