<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There are three popular ways,<br>to get going in art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The Quasimodo that they teach in school,<br>where everything is slightly crooked, and the schools turn out to be a diploma mill.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Thankfully, due to recent mass refunds,<br>a lot of courageous art teachers are now asking themselves:</div>
    <div class="paragraph card-text card-stanza my-5 text-center">“What exactly <strong>is</strong> the difference between my art class,<br>and a diploma mill art class”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As they are always on the lookout,<br>to make their art instruction, more revolutionary.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The Digital Art way where, you have access to advanced tools,<br>that would make Renaissance Masters, faint, or more presidency paint really well.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One of the most beloved artists, that I also hold in authentic great esteem,<br>just happened to be friends, with a master lens maker.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Who was the first to examine the microscopic word,<br>when you think about it, a wall projector is just a lens, mirror, and a light bulb.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There cannot be teachers greater,<br>than the projection of light it self, and it shows in all of his work.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Modern artists are unhappy about advanced tooling,<br>but only because they misunderstood them as competition, no surprise there.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Whereas those tools,<br>merely teach merely teach us how to become great artists..</div>
    <div class="paragraph card-text card-stanza my-5 text-center">After all, light,<br>will forever be the greatest teacher of Art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And Lowbrow, where everything you paint, has a preset proportion,<br>but still comes out as loving, funny, amazing and instantly becomes a cute keepsake.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A lot of people independently invent Lowbrow,<br>when they try to paint something cartoony with serious art equipment.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">One of my favorite Lowbrow stories,<br>is a lady flying up a hill to inspect my painting.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It was at a rest area, and I had my easel,<br>and looked artistic, amazing, and extremely mature.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once she made it up the hill and took in the picturesque area that I was enjoying,<br>she then discovered I was painting Brian from Family Guy, drinking a Martini.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Her disappointment, as she took to sliding back down the hill,<br>to the child she she abandoned in her haste - was... immeasurable.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But I did hear her say,<br>“It was just a dog drinking an adult beverage”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Which means - and without a doubt,<br>that her baby grew up to become an Artist.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This event confirmed what I already knew,<br>Lowbrow is the greatest form of art.</div>
  </div>
</div>