<div class="section">
  <p>There are three popular ways,<br>to get going in art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The Quasimodo that they teach in school,<br>where everything is slightly crooked, and the schools turn out to be a diploma mill.</p>
  <p>Thankfully, due to recent mass refunds,<br>a lot of courageous art teachers are now asking themselves:</p>
  <p>“What exactly <strong>is</strong> the difference between my art class,<br>and a diploma mill art class”.</p>
  <p>As they are always on the lookout,<br>to make their art instruction, more revolutionary.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The Digital Art way where, you have access to advanced tools,<br>that would make Renaissance Masters, faint, or more presidency paint really well.</p>
  <p>One of the most beloved artists, that I also hold in authentic great esteem,<br>just happened to be friends, with a master lens maker.</p>
  <p>Who was the first to examine the microscopic word,<br>when you think about it, a wall projector is just a lens, mirror, and a light bulb.</p>
  <p>There cannot be teachers greater,<br>than the projection of light it self, and it shows in all of his work.</p>
  <p>Modern artists are unhappy about advanced tooling,<br>but only because they misunderstood them as competition, no surprise there.</p>
  <p>Whereas those tools,<br>merely teach merely teach us how to become great artists..</p>
  <p>After all, light,<br>will forever be the greatest teacher of Art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And Lowbrow, where everything you paint, has a preset proportion,<br>but still comes out as loving, funny, amazing and instantly becomes a cute keepsake.</p>
  <p>A lot of people independently invent Lowbrow,<br>when they try to paint something cartoony with serious art equipment.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>One of my favorite Lowbrow stories,<br>is a lady flying up a hill to inspect my painting.</p>
  <p>It was at a rest area, and I had my easel,<br>and looked artistic, amazing, and extremely mature.</p>
  <p>Once she made it up the hill and took in the picturesque area that I was enjoying,<br>she then discovered I was painting Brian from Family Guy, drinking a Martini.</p>
  <p>Her disappointment, as she took to sliding back down the hill,<br>to the child she she abandoned in her haste - was... immeasurable.</p>
  <p>But I did hear her say,<br>“It was just a dog drinking an adult beverage”.</p>
  <p>Which means - and without a doubt,<br>that her baby grew up to become an Artist.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This event confirmed what I already knew,<br>Lowbrow is the greatest form of art.</p>
</div>