<div class="section">
  <p>It is, it is really fun, it is a form of tool making,<br>and in a way, it is somewhat similar to board games.</p>
  <p>You have to take the time to look at the rules,<br>before you sit down to play.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A couple of times,<br>I felt that I need to be able to put a thing on the monitor.</p>
  <p>One time, on a Commodore 64,<br>it was a pixel, and then a line.</p>
  <p>And later on in Windows 95,<br>I wanted an empty window, followed by a Rolodex program.</p>
  <p>I just thought,<br>it would be really neat.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The empty window/Rolodex in VisualBasic took me to programming web pages in ASP,<br>web pages use HTML, a description language, but it can be scripted with other languages.</p>
  <p>And I was practicing ASP by programming a clone,<br>of a cute email sending program called <a href="https://en.wikipedia.org/wiki/FormMail">FormMail</a>.</p>
  <p>FormMail was written in Perl language I never used before,<br>I was just scanning it for ideas.</p>
  <p>But the more time I spent with Perl,<br>the more I learned about it.</p>
  <p>I ended up abandoning ASP,<br>for Perl, Perl when it was more popular was awesome.</p>
  <p>People were scared of it,<br>they wanted Ruby and Python, which are easier to read.</p>
  <p>Python is still popular,<br>but loved Perl.</p>
  <p>I later switched to PHP,<br>and programmed the heck out of it.</p>
  <p>But the idea of using one language on the server,<br>and another one in the web browser was too odd.</p>
  <p>Now I program in modern JavaScript,<br>and when I switch from server to browser, I don't even think about it.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There are some areas that create hard to read code,<br>no matter what language I use.</p>
  <p>And I think that my next programming language,<br>will be drag and drop, similar to <a href="https://www.youtube.com/results?search_query=+Blender%27s+Geometry+Nodes">Blender's Geometry Nodes</a>.</p>
  <p>I will write it in JavaScript,<br>probably using the Svelte framework.</p>
  <p>I started programming when I was about 10, maybe 9,<br>I never regretted it, never got stuck, it was never been unpleasant.</p>
  <p>It was always been fun,<br>for many years, I would write little programs on Holidays, like Christmas or New Year.</p>
  <p>It is just that fun,<br>it helps you make a nice day better.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On the other side of fun,<br>you discover usefulness.</p>
  <p>There is nothing you can't do,<br><a href="https://github.com/rwaldron/johnny-five#hello-johnny">or automate</a>, <a href="https://github.com/NARKOZ/hacker-scripts">or go cheerfully nuts with</a>.</p>
  <p>When you are bored you can write a program, to convert a tiny photo,<br>to an audio file that will speak a color at every pixel.</p>
  <p>Then you get some M&Ms, sort them in jars,<br>put on the headphones, and copy that photo by precisely arranging rows of colored candy.</p>
  <p>But when you need something, especially for yourself,<br>it then becomes a master piece, massively over-programmed, multiple code generators, and new lessons everywhere.</p>
  <p>Not so long ago I've noticed, that a program used for transpiling, or optimizing files,<br>popped up with these two beautiful functions, <a href="https://gulpjs.com/docs/en/api/parallel/">parallel</a> and series.</p>
  <p>This afternoon I started testing a new code generator,<br>I am trying to see how fast I can get my website to generate on an inexpensive Raspberry PI.</p>
  <p>Parallel processing has been around forever,<br>but it really shines when transforming files in a language as pleasant as JavaScript.</p>
  <p>These two functions so simply named,<br>can be nested together to create nested workflows that execute some things in a sequence, and others all at once.</p>
  <p>When you are resizing images, you can resize them in parallel,<br>but when you are compressing and later publishing a website, you use the series function.</p>
  <p>This way you finish compressing,<br>before you start publishing.</p>
  <p>Any time you sit down to something new,<br>there is always something neat waiting for you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In closing, if you care to try programming,<br>you should know that there are games, where you program your character to move.</p>
  <p>One such game is <a href="https://warriorjs.com/">WarriorJs</a> where you have to call the method walk,<br>that belongs to the warrior object, you have to type in warrior.walk().</p>
  <p>Followed by round brackets which means,<br>execute the function.</p>
  <p>The function is execute in an object called player,<br>and a method called playTurn.</p>
  <p>Which means,<br>you will keep walking each time it is your turn to do something.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The world of programming,<br>is as big of an adventure, as you can imagine it to be.</p>
</div>