<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is, it is really fun, it is a form of tool making,<br>and in a way, it is somewhat similar to board games.</div>
  <div class="paragraph">You have to take the time to look at the rules,<br>before you sit down to play.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A couple of times,<br>I felt that I need to be able to put a thing on the monitor.</div>
  <div class="paragraph">One time, on a Commodore 64,<br>it was a pixel, and then a line.</div>
  <div class="paragraph">And later on in Windows 95,<br>I wanted an empty window, followed by a Rolodex program.</div>
  <div class="paragraph">I just thought,<br>it would be really neat.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The empty window/Rolodex in VisualBasic took me to programming web pages in ASP,<br>web pages use HTML, a description language, but it can be scripted with other languages.</div>
  <div class="paragraph">And I was practicing ASP by programming a clone,<br>of a cute email sending program called <span>FormMail<sup>[1]</sup></span>.</div>
  <div class="paragraph">FormMail was written in Perl language I never used before,<br>I was just scanning it for ideas.</div>
  <div class="paragraph">But the more time I spent with Perl,<br>the more I learned about it.</div>
  <div class="paragraph">I ended up abandoning ASP,<br>for Perl, Perl when it was more popular was awesome.</div>
  <div class="paragraph">People were scared of it,<br>they wanted Ruby and Python, which are easier to read.</div>
  <div class="paragraph">Python is still popular,<br>but loved Perl.</div>
  <div class="paragraph">I later switched to PHP,<br>and programmed the heck out of it.</div>
  <div class="paragraph">But the idea of using one language on the server,<br>and another one in the web browser was too odd.</div>
  <div class="paragraph">Now I program in modern JavaScript,<br>and when I switch from server to browser, I don't even think about it.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are some areas that create hard to read code,<br>no matter what language I use.</div>
  <div class="paragraph">And I think that my next programming language,<br>will be drag and drop, similar to <span>Blender's Geometry Nodes<sup>[2]</sup></span>.</div>
  <div class="paragraph">I will write it in JavaScript,<br>probably using the Svelte framework.</div>
  <div class="paragraph">I started programming when I was about 10, maybe 9,<br>I never regretted it, never got stuck, it was never been unpleasant.</div>
  <div class="paragraph">It was always been fun,<br>for many years, I would write little programs on Holidays, like Christmas or New Year.</div>
  <div class="paragraph">It is just that fun,<br>it helps you make a nice day better.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">On the other side of fun,<br>you discover usefulness.</div>
  <div class="paragraph">There is nothing you can't do,<br><span>or automate<sup>[3]</sup></span>, <span>or go cheerfully nuts with<sup>[4]</sup></span>.</div>
  <div class="paragraph">When you are bored you can write a program, to convert a tiny photo,<br>to an audio file that will speak a color at every pixel.</div>
  <div class="paragraph">Then you get some M&Ms, sort them in jars,<br>put on the headphones, and copy that photo by precisely arranging rows of colored candy.</div>
  <div class="paragraph">But when you need something, especially for yourself,<br>it then becomes a master piece, massively over-programmed, multiple code generators, and new lessons everywhere.</div>
  <div class="paragraph">Not so long ago I've noticed, that a program used for transpiling, or optimizing files,<br>popped up with these two beautiful functions, <span>parallel<sup>[5]</sup></span> and series.</div>
  <div class="paragraph">This afternoon I started testing a new code generator,<br>I am trying to see how fast I can get my website to generate on an inexpensive Raspberry PI.</div>
  <div class="paragraph">Parallel processing has been around forever,<br>but it really shines when transforming files in a language as pleasant as JavaScript.</div>
  <div class="paragraph">These two functions so simply named,<br>can be nested together to create nested workflows that execute some things in a sequence, and others all at once.</div>
  <div class="paragraph">When you are resizing images, you can resize them in parallel,<br>but when you are compressing and later publishing a website, you use the series function.</div>
  <div class="paragraph">This way you finish compressing,<br>before you start publishing.</div>
  <div class="paragraph">Any time you sit down to something new,<br>there is always something neat waiting for you.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In closing, if you care to try programming,<br>you should know that there are games, where you program your character to move.</div>
  <div class="paragraph">One such game is <span>WarriorJs<sup>[6]</sup></span> where you have to call the method walk,<br>that belongs to the warrior object, you have to type in warrior.walk().</div>
  <div class="paragraph">Followed by round brackets which means,<br>execute the function.</div>
  <div class="paragraph">The function is execute in an object called player,<br>and a method called playTurn.</div>
  <div class="paragraph">Which means,<br>you will keep walking each time it is your turn to do something.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The world of programming,<br>is as big of an adventure, as you can imagine it to be.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://en.wikipedia.org/wiki/FormMail</div>
  <div>[2]: https://www.youtube.com/results?search_query=+Blender%27s+Geometry+Nodes</div>
  <div>[3]: https://github.com/rwaldron/johnny-five#hello-johnny</div>
  <div>[4]: https://github.com/NARKOZ/hacker-scripts</div>
  <div>[5]: https://gulpjs.com/docs/en/api/parallel/</div>
  <div>[6]: https://warriorjs.com/</div>
</div>