<div class="section">
  <p>Humans are special, but also built out of ancient technology.<br>as our machinery needs batteries, called knowledge.</p>
  <p>Advertisers are trying to shove electric scooters and sugary drinks,<br>in the battery compartment betwix our ears.</p>
  <p>The politicians want to polarize you with a hot issue,<br>so hot, that you will get enraged and vote on them.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Battery aside, what we really need, is to see,<br>in the long term.</p>
  <p>They have you bickering at the hot issues,<br>where they are supposed to prevent those situations from ever arising.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We are being manipulated, and easily mislead,<br>by politicians suspiciously repeating the same damn problems.</p>
  <p>And indeed humanity is not getting the correct education,<br>and even the schools are incorrectly formatted.</p>
  <p>Even good people watching time pass them by,<br>eventually start bickering at the hotpots.</p>
  <p>Like chickens fed feed, by a farmer,<br>and the world grows darker for it.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>No you can't fix whatever is pissing you off,<br>the carrot on the stick is just a political trick.</p>
  <p>You have to learn to see the string tied to the carrot,<br>you have to see the stick to which the string is tied.</p>
  <p>And you have to follow the breadcrumbs,<br>to see that broken education and poverty is turning humanity into a donkey.</p>
  <p>Stay positive - before you get mad, follow the string, to broken schools,<br>and to the poverty that turns children into tools.</p>
</div>