<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Humans are special, but also built out of ancient technology.<br>as our machinery needs batteries, called knowledge.</div>
  <div class="paragraph">Advertisers are trying to shove electric scooters and sugary drinks,<br>in the battery compartment betwix our ears.</div>
  <div class="paragraph">The politicians want to polarize you with a hot issue,<br>so hot, that you will get enraged and vote on them.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Battery aside, what we really need, is to see,<br>in the long term.</div>
  <div class="paragraph">They have you bickering at the hot issues,<br>where they are supposed to prevent those situations from ever arising.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We are being manipulated, and easily mislead,<br>by politicians suspiciously repeating the same damn problems.</div>
  <div class="paragraph">And indeed humanity is not getting the correct education,<br>and even the schools are incorrectly formatted.</div>
  <div class="paragraph">Even good people watching time pass them by,<br>eventually start bickering at the hotpots.</div>
  <div class="paragraph">Like chickens fed feed, by a farmer,<br>and the world grows darker for it.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">No you can't fix whatever is pissing you off,<br>the carrot on the stick is just a political trick.</div>
  <div class="paragraph">You have to learn to see the string tied to the carrot,<br>you have to see the stick to which the string is tied.</div>
  <div class="paragraph">And you have to follow the breadcrumbs,<br>to see that broken education and poverty is turning humanity into a donkey.</div>
  <div class="paragraph">Stay positive - before you get mad, follow the string, to broken schools,<br>and to the poverty that turns children into tools.</div>
</div>