<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When learning hair,<br>painting hair alone, can be disorienting.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And painting a portrait to go along with it,<br>will certainly be very distracting.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Especially in computer world,<br>you can paint the hair over a nice photo.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is a pleasant and exquisite way,<br>of practicing challenging art talents.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Today, the so called artists,<br>or the crazies as I call them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do not want you to do tracing, paint overs,<br>color picking, or photobashing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They just want you t o believe,<br>that they could always draw and mix color perfectly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That they are special, and superior,<br>and that slightly misshapen freehand art is the mark of a true artist.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Just, ignore them,<br>ignore their so called teachers too.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The methods I present here,<br>allow you to learn at your own pace.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And in a sequence that fits you best,<br>a sequence that calls to you.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The real definition of an artist,<br>is a cheerful and lovely person that is always creating art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In other words, we needed a name,<br>for people who are always create art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And we came up with the word:<br>arrrrtisst.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Working on top of a photo,<br>to focus on what you need is not the whole story.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I don’t quite know how to state this,<br>but most animals look really captivating in wigs.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">More than that,<br><a href="https://www.reddit.com/r/birdswitharms/">birds need arms</a> - having wings is awesome but still kind of unfair.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And if you really need a human,<br>for practicing abdominal muscles or figure in general.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Ask yourself, if it maybe better,<br>to replace the surfer's head with the head of a sloth.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or give a hunter broader shoulders,<br>and give them a gorilla’s head.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Sure it is an extra step,<br>but there is a fancy art secret here.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The thing that makes practicing art stick really well,<br>so that you remember it perfectly... is having the giggles.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Plus, if you are giggling while practicing your art,<br>you actually make the entire universe more precious.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, if you are not sure what animal to start with,<br>consider Cats, Squirrels, Bush Babies, Lemurs, and Meerkats.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/user/catpea-com/comments/wblo1h/purrdy/">High Resolution</a>,<br><a href="https://youtu.be/Nj7_rqW5WRg">Time Lapse</a>.</div>
  </div>
</div>