<div class="section">
  <p>When learning hair,<br>painting hair alone, can be disorienting.</p>
  <p>And painting a portrait to go along with it,<br>will certainly be very distracting.</p>
  <p>Especially in computer world,<br>you can paint the hair over a nice photo.</p>
  <p>It is a pleasant and exquisite way,<br>of practicing challenging art talents.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Today, the so called artists,<br>or the crazies as I call them.</p>
  <p>Do not want you to do tracing, paint overs,<br>color picking, or photobashing.</p>
  <p>They just want you t o believe,<br>that they could always draw and mix color perfectly.</p>
  <p>That they are special, and superior,<br>and that slightly misshapen freehand art is the mark of a true artist.</p>
  <p>Just, ignore them,<br>ignore their so called teachers too.</p>
  <p>The methods I present here,<br>allow you to learn at your own pace.</p>
  <p>And in a sequence that fits you best,<br>a sequence that calls to you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The real definition of an artist,<br>is a cheerful and lovely person that is always creating art.</p>
  <p>In other words, we needed a name,<br>for people who are always create art.</p>
  <p>And we came up with the word:<br>arrrrtisst.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Working on top of a photo,<br>to focus on what you need is not the whole story.</p>
  <p>I don’t quite know how to state this,<br>but most animals look really captivating in wigs.</p>
  <p>More than that,<br><a href="https://www.reddit.com/r/birdswitharms/">birds need arms</a> - having wings is awesome but still kind of unfair.</p>
  <p>And if you really need a human,<br>for practicing abdominal muscles or figure in general.</p>
  <p>Ask yourself, if it maybe better,<br>to replace the surfer's head with the head of a sloth.</p>
  <p>Or give a hunter broader shoulders,<br>and give them a gorilla’s head.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Sure it is an extra step,<br>but there is a fancy art secret here.</p>
  <p>The thing that makes practicing art stick really well,<br>so that you remember it perfectly... is having the giggles.</p>
  <p>Plus, if you are giggling while practicing your art,<br>you actually make the entire universe more precious.</p>
  <p>Finally, if you are not sure what animal to start with,<br>consider Cats, Squirrels, Bush Babies, Lemurs, and Meerkats.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/user/catpea-com/comments/wblo1h/purrdy/">High Resolution</a>,<br><a href="https://youtu.be/Nj7_rqW5WRg">Time Lapse</a>.</p>
</div>