<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In art we tent to rise by making each new work,<br>better than the previous one.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The only way to wisely and properly fix things with an eye on the future,<br>is for young people to receive a real and life changing education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Real education, is the most beautiful,<br>and charming, and pleasant experience of our lives.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In just months,<br>you begin laughing at yourself...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">For trying to run<br>in multiple directions at once for all the lovely things you’ve learned.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Digital Art and Design, Web Design, 3D Modeling, 3D Printing,<br>Programming, Circuit Design, Music Composition.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All with a supremely easy on-ramp,<br>and all beyond fascinating.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Here,<br>in this incredible journey across your own curiosities.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will breeze through,<br>practical applications of the more common subjects like math.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Math, for one, will be framed within some interesting context,<br>drone design, programming, <a href="https://www.youtube.com/watch?v=D5VYCxaX11U">programmatic 3D modeling</a>, generative art and screensavers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We can’t learn disconnected facts,<br>we can only pretend to have learned them by memorization.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The reason for this is not lack of intelligence,<br>but that we need pleasant context for everything we study.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The context of these new more integrated subjects,<br>is just your curiosity.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So as long as you love it,<br>you will master it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">While the world is still stuck in poverty,<br>building small startups until one takes off is a more broader context.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Even if just to push away,<br>that toxic fear of poverty.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Know, that the single most important subject,<br>therefore-by-far; the most beautiful one.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Is applied philosophy,<br>as opposed to the worthless and made stupid, academic one.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">While we speak of knowledge granting us power,<br>we never mean “disconnected shreds of knowledge” .</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We always imagine,<br>an integrated body of knowledge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A body of self reinforcing integrated knowledge,<br>that is far more than a mere sum of its parts, is called Philosophy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The very word “Philosophy” or “Philo-sophia”,<br>means love of wisdom, and wisdom is in all the things we do.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Philosophy is your first class,<br>and it alters your very being.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And it is also the last class,<br>and the unending class - the forever class.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Our inventions, nation, laws, schools,<br>must all be upgraded with long term vision in mind.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Sometimes the things that work great today,<br>cut the future generations off from a future that is worthy of them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is why you need an integrated body of knowledge,<br>so that you can re-contextualize human inventions in long term.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must never forget that in any compromise between good and evil,<br>only evil can profit.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Your generation and those that will follow, or are yet to rise,<br>will need to build the world of tomorrow with an eye on distant future.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To get there, and rise, and become a lover of wisdom,<br>and learn countless talents along he way.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must accept the responsibility,<br>for your own self education.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Self education is just a search for life changing books,<br>in the process you will read or listen to 10,000 or more.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And please understand,<br>and never forget.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That the books you couldn't find,<br>that you so hoped to read and enjoy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Are the ones that <strong>you</strong> are supposed to write,<br>the ones that don’t yet exist are your responsibility.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Today self education is the only way,<br>to connect with the word fast enough...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To make positive, lasting,<br>and meaningful changes, that will help others follow in your footsteps.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In your quest for wisdom, you will discover the heavy weight,<br>of greatness of mind, of heart, and of your legacy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once captured in your books,<br>your existence will never quite come to a close.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It will become a part of great many roads,<br>traveled by countless wise and great beings.</div>
  </div>
</div>