<div class="section">
  <p>In art we tent to rise by making each new work,<br>better than the previous one.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The only way to wisely and properly fix things with an eye on the future,<br>is for young people to receive a real and life changing education.</p>
  <p>Real education, is the most beautiful,<br>and charming, and pleasant experience of our lives.</p>
  <p>In just months,<br>you begin laughing at yourself...</p>
  <p>For trying to run<br>in multiple directions at once for all the lovely things you’ve learned.</p>
  <p>Digital Art and Design, Web Design, 3D Modeling, 3D Printing,<br>Programming, Circuit Design, Music Composition.</p>
  <p>All with a supremely easy on-ramp,<br>and all beyond fascinating.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Here,<br>in this incredible journey across your own curiosities.</p>
  <p>You will breeze through,<br>practical applications of the more common subjects like math.</p>
  <p>Math, for one, will be framed within some interesting context,<br>drone design, programming, <a href="https://www.youtube.com/watch?v=D5VYCxaX11U">programmatic 3D modeling</a>, generative art and screensavers.</p>
  <p>We can’t learn disconnected facts,<br>we can only pretend to have learned them by memorization.</p>
  <p>The reason for this is not lack of intelligence,<br>but that we need pleasant context for everything we study.</p>
  <p>The context of these new more integrated subjects,<br>is just your curiosity.</p>
  <p>So as long as you love it,<br>you will master it.</p>
  <p>While the world is still stuck in poverty,<br>building small startups until one takes off is a more broader context.</p>
  <p>Even if just to push away,<br>that toxic fear of poverty.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Know, that the single most important subject,<br>therefore-by-far; the most beautiful one.</p>
  <p>Is applied philosophy,<br>as opposed to the worthless and made stupid, academic one.</p>
  <p>While we speak of knowledge granting us power,<br>we never mean “disconnected shreds of knowledge” .</p>
  <p>We always imagine,<br>an integrated body of knowledge.</p>
  <p>A body of self reinforcing integrated knowledge,<br>that is far more than a mere sum of its parts, is called Philosophy.</p>
  <p>The very word “Philosophy” or “Philo-sophia”,<br>means love of wisdom, and wisdom is in all the things we do.</p>
  <p>Philosophy is your first class,<br>and it alters your very being.</p>
  <p>And it is also the last class,<br>and the unending class - the forever class.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Our inventions, nation, laws, schools,<br>must all be upgraded with long term vision in mind.</p>
  <p>Sometimes the things that work great today,<br>cut the future generations off from a future that is worthy of them.</p>
  <p>This is why you need an integrated body of knowledge,<br>so that you can re-contextualize human inventions in long term.</p>
  <p>You must never forget that in any compromise between good and evil,<br>only evil can profit.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Your generation and those that will follow, or are yet to rise,<br>will need to build the world of tomorrow with an eye on distant future.</p>
  <p>To get there, and rise, and become a lover of wisdom,<br>and learn countless talents along he way.</p>
  <p>You must accept the responsibility,<br>for your own self education.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Self education is just a search for life changing books,<br>in the process you will read or listen to 10,000 or more.</p>
  <p>And please understand,<br>and never forget.</p>
  <p>That the books you couldn't find,<br>that you so hoped to read and enjoy.</p>
  <p>Are the ones that <strong>you</strong> are supposed to write,<br>the ones that don’t yet exist are your responsibility.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Today self education is the only way,<br>to connect with the word fast enough...</p>
  <p>To make positive, lasting,<br>and meaningful changes, that will help others follow in your footsteps.</p>
  <p>In your quest for wisdom, you will discover the heavy weight,<br>of greatness of mind, of heart, and of your legacy.</p>
  <p>Once captured in your books,<br>your existence will never quite come to a close.</p>
  <p>It will become a part of great many roads,<br>traveled by countless wise and great beings.</p>
</div>