<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">People struggle with the definition of good art,<br>and “know it when I see it” is not it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Good art,<br>is art that changes lives.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">No matter how far Humanity strays,<br>the liars will never have the Truth.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The truths,<br>are the untouchable mountain peaks.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And they mark the context,<br>to good art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But to have something to say,<br>you have to travel, great many great roads.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They fill the content of your character with...<br>Knowledge, Wisdom, and Greatness.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Greatness being out right,<br>no matter how insignificant it makes us feel.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once your core ignites,<br>out of the gravity of who you are.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The filaments of the resulting coronal ejection,<br>will be able to reach the mountain peaks.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">To put it simply,<br>is not the way, though.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Know that there are great many roads,<br>and mountain peaks.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that you will not find dots,<br>and lines, for you may not just follow directions.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your wisdom is required,<br>and becoming wise is not optional.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because liars and bad people never stop,<br>you are never to stop learning.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The truths are not just a place,<br>where you are heard by messengers for nothing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are a fire that you add to,<br>with your works.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Liars are only a trick,<br>and the fires are meant to burn brightly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So bright, but they have no where to hide;<br>and fade in the light.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We are not to tolerate lies,<br>or that people are going hungry.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or that some have no homes,<br>and no happy places and relatives.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are not to tolerate the wrongs,<br>so we light the fires and make them bright.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because all together,<br>we can make things right.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wklndi/this_is_my_cat/ik6zfem/?context=3">Title Image Contest</a><br><a href="https://youtu.be/95pRl30uS5k">Title Image Time-lapse</a></div>
  </div>
</div>