<div class="section">
  <p>People struggle with the definition of good art,<br>and “know it when I see it” is not it.</p>
  <p>Good art,<br>is art that changes lives.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>No matter how far Humanity strays,<br>the liars will never have the Truth.</p>
  <p>The truths,<br>are the untouchable mountain peaks.</p>
  <p>And they mark the context,<br>to good art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But to have something to say,<br>you have to travel, great many great roads.</p>
  <p>They fill the content of your character with...<br>Knowledge, Wisdom, and Greatness.</p>
  <p>Greatness being out right,<br>no matter how insignificant it makes us feel.</p>
  <p>Once your core ignites,<br>out of the gravity of who you are.</p>
  <p>The filaments of the resulting coronal ejection,<br>will be able to reach the mountain peaks.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>To put it simply,<br>is not the way, though.</p>
  <p>Know that there are great many roads,<br>and mountain peaks.</p>
  <p>And that you will not find dots,<br>and lines, for you may not just follow directions.</p>
  <p>Your wisdom is required,<br>and becoming wise is not optional.</p>
  <p>Because liars and bad people never stop,<br>you are never to stop learning.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The truths are not just a place,<br>where you are heard by messengers for nothing.</p>
  <p>They are a fire that you add to,<br>with your works.</p>
  <p>Liars are only a trick,<br>and the fires are meant to burn brightly.</p>
  <p>So bright, but they have no where to hide;<br>and fade in the light.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We are not to tolerate lies,<br>or that people are going hungry.</p>
  <p>Or that some have no homes,<br>and no happy places and relatives.</p>
  <p>We are not to tolerate the wrongs,<br>so we light the fires and make them bright.</p>
  <p>Because all together,<br>we can make things right.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wklndi/this_is_my_cat/ik6zfem/?context=3">Title Image Contest</a><br><a href="https://youtu.be/95pRl30uS5k">Title Image Time-lapse</a></p>
</div>