<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">People struggle with the definition of good art,<br>and “know it when I see it” is not it.</div>
  <div class="paragraph">Good art,<br>is art that changes lives.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">No matter how far Humanity strays,<br>the liars will never have the Truth.</div>
  <div class="paragraph">The truths,<br>are the untouchable mountain peaks.</div>
  <div class="paragraph">And they mark the context,<br>to good art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But to have something to say,<br>you have to travel, great many great roads.</div>
  <div class="paragraph">They fill the content of your character with...<br>Knowledge, Wisdom, and Greatness.</div>
  <div class="paragraph">Greatness being out right,<br>no matter how insignificant it makes us feel.</div>
  <div class="paragraph">Once your core ignites,<br>out of the gravity of who you are.</div>
  <div class="paragraph">The filaments of the resulting coronal ejection,<br>will be able to reach the mountain peaks.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">To put it simply,<br>is not the way, though.</div>
  <div class="paragraph">Know that there are great many roads,<br>and mountain peaks.</div>
  <div class="paragraph">And that you will not find dots,<br>and lines, for you may not just follow directions.</div>
  <div class="paragraph">Your wisdom is required,<br>and becoming wise is not optional.</div>
  <div class="paragraph">Because liars and bad people never stop,<br>you are never to stop learning.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The truths are not just a place,<br>where you are heard by messengers for nothing.</div>
  <div class="paragraph">They are a fire that you add to,<br>with your works.</div>
  <div class="paragraph">Liars are only a trick,<br>and the fires are meant to burn brightly.</div>
  <div class="paragraph">So bright, but they have no where to hide;<br>and fade in the light.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We are not to tolerate lies,<br>or that people are going hungry.</div>
  <div class="paragraph">Or that some have no homes,<br>and no happy places and relatives.</div>
  <div class="paragraph">We are not to tolerate the wrongs,<br>so we light the fires and make them bright.</div>
  <div class="paragraph">Because all together,<br>we can make things right.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title Image Contest<sup>[1]</sup></span><br><span>Title Image Time-lapse<sup>[2]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.reddit.com/r/redditgetsdrawn/comments/wklndi/this_is_my_cat/ik6zfem/?context=3</div>
  <div>[2]: https://youtu.be/95pRl30uS5k</div>
</div>