<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This is not a technique for all, if a technique at all,<br>I think most artists may find it terribly boring.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is a primitive, but sure technique,<br>that will never get you stuck, and have you painting - faster and faster - a new portrait every day.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Find a classic, paint a classic,<br>or get a reference photo, and paint is <strong>as</strong> a classic.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The way to memorize features of a painted face,<br>is repetition, similar to how you learn a poem.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">“How do you repeat the painting of a face,<br>if you don’t know how to paint one?</div>
    <div class="paragraph card-text card-stanza my-5 text-center">By using tracing paper, a projector,<br>or transparent layers in digital art to get you started with proportions.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You need to skip trying to get the proportions right,<br>until you don’t need any kind of anything.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Find your own favorite method,<br>to precisely transport the positions of the key features of a face.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Get to the part where you are painting shadows,<br>as soon as you can.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And don’t sketch either,<br>begin painting immediately.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can’t transform a realistic sketch<br>to a hyper realistic painting, your lines won’t match up.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Carefully map out the face,<br>make sure you get all the important features in the exact spot you need.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And use your brush,<br>or air brush in digital art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Don’t bother yourself with using extra steps,<br>to mark where all the spots are that will just distract you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Later on when you begin memorizing,<br>you will develop a sense for relative arrangement of features.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Eyes will become your reference points,<br>and then you will add everything else relative to them.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">At first practice by copying paintings with similarly lit faces,<br>even though the painting may seem realistic the face has already been greatly simplified.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is detecting and grasping that simplified version of a face,<br>that will make all the difference.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is almost as if you can’t just paint a face,<br>and there is a specific arrangement of shadows that most artists always follow.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Continue painting different faces in the same light and shadow,<br>until you memorize where all the light, shadow, and lit features are.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Don't try to sketch, memorize the features of a face - by means of repetition - as if it was a map,<br>and then, navigate them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This sounds trivial, because it is a simple and reliable method that removes all the questions,<br>and allows you to create at least one portrait a day.</div>
  </div>
</div>