<div class="section">
  <p>This is not a technique for all, if a technique at all,<br>I think most artists may find it terribly boring.</p>
  <p>It is a primitive, but sure technique,<br>that will never get you stuck, and have you painting - faster and faster - a new portrait every day.</p>
  <p>Find a classic, paint a classic,<br>or get a reference photo, and paint is <strong>as</strong> a classic.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The way to memorize features of a painted face,<br>is repetition, similar to how you learn a poem.</p>
  <p>“How do you repeat the painting of a face,<br>if you don’t know how to paint one?</p>
  <p>By using tracing paper, a projector,<br>or transparent layers in digital art to get you started with proportions.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You need to skip trying to get the proportions right,<br>until you don’t need any kind of anything.</p>
  <p>Find your own favorite method,<br>to precisely transport the positions of the key features of a face.</p>
  <p>Get to the part where you are painting shadows,<br>as soon as you can.</p>
  <p>And don’t sketch either,<br>begin painting immediately.</p>
  <p>You can’t transform a realistic sketch<br>to a hyper realistic painting, your lines won’t match up.</p>
  <p>Carefully map out the face,<br>make sure you get all the important features in the exact spot you need.</p>
  <p>And use your brush,<br>or air brush in digital art.</p>
  <p>Don’t bother yourself with using extra steps,<br>to mark where all the spots are that will just distract you.</p>
  <p>Later on when you begin memorizing,<br>you will develop a sense for relative arrangement of features.</p>
  <p>Eyes will become your reference points,<br>and then you will add everything else relative to them.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>At first practice by copying paintings with similarly lit faces,<br>even though the painting may seem realistic the face has already been greatly simplified.</p>
  <p>It is detecting and grasping that simplified version of a face,<br>that will make all the difference.</p>
  <p>It is almost as if you can’t just paint a face,<br>and there is a specific arrangement of shadows that most artists always follow.</p>
  <p>Continue painting different faces in the same light and shadow,<br>until you memorize where all the light, shadow, and lit features are.</p>
  <p>Don't try to sketch, memorize the features of a face - by means of repetition - as if it was a map,<br>and then, navigate them.</p>
  <p>This sounds trivial, because it is a simple and reliable method that removes all the questions,<br>and allows you to create at least one portrait a day.</p>
</div>