<div class="section">
  <p>When people are tricked out of real education, one persons joy,<br>can quickly become the torture of another.</p>
  <p>This is somewhat captured in the old adage,<br>“Road to hell is paved with good intentions”.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The first lesson you must learn in this zone of Human Condition,<br>is that you never directly look into the pain.</p>
  <p>If you start listing things,<br>the crazy and stupid wins.</p>
  <p>There is a similar phenomenon in art,<br>no matter how good you are, if you paint misery, you fail.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The second lesson, is that whatever is attacking you,<br>is so self unaware, that it probably cause the problem in the first place.</p>
  <p>The song Mad World, masterfully captures the mechanic with words,<br>“When people run in circles, It's a very, very, Mad world”.</p>
  <p>Sometimes things get so crazy,<br>that they become funny, for example.</p>
  <p>Image two daughters,<br>one makes the parents unhappy, the other just wants to get the hell out.</p>
  <p>The black sheep of the family pays her way through a diploma mill,<br>the the other goes to a prestigious school.</p>
  <p>And the punchline is that the prestigious school put one girl in debt until she is 65,<br>and the diploma mill refunds $30,000 to the other.</p>
  <p>Who is the winner, everybody,<br>because we <strong>all</strong> laugh at how stupid this situation is.</p>
  <p>Just to blurb a second neat example,<br>modern war propaganda is just the opposite of the truth.</p>
  <p>An attacking nation will keep a strait face,<br>claiming that they are being attacked.</p>
  <p>And when condemned by the whole world,<br>they will add, that they must defend themselves against everybody.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is lots of humor here,<br>but obviously things get dark fast.</p>
  <p>You must absolutely resist that black hole,<br>reject it entirely, it is full of loops, it is dump of viruses for the mind.</p>
  <p>These viruses are weak,<br>but they are plentiful, and life still too short.</p>
  <p>The movie “The Shawshank Redemption” which you should not watch,<br>has a scene of a person crawling through a long tunnel of shit.</p>
  <p>Just to come out,<br>free, clean, mighty, wise.</p>
  <p>That is an artists interpretation of rising out of the viruses,<br>another neat visual is spider-man exiting venom.</p>
  <p>The viruses for the mind spread,<br>because they feel good they are sticky.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Please, quote me on this one,<br>we must all find our tunnel of shit, and crawl right through it.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Another property of the virus,<br>is that they are not only pleasant but mostly invisible.</p>
  <p>Often a sufferer will eat themselves to death in-front of a TV,<br>similar things happen to ants that get mixed up and go in circle for too long.</p>
  <p>I call this one the “There are no old fat people” observation,<br>overeating is just drug addiction.</p>
  <p>It does not matter if the addict uses a serenge to inject garbage directly,<br>if if they get their own brain to squirt it - that is just drug abuse with an extra step.</p>
  <p>This is completely invisible, no one stuffing themselves with pizza in front of TV,<br>will ever see themselves as a drug abuser.</p>
  <p>Just imagine how crazy it is that enormous corporations,<br>now drive advertising int the minds of people who are drugged up.</p>
  <p>This is a sick but picture perfect representation, of me saying,<br>“Don’t let crazy make you crazy”.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Beyond mad circles, crawling through tunnels of shit,<br>and there are no fat old people.</p>
  <p>The earlier,<br>you alter your life line the better.</p>
  <p>But let me make something clear,<br>there are no shortcuts here, you can’t do anything to make this easier.</p>
  <p>Changing the course of your existence,<br>will make everyone of your atoms want to be in a different place.</p>
  <p>In the place,<br>where you were originally supposed to end up.</p>
  <p>Like a ship, you will leave,<br>dock.</p>
  <p>The universe will no longer guide you,<br>you will be released to navigate on your own.</p>
  <p>Somewhere half way through your life,<br>you will discover your end, and step right over it.</p>
  <p>It will feel a little weird, but it won’t be scary,<br>it will be like the ringing of a bell remind you that the years that are to follow...</p>
  <p>Are sacred, and are meant to be celebrated,<br>because you created them for yourself by altering the course of your life.</p>
  <p>You don’t age or get older after that,<br>you become more refined, more mature, more beautiful.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Here are some ideas that get people started,<br>begin preparing to walk the Appalachian Trail, make that your goal.</p>
  <p>Make a list of all the negative things in your life,<br>so that you can see all the thing that you will be leaving behind.</p>
  <p>If you are suffering obesity, describe it, write it down,<br>list all the things that you can’t do - don’t cry - get mad.</p>
  <p>You may wish to keep a list of all the changes that happen to your mind and body,<br>the sequence with which your body returns to normal is precious knowledge.</p>
  <p>Talking about being able to reach the seat belt,<br>and then being able to pick things off the ground....</p>
  <p>Can motivate others, to follow your adventure,<br>being able to curl up in bed like a dog, is freaking priceless.</p>
  <p>But you have to remember that you come first,<br>before you are compassionate to others, you have to be much kinder to yourself.</p>
  <p>Nobody listen to people that smoke cigarettes or drink alcohol, or worse,<br>people who dump garbage into their brains have nothing of value to say.</p>
  <p>And be careful with your responsibilities, before you try to get straight A/s<br>ask yourself if memorization is education.</p>
  <p>Another thing you might have missed is that standardized education is an oxymoron,<br>and if you have to pay for it, or if the school makes money anyways, then it is a scam.</p>
  <p>Or that religious cult leaders are allowed to say things like,<br>give us money now but not too much, and you will live in paradise later.</p>
  <p>Where there is no paradise,<br>you just return to the nothing that you were in before you were born.</p>
  <p>Be careful,<br>before you call those things your responsibility.</p>
  <p>A lot of those responsibilities are going to turn out,<br>to be the shit you are supposed to crawl out of.</p>
  <p>Everyone is being affected by the crazy,<br>that may include your family, but before you can help them you have to help yourself.</p>
  <p>This is similar to going down into a mine shaft or well,<br>to help your loved one that has collapsed, or jumping into a hot spring to save your dog.</p>
  <p>It won’t work, you need top prepare to help others,<br>as they may just drag you in closer to you end.</p>
  <p>One test here is feeling ugly, or wishing that you were never born,<br>you have to hit the shit tunnel first, and do whatever you need, to become beautiful.</p>
  <p>You can’t fight misery with weakness,<br>it is what <em>it</em> expect you to do, right before it takes you in.</p>
  <p>Write down all the lies, the ones you believe, the ones you tolerate, the ones you tell yourself and others,<br>the word for this is authenticity, to thine own self be true.</p>
  <p>Yes, there is a second part to this, “And it must follow, as the night the day, Thou canst not then be false to any person”,<br>to help others you will have to become a life changing Philosopher, and a Great Being.</p>
  <p>Take to art, use reference tools,<br>to get past the stupid, toxic, and poisons, and elitist idea that you must draw perfectly freehand.</p>
  <p>To truly know art, you have to watch an artist tell you “you are not a real artist”,<br>because you are just copying.</p>
  <p>There you will stand, smiling cheerfully,<br>with the words funniest, and most beautiful portrait in your hands.</p>
  <p>Watching a hateful person try to connive you,<br>that his freehand Quasimodo shit is superior - gawd, that stuff never gets old.</p>
  <p>As you are documenting all the positive changes,<br>in all the years of life that you have granted unto yourself by altering the course of your life.</p>
  <p>Don’t let crazy make you crazy,<br>always focus on the funny.</p>
  <p>For the survivors Halloween starts on October first,<br>as we never miss a day of laughter.</p>
</div>