<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Everybody seems to always write about them,<br>and they have many names, legends, songs.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They live life in such a way,<br>that each new day adds to the coherent whole they already lived.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That means each day makes them more,<br>as they are traveling through life of wisdom.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Were wisdom, can only beget more wisdom,<br>and they are proper adults, and perfectly Human.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://en.wikipedia.org/wiki/Loevinger%27s_stages_of_ego_development#Self-Aware_(E5)">Jane Loevinger in her stages of ego development</a>,<br>describes people who can improve themselves, mend their shortcomings.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In the quest for self improvement,<br>these individuals appreciate wisdom, greatness, and those who rise.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They see things more broadly, people aren’t just their labels,<br>and it is not just about the outcomes, but their intent as well.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">With self improvement, wisdom,<br>and a more detailed perception of others...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They see that they are creating their future,<br>and they aim to do meaningful things in it, lasting contributions.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They grow away from groups and whatever they may provide,<br>and grow to become rare and unique individuals.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here they independently reinvent great wisdom,<br>they go from using tools for thinking to creating tools for thinking.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They continue on learning to no end,<br>gaining a greater understanding of the world, its structure and people.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Enough so to navigate it, with cheerfulness and courage,<br>they may aim help the world grow.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I think here people consider changing rules of the world,<br>to help all people grow all the way up, without being held back by anything.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Moving beyond embracing other people’s individuality,<br>their thoughts turn to seeing Humanity, and how we can all reshape its future.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In my opinion, the world can easily improve,<br>by making education more realistic, more profound, for all its people.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is not enough to recognize individuality of a person as they carry on with their life,<br>we have to recognize that they can't interface with standardized education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because there is nothing standard about a human being,<br>child or adult.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To improve the world,<br>is to recognize each student as unique.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And to teach for real,<br>is to guide young people towards the Greatness that Ms. Loevinger describes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">TO make schools work for real,<br>each lesson that we teach must be more beautiful and more profound, than the previous.</div>
  </div>
</div>