<div class="section">
  <p>Everybody seems to always write about them,<br>and they have many names, legends, songs.</p>
  <p>They live life in such a way,<br>that each new day adds to the coherent whole they already lived.</p>
  <p>That means each day makes them more,<br>as they are traveling through life of wisdom.</p>
  <p>Were wisdom, can only beget more wisdom,<br>and they are proper adults, and perfectly Human.</p>
  <p><a href="https://en.wikipedia.org/wiki/Loevinger%27s_stages_of_ego_development#Self-Aware_(E5)">Jane Loevinger in her stages of ego development</a>,<br>describes people who can improve themselves, mend their shortcomings.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In the quest for self improvement,<br>these individuals appreciate wisdom, greatness, and those who rise.</p>
  <p>They see things more broadly, people aren’t just their labels,<br>and it is not just about the outcomes, but their intent as well.</p>
  <p>With self improvement, wisdom,<br>and a more detailed perception of others...</p>
  <p>They see that they are creating their future,<br>and they aim to do meaningful things in it, lasting contributions.</p>
  <p>They grow away from groups and whatever they may provide,<br>and grow to become rare and unique individuals.</p>
  <p>Here they independently reinvent great wisdom,<br>they go from using tools for thinking to creating tools for thinking.</p>
  <p>They continue on learning to no end,<br>gaining a greater understanding of the world, its structure and people.</p>
  <p>Enough so to navigate it, with cheerfulness and courage,<br>they may aim help the world grow.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I think here people consider changing rules of the world,<br>to help all people grow all the way up, without being held back by anything.</p>
  <p>Moving beyond embracing other people’s individuality,<br>their thoughts turn to seeing Humanity, and how we can all reshape its future.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In my opinion, the world can easily improve,<br>by making education more realistic, more profound, for all its people.</p>
  <p>It is not enough to recognize individuality of a person as they carry on with their life,<br>we have to recognize that they can't interface with standardized education.</p>
  <p>Because there is nothing standard about a human being,<br>child or adult.</p>
  <p>To improve the world,<br>is to recognize each student as unique.</p>
  <p>And to teach for real,<br>is to guide young people towards the Greatness that Ms. Loevinger describes.</p>
  <p>TO make schools work for real,<br>each lesson that we teach must be more beautiful and more profound, than the previous.</p>
</div>