<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I thought I'd mention <a href="https://www.youtube.com/watch?v=uHCGgKzVP6M">a video on how to set up grids under Krita</a>,<br><a href="https://www.youtube.com/watch?v=-L-xC8GuNuM">as some artists seem to enjoy that</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=bKtURFkwX6k">The grid is a method of capturing correct proportions</a>,<br>there is no debate about it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Those who have tendencies to push artists away from art,<br>stir things up from time to time.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They don't matter as they are just full of hate and jealous,<br>and cannot be reasoned with.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There are some neat tricks related to the grid,<br><a href="https://www.youtube.com/watch?v=HyaX2acsNmU">grid scaling</a>, helps you enrage your source image.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And <a href="https://www.youtube.com/watch?v=HORWGebFy5s">using apps that make the grid for you</a>,<br>can really simplify the process.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can try using chalk to make the grid,<br>so that you won't have to erase it using an eraser.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And of course, it is all really low tech,<br>and friendly.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The grid will take you a long way,<br>but you still need to worry about the shadows.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If your shapes are correct but light and shadow wrong,<br>the portrait still won't come out right.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">After all, the difference between a circle and sphere,<br>is just the shadow and highlight.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But having the correct proportions is a great start,<br>that will help you position everything else correctly.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">To improve the shadow and highlight work,<br>make sure that your source image is black and white.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And try to use a mid tone paper,<br>it is art paper that is per-collored gray.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So you only need black and white chalk,<br>or a chalk pencil and your graphite.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But more than that,<br>try to apply the posterize filter to see colors a bit better.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And try an edge finding filter,<br>it will convent a photo to very rough outlines.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It maybe best to get into art on a computer,<br>as here you can erase and experiment to no end.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Paper or canvas,<br>is much less forgiving.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Beyond, correct proportions,<br>and getting the highlights and shadows correct.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your next challenge will be color,<br>and on a computer you can study color with a color picker.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can visualize how colors transform,<br>in sunset, or shadow, or even blue and stormy sky.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is much easier to experiment with mixing your own colors,<br>and of course it does not cost anything.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There do exist color palettes that are more beautiful than reality,<br>for example, some portraits lit not just by light but also iridescence.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Magical colors, and thus color experiments are just as important,<br>as getting the proportions right.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And finally, the real critics, do not care about how you create art,<br><a href="https://www.youtube.com/watch?v=D-GwRnBk-WY">the critics worth their salt only care, that your art transforms lives</a>.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wj6gvs/this_is_me/ijijiar/?context=3">Title Image Contest</a><br><a href="https://youtu.be/dmQxgBjcFHM">Title Image Time-lapse</a></div>
  </div>
</div>