<div class="section">
  <p>I thought I'd mention <a href="https://www.youtube.com/watch?v=uHCGgKzVP6M">a video on how to set up grids under Krita</a>,<br><a href="https://www.youtube.com/watch?v=-L-xC8GuNuM">as some artists seem to enjoy that</a>.</p>
  <p><a href="https://www.youtube.com/watch?v=bKtURFkwX6k">The grid is a method of capturing correct proportions</a>,<br>there is no debate about it.</p>
  <p>Those who have tendencies to push artists away from art,<br>stir things up from time to time.</p>
  <p>They don't matter as they are just full of hate and jealous,<br>and cannot be reasoned with.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There are some neat tricks related to the grid,<br><a href="https://www.youtube.com/watch?v=HyaX2acsNmU">grid scaling</a>, helps you enrage your source image.</p>
  <p>And <a href="https://www.youtube.com/watch?v=HORWGebFy5s">using apps that make the grid for you</a>,<br>can really simplify the process.</p>
  <p>You can try using chalk to make the grid,<br>so that you won't have to erase it using an eraser.</p>
  <p>And of course, it is all really low tech,<br>and friendly.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The grid will take you a long way,<br>but you still need to worry about the shadows.</p>
  <p>If your shapes are correct but light and shadow wrong,<br>the portrait still won't come out right.</p>
  <p>After all, the difference between a circle and sphere,<br>is just the shadow and highlight.</p>
  <p>But having the correct proportions is a great start,<br>that will help you position everything else correctly.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>To improve the shadow and highlight work,<br>make sure that your source image is black and white.</p>
  <p>And try to use a mid tone paper,<br>it is art paper that is per-collored gray.</p>
  <p>So you only need black and white chalk,<br>or a chalk pencil and your graphite.</p>
  <p>But more than that,<br>try to apply the posterize filter to see colors a bit better.</p>
  <p>And try an edge finding filter,<br>it will convent a photo to very rough outlines.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It maybe best to get into art on a computer,<br>as here you can erase and experiment to no end.</p>
  <p>Paper or canvas,<br>is much less forgiving.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Beyond, correct proportions,<br>and getting the highlights and shadows correct.</p>
  <p>Your next challenge will be color,<br>and on a computer you can study color with a color picker.</p>
  <p>You can visualize how colors transform,<br>in sunset, or shadow, or even blue and stormy sky.</p>
  <p>It is much easier to experiment with mixing your own colors,<br>and of course it does not cost anything.</p>
  <p>There do exist color palettes that are more beautiful than reality,<br>for example, some portraits lit not just by light but also iridescence.</p>
  <p>Magical colors, and thus color experiments are just as important,<br>as getting the proportions right.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And finally, the real critics, do not care about how you create art,<br><a href="https://www.youtube.com/watch?v=D-GwRnBk-WY">the critics worth their salt only care, that your art transforms lives</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wj6gvs/this_is_me/ijijiar/?context=3">Title Image Contest</a><br><a href="https://youtu.be/dmQxgBjcFHM">Title Image Time-lapse</a></p>
</div>