<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I thought I'd mention <span>a video on how to set up grids under Krita<sup>[1]</sup></span>,<br><span>as some artists seem to enjoy that<sup>[2]</sup></span>.</div>
  <div class="paragraph"><span>The grid is a method of capturing correct proportions<sup>[3]</sup></span>,<br>there is no debate about it.</div>
  <div class="paragraph">Those who have tendencies to push artists away from art,<br>stir things up from time to time.</div>
  <div class="paragraph">They don't matter as they are just full of hate and jealous,<br>and cannot be reasoned with.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are some neat tricks related to the grid,<br><span>grid scaling<sup>[4]</sup></span>, helps you enrage your source image.</div>
  <div class="paragraph">And <span>using apps that make the grid for you<sup>[5]</sup></span>,<br>can really simplify the process.</div>
  <div class="paragraph">You can try using chalk to make the grid,<br>so that you won't have to erase it using an eraser.</div>
  <div class="paragraph">And of course, it is all really low tech,<br>and friendly.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The grid will take you a long way,<br>but you still need to worry about the shadows.</div>
  <div class="paragraph">If your shapes are correct but light and shadow wrong,<br>the portrait still won't come out right.</div>
  <div class="paragraph">After all, the difference between a circle and sphere,<br>is just the shadow and highlight.</div>
  <div class="paragraph">But having the correct proportions is a great start,<br>that will help you position everything else correctly.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">To improve the shadow and highlight work,<br>make sure that your source image is black and white.</div>
  <div class="paragraph">And try to use a mid tone paper,<br>it is art paper that is per-collored gray.</div>
  <div class="paragraph">So you only need black and white chalk,<br>or a chalk pencil and your graphite.</div>
  <div class="paragraph">But more than that,<br>try to apply the posterize filter to see colors a bit better.</div>
  <div class="paragraph">And try an edge finding filter,<br>it will convent a photo to very rough outlines.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It maybe best to get into art on a computer,<br>as here you can erase and experiment to no end.</div>
  <div class="paragraph">Paper or canvas,<br>is much less forgiving.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Beyond, correct proportions,<br>and getting the highlights and shadows correct.</div>
  <div class="paragraph">Your next challenge will be color,<br>and on a computer you can study color with a color picker.</div>
  <div class="paragraph">You can visualize how colors transform,<br>in sunset, or shadow, or even blue and stormy sky.</div>
  <div class="paragraph">It is much easier to experiment with mixing your own colors,<br>and of course it does not cost anything.</div>
  <div class="paragraph">There do exist color palettes that are more beautiful than reality,<br>for example, some portraits lit not just by light but also iridescence.</div>
  <div class="paragraph">Magical colors, and thus color experiments are just as important,<br>as getting the proportions right.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And finally, the real critics, do not care about how you create art,<br><span>the critics worth their salt only care, that your art transforms lives<sup>[6]</sup></span>.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title Image Contest<sup>[7]</sup></span><br><span>Title Image Time-lapse<sup>[8]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=uHCGgKzVP6M</div>
  <div>[2]: https://www.youtube.com/watch?v=-L-xC8GuNuM</div>
  <div>[3]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
  <div>[4]: https://www.youtube.com/watch?v=HyaX2acsNmU</div>
  <div>[5]: https://www.youtube.com/watch?v=HORWGebFy5s</div>
  <div>[6]: https://www.youtube.com/watch?v=D-GwRnBk-WY</div>
  <div>[7]: https://www.reddit.com/r/redditgetsdrawn/comments/wj6gvs/this_is_me/ijijiar/?context=3</div>
  <div>[8]: https://youtu.be/dmQxgBjcFHM</div>
</div>