<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Real education is just adventure,<br>just marching around and doing things you like.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But it is inconvenient,<br>because how many computers do you need?</div>
    <div class="paragraph card-text card-stanza my-5 text-center">How many museums do you need to visit,<br>and why don’t you just wait until you are old enough to drive.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But real education is so important,<br>that you should never feel bad about it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must keep learning new things,<br>and take care of all your talents.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You have to revisit them often,<br>and each time you will learn more.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Narrated books from the library,<br>are special.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because they help you inherit knowledge,<br>that was already refined by a wise person.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And because some of our curiosities,<br>are probably dangerous.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Like abandoned, underground,<br>mine exploration</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or Australia,<br>where spiders are even more frightening.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Narrated books allow us,<br>to experience the magic.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Without the all scary parts,<br>like snakes, and snapping turtles.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or owls that often mistaken people’s hair,<br>for furry creatures, yikes.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And there are places,<br>that you must visit.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All the local meteor craters,<br>are always a must.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Any strange mountains,<br>and shipwrecks, and famous places.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But you never go to a meteor crater,<br>to learn about craters.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You learn about,<br>everything this way.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And while the early lessons may seem tiny,<br>they are often the most profound.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Knowledge leads to wisdom,<br>and that is huge - later in life.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But as we start growing up,<br>knowledge is about improved decision making.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Decision like what school to go to,<br>what to learn and where to go in life, or who to listen to.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This isn't something,<br>you can entrust anybody else with.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is one of your,<br>greatest and most sacred responsibilities.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The only thing that is worthy of your trust here,<br>is your first one thousand narrated books at the library.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Start with a hundred, at first,<br>but don’t stop.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is not the roads less traveled by,<br>that make all the difference.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Inheriting entire lifetimes of wisdom, from countless books,<br>is what makes all the difference.</div>
  </div>
</div>