<div class="section">
  <p>Real education is just adventure,<br>just marching around and doing things you like.</p>
  <p>But it is inconvenient,<br>because how many computers do you need?</p>
  <p>How many museums do you need to visit,<br>and why don’t you just wait until you are old enough to drive.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But real education is so important,<br>that you should never feel bad about it.</p>
  <p>You must keep learning new things,<br>and take care of all your talents.</p>
  <p>You have to revisit them often,<br>and each time you will learn more.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Narrated books from the library,<br>are special.</p>
  <p>Because they help you inherit knowledge,<br>that was already refined by a wise person.</p>
  <p>And because some of our curiosities,<br>are probably dangerous.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Like abandoned, underground,<br>mine exploration</p>
  <p>Or Australia,<br>where spiders are even more frightening.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Narrated books allow us,<br>to experience the magic.</p>
  <p>Without the all scary parts,<br>like snakes, and snapping turtles.</p>
  <p>Or owls that often mistaken people’s hair,<br>for furry creatures, yikes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And there are places,<br>that you must visit.</p>
  <p>All the local meteor craters,<br>are always a must.</p>
  <p>Any strange mountains,<br>and shipwrecks, and famous places.</p>
  <p>But you never go to a meteor crater,<br>to learn about craters.</p>
  <p>You learn about,<br>everything this way.</p>
  <p>And while the early lessons may seem tiny,<br>they are often the most profound.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Knowledge leads to wisdom,<br>and that is huge - later in life.</p>
  <p>But as we start growing up,<br>knowledge is about improved decision making.</p>
  <p>Decision like what school to go to,<br>what to learn and where to go in life, or who to listen to.</p>
  <p>This isn't something,<br>you can entrust anybody else with.</p>
  <p>It is one of your,<br>greatest and most sacred responsibilities.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The only thing that is worthy of your trust here,<br>is your first one thousand narrated books at the library.</p>
  <p>Start with a hundred, at first,<br>but don’t stop.</p>
  <p>It is not the roads less traveled by,<br>that make all the difference.</p>
  <p>Inheriting entire lifetimes of wisdom, from countless books,<br>is what makes all the difference.</p>
</div>