<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Real education is just adventure,<br>just marching around and doing things you like.</div>
  <div class="paragraph">But it is inconvenient,<br>because how many computers do you need?</div>
  <div class="paragraph">How many museums do you need to visit,<br>and why don’t you just wait until you are old enough to drive.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But real education is so important,<br>that you should never feel bad about it.</div>
  <div class="paragraph">You must keep learning new things,<br>and take care of all your talents.</div>
  <div class="paragraph">You have to revisit them often,<br>and each time you will learn more.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Narrated books from the library,<br>are special.</div>
  <div class="paragraph">Because they help you inherit knowledge,<br>that was already refined by a wise person.</div>
  <div class="paragraph">And because some of our curiosities,<br>are probably dangerous.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Like abandoned, underground,<br>mine exploration</div>
  <div class="paragraph">Or Australia,<br>where spiders are even more frightening.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Narrated books allow us,<br>to experience the magic.</div>
  <div class="paragraph">Without the all scary parts,<br>like snakes, and snapping turtles.</div>
  <div class="paragraph">Or owls that often mistaken people’s hair,<br>for furry creatures, yikes.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And there are places,<br>that you must visit.</div>
  <div class="paragraph">All the local meteor craters,<br>are always a must.</div>
  <div class="paragraph">Any strange mountains,<br>and shipwrecks, and famous places.</div>
  <div class="paragraph">But you never go to a meteor crater,<br>to learn about craters.</div>
  <div class="paragraph">You learn about,<br>everything this way.</div>
  <div class="paragraph">And while the early lessons may seem tiny,<br>they are often the most profound.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Knowledge leads to wisdom,<br>and that is huge - later in life.</div>
  <div class="paragraph">But as we start growing up,<br>knowledge is about improved decision making.</div>
  <div class="paragraph">Decision like what school to go to,<br>what to learn and where to go in life, or who to listen to.</div>
  <div class="paragraph">This isn't something,<br>you can entrust anybody else with.</div>
  <div class="paragraph">It is one of your,<br>greatest and most sacred responsibilities.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The only thing that is worthy of your trust here,<br>is your first one thousand narrated books at the library.</div>
  <div class="paragraph">Start with a hundred, at first,<br>but don’t stop.</div>
  <div class="paragraph">It is not the roads less traveled by,<br>that make all the difference.</div>
  <div class="paragraph">Inheriting entire lifetimes of wisdom, from countless books,<br>is what makes all the difference.</div>
</div>