<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">No child belongs to cult or nation,<br>we are each a stellar creation.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Humanity may need to invent a better culture,<br>one that aims to inspire and nurture.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">All human beings are extremely smart,<br>and the building of our culture is art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not only do we need to architect,<br>but take create care to protect.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">No one should be manipulated<br>only wisdom can be advocated.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The world has now had its fill of creepy and ghoul,<br>culture is neither a tether nor a mind warping tool.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To be tricked by a view,<br>that what we are born into.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Is unfair and cruel,<br>a human being - is not a tool.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">An yet, somehow, we all agree,<br>not to see.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">For one, war is not repair,<br>and it is always unfair.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And borders are arbitrary,<br>pretty imaginary.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And cults are an old trick,<br>that feed like a tick.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And poverty is vile,<br>a form of exile.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We waste time to complain,<br>but the solution is very plain.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It may not even need a mention,<br>as it is just bad idea prevention.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We grow up knowing this,<br>it is something we can’t dismiss.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A child raised poor,<br>can barely endure.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Without generational wealth,<br>they can’t even afford health.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We can’t just pretend,<br>this is something we must all amend.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">See, we simply can’t invent things,<br>that clip Humanity’s wings.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And the children that can afford life,<br>will need a real education to avoid strife.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What we have today,<br>is a mix of fantasies and dismay.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Real school teaches dignity,<br>by granting all the students great ability.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Schools are not to preach,<br>we build them to teach.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The future generations are not like us,<br>they wont get a pass.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They must fix climate and end war,<br>and learn Earth is a thing we must all care for.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We must stop trying to take, take, take,<br>as we have fewer and fewer mistakes that we can make.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The fools hope to play tricks,<br>with indoctrination and neutered politics.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But we must never forget real education,<br>and make it better for each new generation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Each of us should aim to become great,<br>we must abandon bad ideas, war, and hate.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Human problems need repair,<br>now is the time to learn to rise and care.</div>
  </div>
</div>