<div class="section">
  <p>No child belongs to cult or nation,<br>we are each a stellar creation.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Humanity may need to invent a better culture,<br>one that aims to inspire and nurture.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>All human beings are extremely smart,<br>and the building of our culture is art.</p>
  <p>Not only do we need to architect,<br>but take create care to protect.</p>
  <p>No one should be manipulated<br>only wisdom can be advocated.</p>
  <p>The world has now had its fill of creepy and ghoul,<br>culture is neither a tether nor a mind warping tool.</p>
  <p>To be tricked by a view,<br>that what we are born into.</p>
  <p>Is unfair and cruel,<br>a human being - is not a tool.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>An yet, somehow, we all agree,<br>not to see.</p>
  <p>For one, war is not repair,<br>and it is always unfair.</p>
  <p>And borders are arbitrary,<br>pretty imaginary.</p>
  <p>And cults are an old trick,<br>that feed like a tick.</p>
  <p>And poverty is vile,<br>a form of exile.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We waste time to complain,<br>but the solution is very plain.</p>
  <p>It may not even need a mention,<br>as it is just bad idea prevention.</p>
  <p>We grow up knowing this,<br>it is something we can’t dismiss.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A child raised poor,<br>can barely endure.</p>
  <p>Without generational wealth,<br>they can’t even afford health.</p>
  <p>We can’t just pretend,<br>this is something we must all amend.</p>
  <p>See, we simply can’t invent things,<br>that clip Humanity’s wings.</p>
  <p>And the children that can afford life,<br>will need a real education to avoid strife.</p>
  <p>What we have today,<br>is a mix of fantasies and dismay.</p>
  <p>Real school teaches dignity,<br>by granting all the students great ability.</p>
  <p>Schools are not to preach,<br>we build them to teach.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The future generations are not like us,<br>they wont get a pass.</p>
  <p>They must fix climate and end war,<br>and learn Earth is a thing we must all care for.</p>
  <p>We must stop trying to take, take, take,<br>as we have fewer and fewer mistakes that we can make.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The fools hope to play tricks,<br>with indoctrination and neutered politics.</p>
  <p>But we must never forget real education,<br>and make it better for each new generation.</p>
  <p>Each of us should aim to become great,<br>we must abandon bad ideas, war, and hate.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Human problems need repair,<br>now is the time to learn to rise and care.</p>
</div>