<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There are cultures,<br>that trick people.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Standardized schooling,<br>Tolerance of poverty, are large examples.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">On a more visible scale, school grades,<br>do a pretty good number on us.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We end up measuring our worth,<br>with our GPA.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Standardized education,<br>along with its grades, cannot work.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When we are told what and when to learn,<br>under a threat of punishment...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Be it grades, GPA,<br>being held back, or not getting in somewhere.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We lose the ability to learn for real,<br>and memorize, cram and pretend.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We can verify that,<br>by having people retake their tests, all of them.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Learning for real, requires joy,<br>and frequent returns to the subject.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is how we learn more,<br>how we strengthen what we know.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And how we keep up,<br>with the latest changes.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We get tricked when we are young,<br>as we lack the experience of having learned for real.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Humanity is on need of wisdom,<br>especially now.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But we have been,<br>sold out.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Tricked out of learning,<br>for real.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Fake Teachers,<br>can erase our talent.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All it takes is to teach,<br>that artists do it freehand.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The kids will take it from there,<br>“I can’t do it, this I am not an artist”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And the fake teacher will love it,<br>because it will make him look right.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We are all taught,<br>one way or another - not to rise.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Parents demanding blind obedience,<br>teachers threatening us with being held back a year.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is very damaging,<br>as it teaches to never question, and always obey.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The result is waking up next to a stranger,<br>or just never having lived a life.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In a poverty stricken world circling around world wars, nuclear wars,<br>mass incarceration, destabilizing climate, and loss of precious species.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">By never being encouraged to grow,<br>many people live lives, that they would not have chosen.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In the face of ineffective, or fake, or dishonest education,<br>we must all accept the responsibility for self education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And keep on growing up all the way up,<br>until we become great beings.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When we get there, we have to fix schools,<br>so that they are worthy of the younger generations.</div>
  </div>
</div>