<div class="section">
  <p>There are cultures,<br>that trick people.</p>
  <p>Standardized schooling,<br>Tolerance of poverty, are large examples.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On a more visible scale, school grades,<br>do a pretty good number on us.</p>
  <p>We end up measuring our worth,<br>with our GPA.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Standardized education,<br>along with its grades, cannot work.</p>
  <p>When we are told what and when to learn,<br>under a threat of punishment...</p>
  <p>Be it grades, GPA,<br>being held back, or not getting in somewhere.</p>
  <p>We lose the ability to learn for real,<br>and memorize, cram and pretend.</p>
  <p>We can verify that,<br>by having people retake their tests, all of them.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Learning for real, requires joy,<br>and frequent returns to the subject.</p>
  <p>It is how we learn more,<br>how we strengthen what we know.</p>
  <p>And how we keep up,<br>with the latest changes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We get tricked when we are young,<br>as we lack the experience of having learned for real.</p>
  <p>Humanity is on need of wisdom,<br>especially now.</p>
  <p>But we have been,<br>sold out.</p>
  <p>Tricked out of learning,<br>for real.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Fake Teachers,<br>can erase our talent.</p>
  <p>All it takes is to teach,<br>that artists do it freehand.</p>
  <p>The kids will take it from there,<br>“I can’t do it, this I am not an artist”.</p>
  <p>And the fake teacher will love it,<br>because it will make him look right.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We are all taught,<br>one way or another - not to rise.</p>
  <p>Parents demanding blind obedience,<br>teachers threatening us with being held back a year.</p>
  <p>This is very damaging,<br>as it teaches to never question, and always obey.</p>
  <p>The result is waking up next to a stranger,<br>or just never having lived a life.</p>
  <p>In a poverty stricken world circling around world wars, nuclear wars,<br>mass incarceration, destabilizing climate, and loss of precious species.</p>
  <p>By never being encouraged to grow,<br>many people live lives, that they would not have chosen.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In the face of ineffective, or fake, or dishonest education,<br>we must all accept the responsibility for self education.</p>
  <p>And keep on growing up all the way up,<br>until we become great beings.</p>
  <p>When we get there, we have to fix schools,<br>so that they are worthy of the younger generations.</p>
</div>