<div class="section">
  <p>Enhanced cognition is not a promise of a microchip,<br>as you can’t make an untrained brain better, by adding even more empty space.</p>
  <p>Just like we won’t become more useful or fetching,<br>with an extra arm or two.</p>
  <p>We won’t become smarter,<br>if we add more brain.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In fact we have plenty of room,<br>close your eyes and try to navigate the walls of your apartment.</p>
  <p>So as long as it is connected,<br>you’ll recall all the meaningful details.</p>
  <p>If you added pencil drawing to recalling details of those walls,<br>you’d even refine and strengthen your memory.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is no such thing as a stupid person,<br>there are people who lack information about the world.</p>
  <p>And people who lack the class that makes us rise,<br>and culture, to reach out for more narrated books.</p>
  <p>A lot of these people are given crappy education on purpose,<br>they are forced into servitude, mental slavery.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>All the people who talk about Socrates,<br>as a Patriot willing to die for the state, are stupid, on purpose.</p>
  <p>There is only one reason why he’d abandon his family,<br>and all the people he loved – to pass on a message on the importance of wisdom.</p>
  <p>We can’t call Socrates the most important Philosopher,<br>and believe he’d sacrifice, for a state that betrayed him…</p>
  <p>Whilst wishing his friend, repaid his chicken debt,<br>that he only remembered on his bed.</p>
  <p>Socrates was not a clown, your brainless philosophy teacher is a clown,<br>for regurgitating this second hand non-sense.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The man went from a brilliant teacher, to giving up his life,<br>to speak profoundly, of the importance of wisdom.</p>
  <p>The love of which,<br>made him who he was.</p>
  <p>Philosophy, or as we should call it today,<br>enhanced cognition, observation, fortitude, and courage.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is only one reason to speak so profoundly,<br>about something so obviously important.</p>
  <p>Wisdom, was going to be removed, with overwork, fake schools,<br>shortsightedness.</p>
  <p>Wisdom brings prosperity, peace, safety,<br>but politicians demand stupidity, so that they make have cannon fodder...</p>
  <p>That helps to turn war, into a get rich quick scheme,<br>that also conveniently hides any and all traces of economic failure.</p>
  <p>Wisdom leads to greatness,<br>and greatness leads to a world free from brainless liars, and stupid dictators or emperors.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The creatures that wanted him gone,<br>erased his legacy.</p>
  <p>It wasn't just paying his debt of a chicken he once borrowed, that painted a child like man,<br>but telling stories in which Socrates wanted to sacrifice for the state.</p>
  <p>So that others,<br>would sacrifice for the corrupt state as well.</p>
  <p>It has been said,<br>that the history is written by the victors.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Take wisdom away from the people,<br>by making them think that books are hard, and fake schools teach, but they are just too stupid.</p>
  <p>And in their haste to overwork for living, they will never know,<br>that it was up to them, to make the world a better place.</p>
</div>