<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Enhanced cognition is not a promise of a microchip,<br>as you can’t make an untrained brain better, by adding even more empty space.</div>
  <div class="paragraph">Just like we won’t become more useful or fetching,<br>with an extra arm or two.</div>
  <div class="paragraph">We won’t become smarter,<br>if we add more brain.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In fact we have plenty of room,<br>close your eyes and try to navigate the walls of your apartment.</div>
  <div class="paragraph">So as long as it is connected,<br>you’ll recall all the meaningful details.</div>
  <div class="paragraph">If you added pencil drawing to recalling details of those walls,<br>you’d even refine and strengthen your memory.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There is no such thing as a stupid person,<br>there are people who lack information about the world.</div>
  <div class="paragraph">And people who lack the class that makes us rise,<br>and culture, to reach out for more narrated books.</div>
  <div class="paragraph">A lot of these people are given crappy education on purpose,<br>they are forced into servitude, mental slavery.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">All the people who talk about Socrates,<br>as a Patriot willing to die for the state, are stupid, on purpose.</div>
  <div class="paragraph">There is only one reason why he’d abandon his family,<br>and all the people he loved – to pass on a message on the importance of wisdom.</div>
  <div class="paragraph">We can’t call Socrates the most important Philosopher,<br>and believe he’d sacrifice, for a state that betrayed him…</div>
  <div class="paragraph">Whilst wishing his friend, repaid his chicken debt,<br>that he only remembered on his bed.</div>
  <div class="paragraph">Socrates was not a clown, your brainless philosophy teacher is a clown,<br>for regurgitating this second hand non-sense.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The man went from a brilliant teacher, to giving up his life,<br>to speak profoundly, of the importance of wisdom.</div>
  <div class="paragraph">The love of which,<br>made him who he was.</div>
  <div class="paragraph">Philosophy, or as we should call it today,<br>enhanced cognition, observation, fortitude, and courage.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There is only one reason to speak so profoundly,<br>about something so obviously important.</div>
  <div class="paragraph">Wisdom, was going to be removed, with overwork, fake schools,<br>shortsightedness.</div>
  <div class="paragraph">Wisdom brings prosperity, peace, safety,<br>but politicians demand stupidity, so that they make have cannon fodder...</div>
  <div class="paragraph">That helps to turn war, into a get rich quick scheme,<br>that also conveniently hides any and all traces of economic failure.</div>
  <div class="paragraph">Wisdom leads to greatness,<br>and greatness leads to a world free from brainless liars, and stupid dictators or emperors.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The creatures that wanted him gone,<br>erased his legacy.</div>
  <div class="paragraph">It wasn't just paying his debt of a chicken he once borrowed, that painted a child like man,<br>but telling stories in which Socrates wanted to sacrifice for the state.</div>
  <div class="paragraph">So that others,<br>would sacrifice for the corrupt state as well.</div>
  <div class="paragraph">It has been said,<br>that the history is written by the victors.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Take wisdom away from the people,<br>by making them think that books are hard, and fake schools teach, but they are just too stupid.</div>
  <div class="paragraph">And in their haste to overwork for living, they will never know,<br>that it was up to them, to make the world a better place.</div>
</div>