<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Your paintings must speak, and there is no way in heck,<br>that they should ever speak of misery.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When we talk about changing lives,<br>we always talk about changing lives for the better.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A painting,<br>can speak about just a few things.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Since most of the easy things to say have already been painted,<br>that mostly leaves us with inspiration and sillies.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I think that one of the most inspirational formats,<br>is a painting with text in it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It can be an inscription above some magical place,<br>a large stone wall with a profound story.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or a still life, with a bust, an open book,<br>and some objects that help a person reason.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">On the other hand, the humorous painting,<br>are not that far off from jokes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a setup - suit,<br>and a punchline, perfectly aligned and fitting serious little cat head in the suit - hohoho.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where inspirational delivery is serious.<br>getting to the punchline of a joke, is anything but.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Where an inspirational portrait,<br>helps the viewer to a philosophical mood.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A Silly, Lowbrow painting,<br>is all about some reversal that makes things funny.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And thus your viewers day,<br>that much more sunny.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You'll never make everyone laugh,<br>just like you can't inspire all your viewers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As the case is with comedians,<br>some people won't be able to handle it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Others, however, will sit down,<br>and try to balance their life out, stop the overwork, and remember joy and laughter.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you need it, then I think you will find a source of inspiration,<br>in famous quotes, some of which you can paint directly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But to make a person smile,<br>to try to rouse those who stopped smiling long ago.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will need to, build,<br>and you can only use those things in your soul, that make you happy.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wqujav/comment/il0b9cn/?utm_source=reddit&utm_medium=web2x&context=3">Title Image Contest</a><br><a href="https://youtu.be/Tul5Fp6uQpI">Title Image Time-lapse</a></div>
  </div>
</div>