<div class="section">
  <p>Your paintings must speak, and there is no way in heck,<br>that they should ever speak of misery.</p>
  <p>When we talk about changing lives,<br>we always talk about changing lives for the better.</p>
  <p>A painting,<br>can speak about just a few things.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Since most of the easy things to say have already been painted,<br>that mostly leaves us with inspiration and sillies.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I think that one of the most inspirational formats,<br>is a painting with text in it.</p>
  <p>It can be an inscription above some magical place,<br>a large stone wall with a profound story.</p>
  <p>Or a still life, with a bust, an open book,<br>and some objects that help a person reason.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On the other hand, the humorous painting,<br>are not that far off from jokes.</p>
  <p>There is a setup - suit,<br>and a punchline, perfectly aligned and fitting serious little cat head in the suit - hohoho.</p>
  <p>Where inspirational delivery is serious.<br>getting to the punchline of a joke, is anything but.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Where an inspirational portrait,<br>helps the viewer to a philosophical mood.</p>
  <p>A Silly, Lowbrow painting,<br>is all about some reversal that makes things funny.</p>
  <p>And thus your viewers day,<br>that much more sunny.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You'll never make everyone laugh,<br>just like you can't inspire all your viewers.</p>
  <p>As the case is with comedians,<br>some people won't be able to handle it.</p>
  <p>Others, however, will sit down,<br>and try to balance their life out, stop the overwork, and remember joy and laughter.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you need it, then I think you will find a source of inspiration,<br>in famous quotes, some of which you can paint directly.</p>
  <p>But to make a person smile,<br>to try to rouse those who stopped smiling long ago.</p>
  <p>You will need to, build,<br>and you can only use those things in your soul, that make you happy.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wqujav/comment/il0b9cn/?utm_source=reddit&utm_medium=web2x&context=3">Title Image Contest</a><br><a href="https://youtu.be/Tul5Fp6uQpI">Title Image Time-lapse</a></p>
</div>