<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There will be no more war,<br>just a bunch of cats to adore.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Yes. Some cats won’t get along,<br>but we can kiss them and hug them and sing them a song.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We will treat them all very good,<br>and always gift them snacks and fancy food.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In return they will purr,<br>and sometimes cough up a little bit of fur.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The computer programs will be cute too,<br>truly a quantum breakthrough.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are chat bots with a smile,<br>a user interface that goes the extra mile.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The best program will manage money,<br>and make every human life sunny.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It will give every human 100 dollars each day,<br>and make all the troubles go away.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The Japanese kittens,<br>will have their own computers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Stomach grumbles will be translated to,<br>“I wish I had something to chew”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Going outside will announce,<br>“************* and then just to be sure I will pounce”</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The political kittens will probably say the most,<br>as they often complain about their scratching post.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It will be a safe and peaceful world,<br>where wisdom is more precious than gold.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Kittens love wisdom a lot,<br>so every school will have a kitten as mascot.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That alone will improve education,<br>and truly empower the younger generation.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/w5b4tw/comment/iheam0o/?utm_source=reddit&utm_medium=web2x&context=3">Title Image Painting Contest Entry</a>, <a href="https://youtu.be/gjx8AsyxxNA">Time Lapse</a>, and <a href="/image/poetry-0875-reference.jpg">Reference Images</a>.</div>
  </div>
</div>