<div class="section">
  <p>There will be no more war,<br>just a bunch of cats to adore.</p>
  <p>Yes. Some cats won’t get along,<br>but we can kiss them and hug them and sing them a song.</p>
  <p>We will treat them all very good,<br>and always gift them snacks and fancy food.</p>
  <p>In return they will purr,<br>and sometimes cough up a little bit of fur.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The computer programs will be cute too,<br>truly a quantum breakthrough.</p>
  <p>They are chat bots with a smile,<br>a user interface that goes the extra mile.</p>
  <p>The best program will manage money,<br>and make every human life sunny.</p>
  <p>It will give every human 100 dollars each day,<br>and make all the troubles go away.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The Japanese kittens,<br>will have their own computers.</p>
  <p>Stomach grumbles will be translated to,<br>“I wish I had something to chew”.</p>
  <p>Going outside will announce,<br>“************* and then just to be sure I will pounce”</p>
  <p>The political kittens will probably say the most,<br>as they often complain about their scratching post.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It will be a safe and peaceful world,<br>where wisdom is more precious than gold.</p>
  <p>Kittens love wisdom a lot,<br>so every school will have a kitten as mascot.</p>
  <p>That alone will improve education,<br>and truly empower the younger generation.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/w5b4tw/comment/iheam0o/?utm_source=reddit&utm_medium=web2x&context=3">Title Image Painting Contest Entry</a>, <a href="https://youtu.be/gjx8AsyxxNA">Time Lapse</a>, and <a href="/image/poetry-0875-reference.jpg">Reference Images</a>.</p>
</div>