<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There will be no more war,<br>just a bunch of cats to adore.</div>
  <div class="paragraph">Yes. Some cats won’t get along,<br>but we can kiss them and hug them and sing them a song.</div>
  <div class="paragraph">We will treat them all very good,<br>and always gift them snacks and fancy food.</div>
  <div class="paragraph">In return they will purr,<br>and sometimes cough up a little bit of fur.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The computer programs will be cute too,<br>truly a quantum breakthrough.</div>
  <div class="paragraph">They are chat bots with a smile,<br>a user interface that goes the extra mile.</div>
  <div class="paragraph">The best program will manage money,<br>and make every human life sunny.</div>
  <div class="paragraph">It will give every human 100 dollars each day,<br>and make all the troubles go away.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The Japanese kittens,<br>will have their own computers.</div>
  <div class="paragraph">Stomach grumbles will be translated to,<br>“I wish I had something to chew”.</div>
  <div class="paragraph">Going outside will announce,<br>“************* and then just to be sure I will pounce”</div>
  <div class="paragraph">The political kittens will probably say the most,<br>as they often complain about their scratching post.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It will be a safe and peaceful world,<br>where wisdom is more precious than gold.</div>
  <div class="paragraph">Kittens love wisdom a lot,<br>so every school will have a kitten as mascot.</div>
  <div class="paragraph">That alone will improve education,<br>and truly empower the younger generation.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title Image Painting Contest Entry<sup>[1]</sup></span>, <span>Time Lapse<sup>[2]</sup></span>, and <span>Reference Images<sup>[3]</sup></span>.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.reddit.com/r/redditgetsdrawn/comments/w5b4tw/comment/iheam0o/?utm_source=reddit&utm_medium=web2x&context=3</div>
  <div>[2]: https://youtu.be/gjx8AsyxxNA</div>
  <div>[3]: /image/poetry-0875-reference.jpg</div>
</div>