<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Using references directly for perfect layout (hatefully called tracing),<br>will teach you how to become an artist very quickly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Plus, there is too much to learn from building on top of your references,<br>to ignore using reference images directly.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you don’t know where to start in art,<br>get a $50 pen and tablet and install the free and open source Krita.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There, you will discover the reference images tool,<br>instantly become an artist, and begin learning to build your own style.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Your style is a combination of shortcuts and eye-candy,<br>that you yourself find to be the sweetest.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your tastes are sure to change as you mature,<br>but there will be strong connections.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As respectful a hyper-realistic reproduction of a photo is, hides no surprises,<br>it is tightly bound to realistic physics and rules of universe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As an artist you have the power to bend the rules of reality,<br>create impossible color and light, and pull things up to a higher level of existence.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will find that some of your works,<br>ask that you move beyond using reference images for layout.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Don't be scared of this, not should you ever force yourself into face drawing or painting,<br>you first need to relax, and dream up a really-really-really good reason, with a cool ending.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you don't have a reason to look beyond reference images,<br>don't do it - there is an art to learning art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">For example, if there is a politician you dislike,<br>because they are holding the world back, for example.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Learn to paint their eyes by direct reference and repetition,<br>and give them an expression of hateful elitist laughter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will find plenty of references for laughter,<br>and the eyes of the subject.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you try to embellish that smile, make it say,<br>“I make you poor”, or something angering like that.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will have a gap between the appearance of a person,<br>and how the face would look like with embellished laughter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is not quite caricature yet,<br>here you need to pause, and create a series of studies about laughter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You should reference images directly,<br>again that is the best way to memorize and study.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But in your final creation as you piece your politician,<br>and that grotesque later together.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will be going freehand,<br>and what is just as important, in correct context.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here you are not just doodling, but you are on a mission,<br>something that you are passionate about.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This will be something that will stay with you,<br>as you relax and work on something else.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In this time you will learn to reason about the face,<br>you will develop a curiosity for the anatomy of a smile.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You will find not discomfort here, nothing intimidating,<br>you will be simply expanding your knowledge.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Everything you do must have harmony,<br>you can't just sit down to drawing freehand, you need a reason.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once you picture, for example,<br>a series of politicians bellowing with grotesque laughter hanging at the local gallery.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You are on your way to knock people sock off,<br>and change the world.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wud87a/this_is_me/ilxs5lt/?context=3">Title Image Contest</a><br><a href="https://youtu.be/BzOi8agsrqA">Value Study Time-lapse</a></div>
  </div>
</div>