<div class="section">
  <p>Using references directly for perfect layout (hatefully called tracing),<br>will teach you how to become an artist very quickly.</p>
  <p>Plus, there is too much to learn from building on top of your references,<br>to ignore using reference images directly.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you don’t know where to start in art,<br>get a $50 pen and tablet and install the free and open source Krita.</p>
  <p>There, you will discover the reference images tool,<br>instantly become an artist, and begin learning to build your own style.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Your style is a combination of shortcuts and eye-candy,<br>that you yourself find to be the sweetest.</p>
  <p>Your tastes are sure to change as you mature,<br>but there will be strong connections.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As respectful a hyper-realistic reproduction of a photo is, hides no surprises,<br>it is tightly bound to realistic physics and rules of universe.</p>
  <p>As an artist you have the power to bend the rules of reality,<br>create impossible color and light, and pull things up to a higher level of existence.</p>
  <p>You will find that some of your works,<br>ask that you move beyond using reference images for layout.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Don't be scared of this, not should you ever force yourself into face drawing or painting,<br>you first need to relax, and dream up a really-really-really good reason, with a cool ending.</p>
  <p>If you don't have a reason to look beyond reference images,<br>don't do it - there is an art to learning art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>For example, if there is a politician you dislike,<br>because they are holding the world back, for example.</p>
  <p>Learn to paint their eyes by direct reference and repetition,<br>and give them an expression of hateful elitist laughter.</p>
  <p>You will find plenty of references for laughter,<br>and the eyes of the subject.</p>
  <p>If you try to embellish that smile, make it say,<br>“I make you poor”, or something angering like that.</p>
  <p>You will have a gap between the appearance of a person,<br>and how the face would look like with embellished laughter.</p>
  <p>This is not quite caricature yet,<br>here you need to pause, and create a series of studies about laughter.</p>
  <p>You should reference images directly,<br>again that is the best way to memorize and study.</p>
  <p>But in your final creation as you piece your politician,<br>and that grotesque later together.</p>
  <p>You will be going freehand,<br>and what is just as important, in correct context.</p>
  <p>Here you are not just doodling, but you are on a mission,<br>something that you are passionate about.</p>
  <p>This will be something that will stay with you,<br>as you relax and work on something else.</p>
  <p>In this time you will learn to reason about the face,<br>you will develop a curiosity for the anatomy of a smile.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You will find not discomfort here, nothing intimidating,<br>you will be simply expanding your knowledge.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Everything you do must have harmony,<br>you can't just sit down to drawing freehand, you need a reason.</p>
  <p>Once you picture, for example,<br>a series of politicians bellowing with grotesque laughter hanging at the local gallery.</p>
  <p>You are on your way to knock people sock off,<br>and change the world.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wud87a/this_is_me/ilxs5lt/?context=3">Title Image Contest</a><br><a href="https://youtu.be/BzOi8agsrqA">Value Study Time-lapse</a></p>
</div>