<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I uploaded 5 gigabytes,<br>of which 4.5 were supposed to be already there.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The 50GB disk,<br>ran out of space.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I didn't try to seriously delete,<br>what maybe over 100,000 little files.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I just canceled the hosting,<br>and re-created it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In the process losing my already,<br>hokey coupon.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I also got an automatic $30 refund,<br>so I am good for 3 months of hosting here.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But, the software,<br>is awful.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I'll host with someone else,<br>and just use a bare bone Linux.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Debian,<br>my Raspberry PI uses Debain too.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I just uploaded a tar file,<br>they are like zip files.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But without,<br>the compression.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Compression and decompression,<br>is for faaaAaaancy computers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And potatoes,,<br>are not, fancy computes.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I untarred, or decoded the tar file,<br>and it only took a minute or two.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If I was uploading each of the files,<br>there would be a lot more chatter, and it would take forever.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The whole thing right now, with the tar file,<br>takes up 10 gigabytes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So my way works,<br>there was no trouble no nothing.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I am not really complaining,<br>I am very happy with my own education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And how I have progressed as a programmer,<br>over all these decades.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I am relaxed, I am sitting back,<br>but I am watching things falling apart.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Everything is a dumpster,<br>and they are all cheerfully on toxic fire.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Programming, is a form of art,<br>and it is not about just barely making it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is about,<br>going all the way out.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">--</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Computers are not getting faster,<br>not at all.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The server I am working with is running 1992 technology at 1996 speed, at a whopping $9 per month,<br>I might as well be hosting my website on a cheap robotic vacuum cleaner.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I deeply enjoy the challenge of it all, I had a lot of fun,<br>but I see no progress being made anywhere.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is no progress,<br>it is still Y2K.</div>
  </div>
</div>