<div class="section">
  <p>I uploaded 5 gigabytes,<br>of which 4.5 were supposed to be already there.</p>
  <p>The 50GB disk,<br>ran out of space.</p>
  <p>I didn't try to seriously delete,<br>what maybe over 100,000 little files.</p>
  <p>I just canceled the hosting,<br>and re-created it.</p>
  <p>In the process losing my already,<br>hokey coupon.</p>
  <p>I also got an automatic $30 refund,<br>so I am good for 3 months of hosting here.</p>
  <p>But, the software,<br>is awful.</p>
  <p>I'll host with someone else,<br>and just use a bare bone Linux.</p>
  <p>Debian,<br>my Raspberry PI uses Debain too.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I just uploaded a tar file,<br>they are like zip files.</p>
  <p>But without,<br>the compression.</p>
  <p>Compression and decompression,<br>is for faaaAaaancy computers.</p>
  <p>And potatoes,,<br>are not, fancy computes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I untarred, or decoded the tar file,<br>and it only took a minute or two.</p>
  <p>If I was uploading each of the files,<br>there would be a lot more chatter, and it would take forever.</p>
  <p>The whole thing right now, with the tar file,<br>takes up 10 gigabytes.</p>
  <p>So my way works,<br>there was no trouble no nothing.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I am not really complaining,<br>I am very happy with my own education.</p>
  <p>And how I have progressed as a programmer,<br>over all these decades.</p>
  <p>I am relaxed, I am sitting back,<br>but I am watching things falling apart.</p>
  <p>Everything is a dumpster,<br>and they are all cheerfully on toxic fire.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Programming, is a form of art,<br>and it is not about just barely making it.</p>
  <p>It is about,<br>going all the way out.</p>
  <p>--</p>
  <p>Computers are not getting faster,<br>not at all.</p>
  <p>The server I am working with is running 1992 technology at 1996 speed, at a whopping $9 per month,<br>I might as well be hosting my website on a cheap robotic vacuum cleaner.</p>
  <p>I deeply enjoy the challenge of it all, I had a lot of fun,<br>but I see no progress being made anywhere.</p>
  <p>There is no progress,<br>it is still Y2K.</p>
</div>