<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I uploaded 5 gigabytes,<br>of which 4.5 were supposed to be already there.</div>
  <div class="paragraph">The 50GB disk,<br>ran out of space.</div>
  <div class="paragraph">I didn't try to seriously delete,<br>what maybe over 100,000 little files.</div>
  <div class="paragraph">I just canceled the hosting,<br>and re-created it.</div>
  <div class="paragraph">In the process losing my already,<br>hokey coupon.</div>
  <div class="paragraph">I also got an automatic $30 refund,<br>so I am good for 3 months of hosting here.</div>
  <div class="paragraph">But, the software,<br>is awful.</div>
  <div class="paragraph">I'll host with someone else,<br>and just use a bare bone Linux.</div>
  <div class="paragraph">Debian,<br>my Raspberry PI uses Debain too.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I just uploaded a tar file,<br>they are like zip files.</div>
  <div class="paragraph">But without,<br>the compression.</div>
  <div class="paragraph">Compression and decompression,<br>is for faaaAaaancy computers.</div>
  <div class="paragraph">And potatoes,,<br>are not, fancy computes.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I untarred, or decoded the tar file,<br>and it only took a minute or two.</div>
  <div class="paragraph">If I was uploading each of the files,<br>there would be a lot more chatter, and it would take forever.</div>
  <div class="paragraph">The whole thing right now, with the tar file,<br>takes up 10 gigabytes.</div>
  <div class="paragraph">So my way works,<br>there was no trouble no nothing.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I am not really complaining,<br>I am very happy with my own education.</div>
  <div class="paragraph">And how I have progressed as a programmer,<br>over all these decades.</div>
  <div class="paragraph">I am relaxed, I am sitting back,<br>but I am watching things falling apart.</div>
  <div class="paragraph">Everything is a dumpster,<br>and they are all cheerfully on toxic fire.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Programming, is a form of art,<br>and it is not about just barely making it.</div>
  <div class="paragraph">It is about,<br>going all the way out.</div>
  <div class="paragraph">--</div>
  <div class="paragraph">Computers are not getting faster,<br>not at all.</div>
  <div class="paragraph">The server I am working with is running 1992 technology at 1996 speed, at a whopping $9 per month,<br>I might as well be hosting my website on a cheap robotic vacuum cleaner.</div>
  <div class="paragraph">I deeply enjoy the challenge of it all, I had a lot of fun,<br>but I see no progress being made anywhere.</div>
  <div class="paragraph">There is no progress,<br>it is still Y2K.</div>
</div>