<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The reason why you are asking is because realistic and beautiful art is in all of us,<br>you just can’t draw the same way you couldn't write letters or ride a bicycle.</div>
  <div class="paragraph">You need those lines that helped you practice letters,<br>or that stick or extra wheels that prevented you from falling on the bicycle.</div>
  <div class="paragraph">You just need to spend time, writing your letters, riding your bicycle,<br>and in art that means you need an art tool that will keep you drawing within the lines.</div>
  <div class="paragraph">The art tool is as simple as making your won tracing paper,<br>or as complicated as buying Pen and Tablet and taking Open Source Krita tutorials.</div>
  <div class="paragraph">But let me just underline, that if someone didn’t help you to stay up on the bicycle,<br>you would keep falling, and never learn.</div>
  <div class="paragraph">If you didn’t use ruled paper,<br>it would be unnecessarily hard to write out your alphabet.</div>
  <div class="paragraph">When people tell you to draw freehand until you are good at it,<br>they are causing you harm, they are taking away your ruled paper...</div>
  <div class="paragraph">And pretend, that you need to keep falling of the bicycle,<br>until you finally know how to do it.</div>
  <div class="paragraph">People are interrupting the development of your natural born talent,<br>you were cheated out of art.</div>
  <div class="paragraph">Not just you, there are so many people,<br>that were made to give up.</div>
  <div class="paragraph">Please, help me bring art into the center of all of our lives;<br>take what you learn from here, and teach others how to get started with these tools.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Now let get you started, smart people talk about grids at this moment,<br>though some may encourage <span>proportional divider<sup>[1]</sup></span> use, <span>grids<sup>[2]</sup></span> are a good start .</div>
  <div class="paragraph">But you need to move faster, you need to believe right now,<br>take a selfie, put a piece of paper on your monitor and use a gently pencil to get started.</div>
  <div class="paragraph">Don’t call it tracing as that word is being used to attack and belittle artists,<br>it is used to suppress this beautiful talent that we are all born with.</div>
  <div class="paragraph"><span>But all the good artists use direct reference<sup>[3]</sup></span> as they wouldn't make money,<br>if everything they created was slightly crooked.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We have a problem here, because paper is good, but unfortunately, color is hard here,<br>as you move from paper to canvas, you will need to mix colors.</div>
  <div class="paragraph">It is a beautiful hobby, and a wonderful skill,<br>but it will slow you down and distract you from coloring.</div>
  <div class="paragraph">If you start watching video tutorial on the free an open source Krita,<br>you get a <span>powerful image reference tool<sup>[4]</sup></span> and the ability to sample colors from digital photos.</div>
  <div class="paragraph">And this too has a dirty word designed to push you away,<br>people will say “Color Picking is not art”.</div>
  <div class="paragraph">So even though you are using a color picker,<br>don’t call it color picking - because that is how foolish things have become.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you stick with pencils, you will need to get art pencils that go from dark to light,<br>if you are going to paint acrylic get some canvas paper.</div>
  <div class="paragraph">And if you will paint with oils, get ready for a surprise, because the magical thing about oils,<br>if that the paint stays wet for days to help you blend colors.</div>
  <div class="paragraph">To move forward, it will cost a bit of money, hopefully no more than $50 bucks,<br>but it is hard not to keep buying art stuff.</div>
  <div class="paragraph">Turning your house into a colorful and mystical art studio,<br>is a great motivational force.</div>
  <div class="paragraph">If you are going to paint in the real world,<br>get a mini <span>Projector<sup>[5]</sup></span>, or splurge on a high lumen Office Projector.</div>
  <div class="paragraph">The $50-$80 mini projectors can connect to your smart phone,<br>so you shoot a selfie and then project it on canvas and draw, or paint.</div>
  <div class="paragraph">If you want to keep things simple, <span>use graphite paper, or make your own<sup>[6]</sup></span>,<br>you can do that at a coffee shop, without trying to mount your projector.</div>
  <div class="paragraph">And heart-breakingly,<br>the digital art world also has a $50-65 dollar expense, and that is pen and tablet.</div>
  <div class="paragraph">Aside from the pen feeling more natural than a mouse,<br>the pen tip, is a pressure sensor that will make your Air Brush very powerful.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">People crazed with wanting to feel special,<br>will tell you that none of this describes art.</div>
  <div class="paragraph">But the definition of good art is the following:<br>“Good art is the kind of art that changes lives”.</div>
  <div class="paragraph">As you learn from this method,<br>invite others to learn with you, change their lives for the better.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This method gets you started,<br>but your mind will forever race for more.</div>
  <div class="paragraph">The eye that you can draw right now,<br>will transform into a bundle of shadows.</div>
  <div class="paragraph">But soon enough, you will want to stylize the shadows,<br>and the first step to that is seeing the eye not as bundle of shadows but as a 3D or 2.5D shape.</div>
  <div class="paragraph">That will mark the beginning of your second step into art,<br>the first step grants you hyper-realism...</div>
  <div class="paragraph">The second will mark the beginning of something even more precious,<br>of one of your greatest and noblest adventures that will help you to amazing friendships, and undreamed of heights.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Just like with being helped to stay on the bicycle,<br>you will eventually need less and less help as you grow and develop your skills.</div>
  <div class="paragraph">Soon you will not be just staying up on the bicycle,<br>but rather, learning to navigate the great city of art, and the infinite universe beyond.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=cViRPLSlDLg</div>
  <div>[2]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
  <div>[3]: https://www.youtube.com/watch?v=0fEMJp70tGU</div>
  <div>[4]: https://www.youtube.com/watch?v=XCVJyFHcb38</div>
  <div>[5]: https://www.youtube.com/watch?v=G1fAWGTTFdY</div>
  <div>[6]: https://www.youtube.com/watch?v=7w-Tjd5DrS0</div>
</div>