<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you have to study hard,<br>then you are doing it wrong.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I am sorry,<br>but this is probably the truth.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Tests are hard to give meaning,<br>to somewhat pointless lectures.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Made difficult to cram-in as many kids,<br>as needed to make money.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">These lectures won’t ever move in a sequence,<br>that you can actually learn from.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are painfully slow,<br>to get everyone to perform - knowledge be damned.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You represent income,<br>retirement, trimmed hedges, and hopeful hedge funds.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">On a poverty world, everything will eventually,<br>lean towards profit maximization.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In school, they call it balanced education.<br>everyone involved, will consciously enough...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Balance what they do,<br>relative to what you can give them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">College loans are priced,<br>to extract the maximum.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are setup to be unforgivable by bankruptcy,<br>and eventually automatically deducted from your paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The trail of breadcrumbs, will keep you paying,<br>through the sunk cost fallacy, and false promises.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And the art teacher, won’t let you trace,<br>not it is because, the wealthy won’t buy your art later on.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But because, you wouldn't need,<br>an art teacher.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">After your 100th trace,<br>you’d be amazing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">After your 1,000th trace,<br>you’d be revolutionary.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And maybe angry,<br>that we were sold out for paychecks.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or maybe hopeful,<br>that we can fix it.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The first step is always self education,<br>because education is too important to entrust others with.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Start with the books held in highest esteem,<br>by the world’s most brilliant intellectuals.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And don’t stop, until you grow all the way up,<br>and become a Great Being, like they are.</div>
  </div>
</div>