<div class="section">
  <p>If you have to study hard,<br>then you are doing it wrong.</p>
  <p>I am sorry,<br>but this is probably the truth.</p>
  <p>Tests are hard to give meaning,<br>to somewhat pointless lectures.</p>
  <p>Made difficult to cram-in as many kids,<br>as needed to make money.</p>
  <p>These lectures won’t ever move in a sequence,<br>that you can actually learn from.</p>
  <p>They are painfully slow,<br>to get everyone to perform - knowledge be damned.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You represent income,<br>retirement, trimmed hedges, and hopeful hedge funds.</p>
  <p>On a poverty world, everything will eventually,<br>lean towards profit maximization.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In school, they call it balanced education.<br>everyone involved, will consciously enough...</p>
  <p>Balance what they do,<br>relative to what you can give them.</p>
  <p>College loans are priced,<br>to extract the maximum.</p>
  <p>They are setup to be unforgivable by bankruptcy,<br>and eventually automatically deducted from your paycheck.</p>
  <p>The trail of breadcrumbs, will keep you paying,<br>through the sunk cost fallacy, and false promises.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And the art teacher, won’t let you trace,<br>not it is because, the wealthy won’t buy your art later on.</p>
  <p>But because, you wouldn't need,<br>an art teacher.</p>
  <p>After your 100th trace,<br>you’d be amazing.</p>
  <p>After your 1,000th trace,<br>you’d be revolutionary.</p>
  <p>And maybe angry,<br>that we were sold out for paychecks.</p>
  <p>Or maybe hopeful,<br>that we can fix it.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The first step is always self education,<br>because education is too important to entrust others with.</p>
  <p>Start with the books held in highest esteem,<br>by the world’s most brilliant intellectuals.</p>
  <p>And don’t stop, until you grow all the way up,<br>and become a Great Being, like they are.</p>
</div>