<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you have to study hard,<br>then you are doing it wrong.</div>
  <div class="paragraph">I am sorry,<br>but this is probably the truth.</div>
  <div class="paragraph">Tests are hard to give meaning,<br>to somewhat pointless lectures.</div>
  <div class="paragraph">Made difficult to cram-in as many kids,<br>as needed to make money.</div>
  <div class="paragraph">These lectures won’t ever move in a sequence,<br>that you can actually learn from.</div>
  <div class="paragraph">They are painfully slow,<br>to get everyone to perform - knowledge be damned.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You represent income,<br>retirement, trimmed hedges, and hopeful hedge funds.</div>
  <div class="paragraph">On a poverty world, everything will eventually,<br>lean towards profit maximization.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In school, they call it balanced education.<br>everyone involved, will consciously enough...</div>
  <div class="paragraph">Balance what they do,<br>relative to what you can give them.</div>
  <div class="paragraph">College loans are priced,<br>to extract the maximum.</div>
  <div class="paragraph">They are setup to be unforgivable by bankruptcy,<br>and eventually automatically deducted from your paycheck.</div>
  <div class="paragraph">The trail of breadcrumbs, will keep you paying,<br>through the sunk cost fallacy, and false promises.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And the art teacher, won’t let you trace,<br>not it is because, the wealthy won’t buy your art later on.</div>
  <div class="paragraph">But because, you wouldn't need,<br>an art teacher.</div>
  <div class="paragraph">After your 100th trace,<br>you’d be amazing.</div>
  <div class="paragraph">After your 1,000th trace,<br>you’d be revolutionary.</div>
  <div class="paragraph">And maybe angry,<br>that we were sold out for paychecks.</div>
  <div class="paragraph">Or maybe hopeful,<br>that we can fix it.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The first step is always self education,<br>because education is too important to entrust others with.</div>
  <div class="paragraph">Start with the books held in highest esteem,<br>by the world’s most brilliant intellectuals.</div>
  <div class="paragraph">And don’t stop, until you grow all the way up,<br>and become a Great Being, like they are.</div>
</div>