<div class="section">
  <p>Grades are a game, where everyone pretends they are real,<br>if you memorize you get a good one, but <a href="https://www.youtube.com/watch?v=DzSnvxejenY">if you are too good you will be graded down</a>.</p>
  <p>Humanity has lots of strange games,<br>that everyone is hoping to make real</p>
  <p>Poverty can be easily put to an end with international universal income,<br>but we pretend that is not good, and yet money is our invention.</p>
  <p>Every religion is full of atheists towards all the other religions,<br>and <a href="https://www.youtube.com/watch?v=6mmskXXetcg">we pretend that which ever one we happened to be born into, is real</a></p>
  <p>We invented borders, and yet pandemics show,<br>that it is a foolish idea.</p>
  <p>We invented, wars, and rules of war, where we send out teenagers to fight other children,<br>and we pretend this is not evil, wars are meant to be prevented by means of real education.</p>
  <p>We are in a state of mass incarceration, because those who were sworn to protect,<br>started destroying, where we had no choice but to legalize dangerous drugs.</p>
  <p>We pretend politics are working, and yet there is little improvement,<br>and liars lie themselves into positions by only choosing opposite opinions without vision.</p>
  <p>We stand for human rights, but we keep tens of thousands in solitary confinement,<br>and we ignore that prisons don’t work, that people return, that they don't need therapy and education, but a cage.</p>
  <p>You know cramming and memorization is not education,<br>and yet you treat schools as real, you are role-playing that we have real schools.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Do not let the players belittle you, keep you down of threaten you with poverty,<br>learn programming, digital music composition, 3D modeling, digital painting.</p>
  <p>And <a href="https://www.youtube.com/results?search_query=What+Is+A+Startup&page=&utm_source=opensearch">build a series of small companies or startups</a>,<br>until you master the process arrive at the one that works.</p>
  <p>Start in High School, dream, strategize,<br>and learn for real, until you know that you no longer have to fear poverty.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There are many more problems and games that the world is playing,<br>too many to list.</p>
  <p>But the first step to making repairs,<br>is you rejecting all the games that everyone is playing, and gaining a solid grasp on reality.</p>
  <p>Call it a quest for authenticity,<br>and write as many books as you can so that others may follow.</p>
  <p>Because we cannot fix what is wrong with the world,<br>when we can’t see it.</p>
  <p>Dedicate your life to powerful self education,<br>and with the resulting wisdom...</p>
  <p>Grow, and grow all the way up,<br>until you become a Great Being.</p>
</div>