<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Grades are a game, where everyone pretends they are real,<br>if you memorize you get a good one, but <span>if you are too good you will be graded down<sup>[1]</sup></span>.</div>
  <div class="paragraph">Humanity has lots of strange games,<br>that everyone is hoping to make real</div>
  <div class="paragraph">Poverty can be easily put to an end with international universal income,<br>but we pretend that is not good, and yet money is our invention.</div>
  <div class="paragraph">Every religion is full of atheists towards all the other religions,<br>and <span>we pretend that which ever one we happened to be born into, is real<sup>[2]</sup></span></div>
  <div class="paragraph">We invented borders, and yet pandemics show,<br>that it is a foolish idea.</div>
  <div class="paragraph">We invented, wars, and rules of war, where we send out teenagers to fight other children,<br>and we pretend this is not evil, wars are meant to be prevented by means of real education.</div>
  <div class="paragraph">We are in a state of mass incarceration, because those who were sworn to protect,<br>started destroying, where we had no choice but to legalize dangerous drugs.</div>
  <div class="paragraph">We pretend politics are working, and yet there is little improvement,<br>and liars lie themselves into positions by only choosing opposite opinions without vision.</div>
  <div class="paragraph">We stand for human rights, but we keep tens of thousands in solitary confinement,<br>and we ignore that prisons don’t work, that people return, that they don't need therapy and education, but a cage.</div>
  <div class="paragraph">You know cramming and memorization is not education,<br>and yet you treat schools as real, you are role-playing that we have real schools.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Do not let the players belittle you, keep you down of threaten you with poverty,<br>learn programming, digital music composition, 3D modeling, digital painting.</div>
  <div class="paragraph">And <span>build a series of small companies or startups<sup>[3]</sup></span>,<br>until you master the process arrive at the one that works.</div>
  <div class="paragraph">Start in High School, dream, strategize,<br>and learn for real, until you know that you no longer have to fear poverty.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are many more problems and games that the world is playing,<br>too many to list.</div>
  <div class="paragraph">But the first step to making repairs,<br>is you rejecting all the games that everyone is playing, and gaining a solid grasp on reality.</div>
  <div class="paragraph">Call it a quest for authenticity,<br>and write as many books as you can so that others may follow.</div>
  <div class="paragraph">Because we cannot fix what is wrong with the world,<br>when we can’t see it.</div>
  <div class="paragraph">Dedicate your life to powerful self education,<br>and with the resulting wisdom...</div>
  <div class="paragraph">Grow, and grow all the way up,<br>until you become a Great Being.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=DzSnvxejenY</div>
  <div>[2]: https://www.youtube.com/watch?v=6mmskXXetcg</div>
  <div>[3]: https://www.youtube.com/results?search_query=What+Is+A+Startup&page=&utm_source=opensearch</div>
</div>