<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If artists, especially those who act like mentors were more honest,<br>they would allow new comers to art to create hyper-realistic works.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Instead they send the new students on a round about journey,<br>because deep down, they don’t want newcomers to be as good as they are.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Considering the state that the world is in today,<br>we must use art to practice zero tolerance for manipulation, self-delusion, and lies.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We are all natural born artists,<br>my message to those who still want to use art to make themselves look special is:</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Switch to doing magic, and magic tricks,<br>the magicians code is nice and clear, and won’t be violated.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Art is not for the elitists, pretenders, the false masters or leaders with lies for advice,<br>and certainly not for those with a need to elevate themselves above others.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">While Digital Art can be used as a mixed media component,<br>where some of the work is done in real life and some of it digital...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is a new beginning, it starts where real life art stopped,<br>it is not to replicate real life art, it is to take it to the net level.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Though it is wonderful, to paint with virtual oils,<br>or replicate the process of old masters...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That is only a creative use case,<br>and not the aim of digital art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We must not squander the Full Power of Digital Art,<br>on reproducing what can be done without computers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I repeat, if you can do it without the need for a computer,<br>you are not using the full power of digital art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">For one, in computer world,<br>you should build much greater and more intricate scenes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Don’t just use a perspective tool,<br>use a 3D modeling program to map out the word and give you more information on shadows.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What could almost pass for completed work in the real world<br>in the digital, is just the first step.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In closing allow me to state some obvious things,<br>Photo-bashing is one of the forms, of digital art, it is not to be looked down upon.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Color-picking, and tracing, are elitist terms,<br>crafted to belittle, suppress, dominate, and harm newcomers to art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Freehand drawings and slightly crooked creations are one of many styles,<br>they are not superior.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Teaching hand eye coordination first, is a form of abuse, and a betrayal,<br>hand eye coordination develops on its own when working with the aid of <a href="https://www.youtube.com/watch?v=XCVJyFHcb38">tools</a> and <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">gadgets</a>.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Know that young people, are smarter than you,<br>and there is nothing you can do about it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Make no attempt to take art away,<br>from the younger generations.</div>
  </div>
</div>