<div class="section">
  <p>If artists, especially those who act like mentors were more honest,<br>they would allow new comers to art to create hyper-realistic works.</p>
  <p>Instead they send the new students on a round about journey,<br>because deep down, they don’t want newcomers to be as good as they are.</p>
  <p>Considering the state that the world is in today,<br>we must use art to practice zero tolerance for manipulation, self-delusion, and lies.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We are all natural born artists,<br>my message to those who still want to use art to make themselves look special is:</p>
  <p>Switch to doing magic, and magic tricks,<br>the magicians code is nice and clear, and won’t be violated.</p>
  <p>Art is not for the elitists, pretenders, the false masters or leaders with lies for advice,<br>and certainly not for those with a need to elevate themselves above others.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>While Digital Art can be used as a mixed media component,<br>where some of the work is done in real life and some of it digital...</p>
  <p>It is a new beginning, it starts where real life art stopped,<br>it is not to replicate real life art, it is to take it to the net level.</p>
  <p>Though it is wonderful, to paint with virtual oils,<br>or replicate the process of old masters...</p>
  <p>That is only a creative use case,<br>and not the aim of digital art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We must not squander the Full Power of Digital Art,<br>on reproducing what can be done without computers.</p>
  <p>I repeat, if you can do it without the need for a computer,<br>you are not using the full power of digital art.</p>
  <p>For one, in computer world,<br>you should build much greater and more intricate scenes.</p>
  <p>Don’t just use a perspective tool,<br>use a 3D modeling program to map out the word and give you more information on shadows.</p>
  <p>What could almost pass for completed work in the real world<br>in the digital, is just the first step.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In closing allow me to state some obvious things,<br>Photo-bashing is one of the forms, of digital art, it is not to be looked down upon.</p>
  <p>Color-picking, and tracing, are elitist terms,<br>crafted to belittle, suppress, dominate, and harm newcomers to art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Freehand drawings and slightly crooked creations are one of many styles,<br>they are not superior.</p>
  <p>Teaching hand eye coordination first, is a form of abuse, and a betrayal,<br>hand eye coordination develops on its own when working with the aid of <a href="https://www.youtube.com/watch?v=XCVJyFHcb38">tools</a> and <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">gadgets</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Know that young people, are smarter than you,<br>and there is nothing you can do about it.</p>
  <p>Make no attempt to take art away,<br>from the younger generations.</p>
</div>