<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If artists, especially those who act like mentors were more honest,<br>they would allow new comers to art to create hyper-realistic works.</div>
  <div class="paragraph">Instead they send the new students on a round about journey,<br>because deep down, they don’t want newcomers to be as good as they are.</div>
  <div class="paragraph">Considering the state that the world is in today,<br>we must use art to practice zero tolerance for manipulation, self-delusion, and lies.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We are all natural born artists,<br>my message to those who still want to use art to make themselves look special is:</div>
  <div class="paragraph">Switch to doing magic, and magic tricks,<br>the magicians code is nice and clear, and won’t be violated.</div>
  <div class="paragraph">Art is not for the elitists, pretenders, the false masters or leaders with lies for advice,<br>and certainly not for those with a need to elevate themselves above others.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">While Digital Art can be used as a mixed media component,<br>where some of the work is done in real life and some of it digital...</div>
  <div class="paragraph">It is a new beginning, it starts where real life art stopped,<br>it is not to replicate real life art, it is to take it to the net level.</div>
  <div class="paragraph">Though it is wonderful, to paint with virtual oils,<br>or replicate the process of old masters...</div>
  <div class="paragraph">That is only a creative use case,<br>and not the aim of digital art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We must not squander the Full Power of Digital Art,<br>on reproducing what can be done without computers.</div>
  <div class="paragraph">I repeat, if you can do it without the need for a computer,<br>you are not using the full power of digital art.</div>
  <div class="paragraph">For one, in computer world,<br>you should build much greater and more intricate scenes.</div>
  <div class="paragraph">Don’t just use a perspective tool,<br>use a 3D modeling program to map out the word and give you more information on shadows.</div>
  <div class="paragraph">What could almost pass for completed work in the real world<br>in the digital, is just the first step.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In closing allow me to state some obvious things,<br>Photo-bashing is one of the forms, of digital art, it is not to be looked down upon.</div>
  <div class="paragraph">Color-picking, and tracing, are elitist terms,<br>crafted to belittle, suppress, dominate, and harm newcomers to art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Freehand drawings and slightly crooked creations are one of many styles,<br>they are not superior.</div>
  <div class="paragraph">Teaching hand eye coordination first, is a form of abuse, and a betrayal,<br>hand eye coordination develops on its own when working with the aid of <span>tools<sup>[1]</sup></span> and <span>gadgets<sup>[2]</sup></span>.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Know that young people, are smarter than you,<br>and there is nothing you can do about it.</div>
  <div class="paragraph">Make no attempt to take art away,<br>from the younger generations.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=XCVJyFHcb38</div>
  <div>[2]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
</div>