<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A tutorial is long step by step adventure,<br>that explains a valuable talent, process, and technique.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It can be said that a tutorial,<br>is the finest personal learning experience.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">On the high end,<br>of the spectrum...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you refine a tutorial,<br>what you get is a series of 12 steps.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That go by the nam e of: lectures,<br>so a tutorial taken to a proper maximum.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Makes a real Professor,<br>and the resulting lectures, extremely valuable.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The college mimicry,<br>is precisely as old as fraud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once you convert lectures,<br>to a standardized education...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where they are meant to<br>manufacture grades.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That make the institution,<br>and the mimic look legitimate.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All worth is lost, in noise,<br>that can only be memorized.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When a tutorial is forced,<br>it them becomes fraud.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">On the other end of the spectrum,<br>you have manuals, reference...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And also something very special,<br>it is a form of instruction called the Cookbook.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where the reader,<br>is presented with recipes...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Tor things that are just too hard,<br>to grasp from a manual.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The cookbook is the birth of context,<br>that makes the tutorial above, precious.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Tutorials have one very small problem,<br>they lack the culture of connecting to other tutorials.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That is to say,<br>if someone gets stuck...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They should have,<br>more than enough links to click on...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To study all the topics,<br>that surround the place they got stuck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is of course the role,<br>that the honest professor plays.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They help the novice navigate,<br>to the subjects that will strengthen their understanding.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Again most Professors,<br>are just fraud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The way you catch that, is,<br>by asking yourself if you gained the talent you were after.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you were tricked into thinking,<br>that you were not quite ready yet.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You just got processed,<br>precisely like a sausage.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To make that school,<br>stay open for another few yeas.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A lot of students like this scam,<br>because they get a diploma.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Which is a requirement,<br>to go to the next school.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And eventually have the necessarily certification,<br>to open a business or a practice.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But fraud is fraud,<br>the student is tricked into not learning.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And nothing,<br>nothing is worth that price.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Enough years of make-believe education,<br>can permanently disable a mind.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You should never think to your self,<br>“I’ll just go to college”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you must,<br>get that fraudulent diploma.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Then, you owe it to yourself,<br>to first learn, all the subjects you will take; for real.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And please keep in mind,<br>that your participation...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Can only add,<br>to make their fraud look legitimate.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Remember, in a compromise between good and evil,<br>only evil can profit.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In closing, a tutorial is a pure lecture,<br>unstained by institutions or their greed.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you are lucky,<br>you’ll find a worthy professor.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But most commonly, a tutorial that fits you,<br>is an adventure that will enhance your mind.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One of your greatest works,<br>won’t be poetry, or narrated books.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But the tutorials, that will profoundly,<br>alter the minds and lives of others.</div>
  </div>
</div>