<div class="section">
  <p>A tutorial is long step by step adventure,<br>that explains a valuable talent, process, and technique.</p>
  <p>It can be said that a tutorial,<br>is the finest personal learning experience.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On the high end,<br>of the spectrum...</p>
  <p>When you refine a tutorial,<br>what you get is a series of 12 steps.</p>
  <p>That go by the nam e of: lectures,<br>so a tutorial taken to a proper maximum.</p>
  <p>Makes a real Professor,<br>and the resulting lectures, extremely valuable.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The college mimicry,<br>is precisely as old as fraud.</p>
  <p>Once you convert lectures,<br>to a standardized education...</p>
  <p>Where they are meant to<br>manufacture grades.</p>
  <p>That make the institution,<br>and the mimic look legitimate.</p>
  <p>All worth is lost, in noise,<br>that can only be memorized.</p>
  <p>When a tutorial is forced,<br>it them becomes fraud.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On the other end of the spectrum,<br>you have manuals, reference...</p>
  <p>And also something very special,<br>it is a form of instruction called the Cookbook.</p>
  <p>Where the reader,<br>is presented with recipes...</p>
  <p>Tor things that are just too hard,<br>to grasp from a manual.</p>
  <p>The cookbook is the birth of context,<br>that makes the tutorial above, precious.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Tutorials have one very small problem,<br>they lack the culture of connecting to other tutorials.</p>
  <p>That is to say,<br>if someone gets stuck...</p>
  <p>They should have,<br>more than enough links to click on...</p>
  <p>To study all the topics,<br>that surround the place they got stuck.</p>
  <p>This is of course the role,<br>that the honest professor plays.</p>
  <p>They help the novice navigate,<br>to the subjects that will strengthen their understanding.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Again most Professors,<br>are just fraud.</p>
  <p>The way you catch that, is,<br>by asking yourself if you gained the talent you were after.</p>
  <p>If you were tricked into thinking,<br>that you were not quite ready yet.</p>
  <p>You just got processed,<br>precisely like a sausage.</p>
  <p>To make that school,<br>stay open for another few yeas.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A lot of students like this scam,<br>because they get a diploma.</p>
  <p>Which is a requirement,<br>to go to the next school.</p>
  <p>And eventually have the necessarily certification,<br>to open a business or a practice.</p>
  <p>But fraud is fraud,<br>the student is tricked into not learning.</p>
  <p>And nothing,<br>nothing is worth that price.</p>
  <p>Enough years of make-believe education,<br>can permanently disable a mind.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You should never think to your self,<br>“I’ll just go to college”.</p>
  <p>If you must,<br>get that fraudulent diploma.</p>
  <p>Then, you owe it to yourself,<br>to first learn, all the subjects you will take; for real.</p>
  <p>And please keep in mind,<br>that your participation...</p>
  <p>Can only add,<br>to make their fraud look legitimate.</p>
  <p>Remember, in a compromise between good and evil,<br>only evil can profit.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In closing, a tutorial is a pure lecture,<br>unstained by institutions or their greed.</p>
  <p>If you are lucky,<br>you’ll find a worthy professor.</p>
  <p>But most commonly, a tutorial that fits you,<br>is an adventure that will enhance your mind.</p>
  <p>One of your greatest works,<br>won’t be poetry, or narrated books.</p>
  <p>But the tutorials, that will profoundly,<br>alter the minds and lives of others.</p>
</div>