<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A tutorial is long step by step adventure,<br>that explains a valuable talent, process, and technique.</div>
  <div class="paragraph">It can be said that a tutorial,<br>is the finest personal learning experience.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">On the high end,<br>of the spectrum...</div>
  <div class="paragraph">When you refine a tutorial,<br>what you get is a series of 12 steps.</div>
  <div class="paragraph">That go by the nam e of: lectures,<br>so a tutorial taken to a proper maximum.</div>
  <div class="paragraph">Makes a real Professor,<br>and the resulting lectures, extremely valuable.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The college mimicry,<br>is precisely as old as fraud.</div>
  <div class="paragraph">Once you convert lectures,<br>to a standardized education...</div>
  <div class="paragraph">Where they are meant to<br>manufacture grades.</div>
  <div class="paragraph">That make the institution,<br>and the mimic look legitimate.</div>
  <div class="paragraph">All worth is lost, in noise,<br>that can only be memorized.</div>
  <div class="paragraph">When a tutorial is forced,<br>it them becomes fraud.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">On the other end of the spectrum,<br>you have manuals, reference...</div>
  <div class="paragraph">And also something very special,<br>it is a form of instruction called the Cookbook.</div>
  <div class="paragraph">Where the reader,<br>is presented with recipes...</div>
  <div class="paragraph">Tor things that are just too hard,<br>to grasp from a manual.</div>
  <div class="paragraph">The cookbook is the birth of context,<br>that makes the tutorial above, precious.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Tutorials have one very small problem,<br>they lack the culture of connecting to other tutorials.</div>
  <div class="paragraph">That is to say,<br>if someone gets stuck...</div>
  <div class="paragraph">They should have,<br>more than enough links to click on...</div>
  <div class="paragraph">To study all the topics,<br>that surround the place they got stuck.</div>
  <div class="paragraph">This is of course the role,<br>that the honest professor plays.</div>
  <div class="paragraph">They help the novice navigate,<br>to the subjects that will strengthen their understanding.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Again most Professors,<br>are just fraud.</div>
  <div class="paragraph">The way you catch that, is,<br>by asking yourself if you gained the talent you were after.</div>
  <div class="paragraph">If you were tricked into thinking,<br>that you were not quite ready yet.</div>
  <div class="paragraph">You just got processed,<br>precisely like a sausage.</div>
  <div class="paragraph">To make that school,<br>stay open for another few yeas.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A lot of students like this scam,<br>because they get a diploma.</div>
  <div class="paragraph">Which is a requirement,<br>to go to the next school.</div>
  <div class="paragraph">And eventually have the necessarily certification,<br>to open a business or a practice.</div>
  <div class="paragraph">But fraud is fraud,<br>the student is tricked into not learning.</div>
  <div class="paragraph">And nothing,<br>nothing is worth that price.</div>
  <div class="paragraph">Enough years of make-believe education,<br>can permanently disable a mind.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You should never think to your self,<br>“I’ll just go to college”.</div>
  <div class="paragraph">If you must,<br>get that fraudulent diploma.</div>
  <div class="paragraph">Then, you owe it to yourself,<br>to first learn, all the subjects you will take; for real.</div>
  <div class="paragraph">And please keep in mind,<br>that your participation...</div>
  <div class="paragraph">Can only add,<br>to make their fraud look legitimate.</div>
  <div class="paragraph">Remember, in a compromise between good and evil,<br>only evil can profit.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In closing, a tutorial is a pure lecture,<br>unstained by institutions or their greed.</div>
  <div class="paragraph">If you are lucky,<br>you’ll find a worthy professor.</div>
  <div class="paragraph">But most commonly, a tutorial that fits you,<br>is an adventure that will enhance your mind.</div>
  <div class="paragraph">One of your greatest works,<br>won’t be poetry, or narrated books.</div>
  <div class="paragraph">But the tutorials, that will profoundly,<br>alter the minds and lives of others.</div>
</div>