<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You have to be really careful with art ideas,<br>and be good to yourself.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you sit down to learn or test something,<br>don’t expect a painting to come out of it, not even a maybe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Only when you sit down to create a complete painting,<br>will you get a complete painting.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a charming exception from time to time,<br>but it probably won’t fit anywhere, because it came out of nowhere.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You will need,<br>image references.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Image references,<br>are more than just about shape, they also have the color theme.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a million ways to get the shapes right,<br>from graphite paper, and wall projectors, to Image Reference tool like in Krita.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your color theme is more complex,<br>because just any colors won’t do.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The wrong colors are a disaster,<br>you can’t create an exceptional painting if the colors are wrong.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">People don’t over react when they talk about mood, or warmth,<br>if you paint a golden kitten and give it a red background...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The cuteness of the kitten, will be upset,<br>by an angry, hot, or bloody background.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can give a kitten a royal cape,<br>but you can’t put paint splatter on the wall.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You need to know this ahead of time,<br>as complex paintings often don’t handle additions well.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There is more to it, even if you pick a color that will play right,<br>you are not the first person to paint a cute kitten.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A lot of artist made a science out of it,<br>the science of painting kittens.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One of the most magnificent colors for a kitten is black,<br>you barely see any features...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">but glowing shiny eyes, and thunder, or magic, or little glowy hearts,<br>around and behind.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And here you are, with neat gray,<br>and accent red, and you kitten won’t be magical.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It will have to be a news reporter,<br>who only gets 15 naps and is always tired.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Of course gathering reference images,<br>is the noble act of Research - and you are sure to come across them.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You must also pay attention to texture,<br>if your texture requires over 1,600 hours of careful work.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Then that is bad texture,<br>and you need to make your kitty fluffy, like a cloud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">For which you need little more than 20 hairs of fur, curly whiskers,<br>and an airbrush body, that does not require much detailing.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This is not bad news, but it is not perfect,<br>you can’t just sit to create an exceptional painting, oh well.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But the good news is, research is fun, and colorful,<br>and you get to see what other artists re learning.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And after a while, you start detecting art trends,<br>and sometimes even consider joining in.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As always if you are not sure where to start,<br>start with furry creatures.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Poooost scriptum,</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One of my kittens,<br><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wdpdh8/rgd_mod_favorites_july_19_aug_1/">got picked as a favorite</a>.</div>
  </div>
</div>