<div class="section">
  <p>You have to be really careful with art ideas,<br>and be good to yourself.</p>
  <p>When you sit down to learn or test something,<br>don’t expect a painting to come out of it, not even a maybe.</p>
  <p>Only when you sit down to create a complete painting,<br>will you get a complete painting.</p>
  <p>There is a charming exception from time to time,<br>but it probably won’t fit anywhere, because it came out of nowhere.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You will need,<br>image references.</p>
  <p>Image references,<br>are more than just about shape, they also have the color theme.</p>
  <p>There is a million ways to get the shapes right,<br>from graphite paper, and wall projectors, to Image Reference tool like in Krita.</p>
  <p>Your color theme is more complex,<br>because just any colors won’t do.</p>
  <p>The wrong colors are a disaster,<br>you can’t create an exceptional painting if the colors are wrong.</p>
  <p>People don’t over react when they talk about mood, or warmth,<br>if you paint a golden kitten and give it a red background...</p>
  <p>The cuteness of the kitten, will be upset,<br>by an angry, hot, or bloody background.</p>
  <p>You can give a kitten a royal cape,<br>but you can’t put paint splatter on the wall.</p>
  <p>You need to know this ahead of time,<br>as complex paintings often don’t handle additions well.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is more to it, even if you pick a color that will play right,<br>you are not the first person to paint a cute kitten.</p>
  <p>A lot of artist made a science out of it,<br>the science of painting kittens.</p>
  <p>One of the most magnificent colors for a kitten is black,<br>you barely see any features...</p>
  <p>but glowing shiny eyes, and thunder, or magic, or little glowy hearts,<br>around and behind.</p>
  <p>And here you are, with neat gray,<br>and accent red, and you kitten won’t be magical.</p>
  <p>It will have to be a news reporter,<br>who only gets 15 naps and is always tired.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Of course gathering reference images,<br>is the noble act of Research - and you are sure to come across them.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You must also pay attention to texture,<br>if your texture requires over 1,600 hours of careful work.</p>
  <p>Then that is bad texture,<br>and you need to make your kitty fluffy, like a cloud.</p>
  <p>For which you need little more than 20 hairs of fur, curly whiskers,<br>and an airbrush body, that does not require much detailing.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This is not bad news, but it is not perfect,<br>you can’t just sit to create an exceptional painting, oh well.</p>
  <p>But the good news is, research is fun, and colorful,<br>and you get to see what other artists re learning.</p>
  <p>And after a while, you start detecting art trends,<br>and sometimes even consider joining in.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As always if you are not sure where to start,<br>start with furry creatures.</p>
  <p>Poooost scriptum,</p>
  <p>One of my kittens,<br><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wdpdh8/rgd_mod_favorites_july_19_aug_1/">got picked as a favorite</a>.</p>
</div>