<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You have to be really careful with art ideas,<br>and be good to yourself.</div>
  <div class="paragraph">When you sit down to learn or test something,<br>don’t expect a painting to come out of it, not even a maybe.</div>
  <div class="paragraph">Only when you sit down to create a complete painting,<br>will you get a complete painting.</div>
  <div class="paragraph">There is a charming exception from time to time,<br>but it probably won’t fit anywhere, because it came out of nowhere.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You will need,<br>image references.</div>
  <div class="paragraph">Image references,<br>are more than just about shape, they also have the color theme.</div>
  <div class="paragraph">There is a million ways to get the shapes right,<br>from graphite paper, and wall projectors, to Image Reference tool like in Krita.</div>
  <div class="paragraph">Your color theme is more complex,<br>because just any colors won’t do.</div>
  <div class="paragraph">The wrong colors are a disaster,<br>you can’t create an exceptional painting if the colors are wrong.</div>
  <div class="paragraph">People don’t over react when they talk about mood, or warmth,<br>if you paint a golden kitten and give it a red background...</div>
  <div class="paragraph">The cuteness of the kitten, will be upset,<br>by an angry, hot, or bloody background.</div>
  <div class="paragraph">You can give a kitten a royal cape,<br>but you can’t put paint splatter on the wall.</div>
  <div class="paragraph">You need to know this ahead of time,<br>as complex paintings often don’t handle additions well.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There is more to it, even if you pick a color that will play right,<br>you are not the first person to paint a cute kitten.</div>
  <div class="paragraph">A lot of artist made a science out of it,<br>the science of painting kittens.</div>
  <div class="paragraph">One of the most magnificent colors for a kitten is black,<br>you barely see any features...</div>
  <div class="paragraph">but glowing shiny eyes, and thunder, or magic, or little glowy hearts,<br>around and behind.</div>
  <div class="paragraph">And here you are, with neat gray,<br>and accent red, and you kitten won’t be magical.</div>
  <div class="paragraph">It will have to be a news reporter,<br>who only gets 15 naps and is always tired.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Of course gathering reference images,<br>is the noble act of Research - and you are sure to come across them.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You must also pay attention to texture,<br>if your texture requires over 1,600 hours of careful work.</div>
  <div class="paragraph">Then that is bad texture,<br>and you need to make your kitty fluffy, like a cloud.</div>
  <div class="paragraph">For which you need little more than 20 hairs of fur, curly whiskers,<br>and an airbrush body, that does not require much detailing.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This is not bad news, but it is not perfect,<br>you can’t just sit to create an exceptional painting, oh well.</div>
  <div class="paragraph">But the good news is, research is fun, and colorful,<br>and you get to see what other artists re learning.</div>
  <div class="paragraph">And after a while, you start detecting art trends,<br>and sometimes even consider joining in.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">As always if you are not sure where to start,<br>start with furry creatures.</div>
  <div class="paragraph">Poooost scriptum,</div>
  <div class="paragraph">One of my kittens,<br><span>got picked as a favorite<sup>[1]</sup></span>.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.reddit.com/r/redditgetsdrawn/comments/wdpdh8/rgd_mod_favorites_july_19_aug_1/</div>
</div>