<div class="section">
  <p>Your interests, curiosities and talents,<br>are the core of self education.</p>
  <p>Whatever interests you,<br>will keep getting more interesting.</p>
  <p>As all the little pieces are assembling,<br>you will discover that they never run out.</p>
  <p>One of the more interesting adventures,<br>is trying all the different combinations.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Once you make your first step into a subject,<br>one that you like.</p>
  <p>It will always ask you to return,<br>and most often you return with something new.</p>
  <p>Something that is rare,<br>or unexplored, or never tried before.</p>
  <p>It is a hard to ignore force,<br>as you know that once you try it out...</p>
  <p>You will become more knowledgeable,<br>you will become wiser.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Academic versions of subjects,<br>are designed to make money.</p>
  <p>People put up with it for certification,<br>for paperwork needed for their future.</p>
  <p>Whatever the reasons,<br>we can’t forget, that it is role-play.</p>
  <p>You don’t go to school to learn,<br>but to perform - never forget that.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And what this means,<br>is that you still need a real education.</p>
  <p>You need self education,<br>the only real education there is.</p>
  <p>And you have all the things you need,<br>tutorial videos, narrated books, the internet.</p>
  <p>There are open source programs,<br>to cover almost everything.</p>
  <p>All you need to do,<br>is begin searching for things that interest you.</p>
  <p>And with full certainty of knowing,<br>that all human things are made for humans.</p>
  <p>There is an easy on-ramp,<br>to every subject and curiosity.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And remember,<br>that we are of the Universe and its stars.</p>
  <p>We have continue surpassing ourselves,<br>so that we can be <em>more</em> of ourselves.</p>
  <p>And to get there, we need authentic knowledge,<br>and the resulting wisdom.</p>
  <p>We have to grow all the way up,<br>we each deserve to become a Great Being.</p>
  <p>That is how we crown our existence,<br>and make our beautiful lives count for more.</p>
</div>