<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Your interests, curiosities and talents,<br>are the core of self education.</div>
  <div class="paragraph">Whatever interests you,<br>will keep getting more interesting.</div>
  <div class="paragraph">As all the little pieces are assembling,<br>you will discover that they never run out.</div>
  <div class="paragraph">One of the more interesting adventures,<br>is trying all the different combinations.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Once you make your first step into a subject,<br>one that you like.</div>
  <div class="paragraph">It will always ask you to return,<br>and most often you return with something new.</div>
  <div class="paragraph">Something that is rare,<br>or unexplored, or never tried before.</div>
  <div class="paragraph">It is a hard to ignore force,<br>as you know that once you try it out...</div>
  <div class="paragraph">You will become more knowledgeable,<br>you will become wiser.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Academic versions of subjects,<br>are designed to make money.</div>
  <div class="paragraph">People put up with it for certification,<br>for paperwork needed for their future.</div>
  <div class="paragraph">Whatever the reasons,<br>we can’t forget, that it is role-play.</div>
  <div class="paragraph">You don’t go to school to learn,<br>but to perform - never forget that.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And what this means,<br>is that you still need a real education.</div>
  <div class="paragraph">You need self education,<br>the only real education there is.</div>
  <div class="paragraph">And you have all the things you need,<br>tutorial videos, narrated books, the internet.</div>
  <div class="paragraph">There are open source programs,<br>to cover almost everything.</div>
  <div class="paragraph">All you need to do,<br>is begin searching for things that interest you.</div>
  <div class="paragraph">And with full certainty of knowing,<br>that all human things are made for humans.</div>
  <div class="paragraph">There is an easy on-ramp,<br>to every subject and curiosity.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And remember,<br>that we are of the Universe and its stars.</div>
  <div class="paragraph">We have continue surpassing ourselves,<br>so that we can be <em>more</em> of ourselves.</div>
  <div class="paragraph">And to get there, we need authentic knowledge,<br>and the resulting wisdom.</div>
  <div class="paragraph">We have to grow all the way up,<br>we each deserve to become a Great Being.</div>
  <div class="paragraph">That is how we crown our existence,<br>and make our beautiful lives count for more.</div>
</div>