<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">To give you all you need to know in the first paragraph,<br>stick cheap LCD interval timer on your customer(s).</div>
  <div class="paragraph">There are interval timer applications for phones,<br>but the simpler the better, let the phone play music.</div>
  <div class="paragraph">Always remind them, to keep increasing their activity period,<br>and shortening their rest, until they don’t have to rest anymore.</div>
  <div class="paragraph">For bigger muscles, slowly increase dumbbell weight,<br>for more fat burning find faster songs to work out to, and remind them to hit every beat.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Set the concepts of interval training aside,<br>don’t worry about the books and anything.</div>
  <div class="paragraph">You don’t want to confuse your customer,<br>with fad diets, or training programs.</div>
  <div class="paragraph">You need to give them,<br>a permanent lifestyle change.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If all you have is a minute,<br>and is all they want is a trick.</div>
  <div class="paragraph">Give them a life changing Audio Book,<br>maybe about health, or adventure, or ultra marathons.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If they are in danger of obesity, and if all you have is ten seconds,<br>and you know that they only want 5 seconds of life changing advice.</div>
  <div class="paragraph">Tell them that there are no obese elderly,<br>and to cut off all the plugs from the kitchen appliances.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But seriously, all you need is a timer,<br>that with great mathematical precision.</div>
  <div class="paragraph">Beeps or better yet vibrates,<br>when to work out, and when to rest.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The workout period may be as short as 15 seconds at first,<br>so be careful and be very respectful of what their body is capable of.</div>
  <div class="paragraph">If you push someone too much,<br>they may become discouraged, and stop training.</div>
  <div class="paragraph">And that can potentially end up costing them,<br>decades of their life, fitness oriented lifestyles extend life.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you are forced into building up a class,<br>at the lowest common denominator speed, that is pretty much fraud.</div>
  <div class="paragraph">It is not worth the money, or the paycheck,<br>you are just hurting people.</div>
  <div class="paragraph">Everyone must move at their own speed,<br>we are all unique, and our bodies have different requirements.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is very important, that as soon as you can,<br>you ask your customer to pick a song at a slow enough speed...</div>
  <div class="paragraph">To hit every beat, during the activity period,<br>as indicated by the interval timer.</div>
  <div class="paragraph">They must be precise,<br>and you can use a free program like Audacity to speed-up or slow-down a song.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The job of a trainer is mostly teaching the person on how to take care of themselves,<br>but don’t just talk about interval timers.</div>
  <div class="paragraph">Configure and clip one on their belt, you will have to buy it,<br>I once had a cheap one for $11 dollars.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I recommend that the initial training is bicycling,<br>on a $200 fat tire bike without any bells an whiles, as those are most stable.</div>
  <div class="paragraph">For obese individuals, walking and fast walking,<br>is a good start.</div>
  <div class="paragraph">And some may wish to take it to over ten miles per day,<br>and walk some stretch of the Appalachian Trail...</div>
  <div class="paragraph">Where lifestyle change is even easier,<br>than cutting of plugs from kitchen appliances, especially if they are still plugged in.</div>
  <div class="paragraph">As soon as ready, jump into the couch25k program,<br>or something similar.</div>
  <div class="paragraph">Which is a kind of an interval timer approach,<br>it is not different - in theory of operation - than lifting light dumbbells on a timer.</div>
  <div class="paragraph">But if that gets boring, or if the person jogs,<br>or is disappointed.</div>
  <div class="paragraph">Then doing a kind of a dance like activity with 3lb or 5lb dumbbells,<br>under the roof of a gym, is better.</div>
  <div class="paragraph">For heavy individuals, to protect their knees,<br>replace jogging with walking up stairs, and then running on soft ground,</div>
  <div class="paragraph">Heavy individuals,<br>must not jog on concrete.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Finally, the final, now life long routine,<br>should consist of a mix of shuffle dancing or cutting shapes, and jogging.</div>
  <div class="paragraph">It should be up to your customer,<br>is they wish to take a day or two off.</div>
  <div class="paragraph">To set a greater aim customer, ask them to avoid marathons and triathlons,<br>and really, any activity that comes with an award or medal.</div>
  <div class="paragraph">Once a prize is involved,<br>they run the danger of terminating their training.</div>
  <div class="paragraph">Wherever there is some reward,<br>there will be cheaters.</div>
  <div class="paragraph">And they are going to win,<br>though at the cost of <strong>shortening</strong> their lifespan due to their drug use.</div>
  <div class="paragraph">Help them to silent ultramarathons,<br>that no one but family and friends will know about.</div>
  <div class="paragraph">Tell them that the only sports rewards that matter,<br>is the night sky during ultra-marathons, becoming strong and wise, and living a cheerful and healthy life.</div>
</div>