<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Let me be very clear about this,<br>while it is not a conspiracy, you didn't choose cramming, you were manipulated into it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Let me show you what you are up against, and how impossible it seems,<br>the notion of pre-requisite classes is mostly about getting you to brainlessly memorize.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">No one sat down to invent it this way,<br>it is just that over time teachers settled into it, because it worked out well for them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The way you see the truth in this, is by asking yourself,<br>what the heck is a school anyway - you have to back all the way out...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And ask if the invention of school should have a mechanism,<br>that will force students into memorization, cramming, and pretending to learn.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do we we want to cut students off,<br>deny them access to knowledge, to lectures, because they don't know something.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do people learn in an order dictated by standards,<br>and should they fail if they take too long.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Should we put them in rows,<br>and cut lectures off at a precise time.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You see, the entire organization of school,<br>serves the teachers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And they serve you,<br>with easy to memorize disconnected facts.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Pre-requisites, or classes that ASSUME, you memorized other classes,<br>are just pluming that pass you along for a paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And don't ask how classes could possibly work,<br>if there was a mix of people with different levels of knowledge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">People always have different knowledge,<br>we all have unique talents and curiosities.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You see, it isn't just pre-requisites,<br>but the damn classrooms, and the timed lecture, and sitting in rows that is all a theater.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are forcing you to memorize,<br>what will be on state tests - so that they can keep accreditation, and keep getting paid.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The common art teacher, with watercolors in hand,<br>does not ask questions, they just do their job.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that would be fine, if their actions didn't impact anybody else,<br>they wouldn't be hurting anybody.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not asking questions is the way fraud happens,<br>talk about teaching critical thinking.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They have threatened you with bad grades, bad GPA,<br>being held back and permanently marked as delayed, and threatened your career.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And they are giving you material so bad, under the worst possible circumstances,<br>in order to process you like a sausage, for a paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Memorization is a guaranteed way,<br>to keep accreditation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In some cases, they medicate students who are fine,<br>just don't want to fill their heads with noise.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Real schools, that actually want to educate,<br>that have real teachers that DO want to enable students with new talents.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Focus on projects, that students are curious about,<br>more than that they let them frequently switch which curiosity they wish to satisfy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">See no classrooms, no pre-requisites, the only pre-requisite,<br>is that it is something you want to do.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Real teachers, know, that you only learn when you are interested,<br>fake teachers threaten you with being held back.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Fake teachers keep you away from classes, that you have not yet memorized for,<br>real teachers let you join the project, others will help you.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And it is not just pre-reqisites and classrooms - nope,<br>subjects divisions are part of it too.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Real teachers let you start assembling your 3D printer, take a break,<br>and shock you with the magic of placing just a vertex in 3D space.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not something you want to do when 3D modeling,<br>but hell, ask someone to hold your coco and go for it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Real teachers will show you the magic, of putting a few vertices on the screen,<br>and rotating things around, so that you know what an edge is for, what a surface is.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Fake teachers, will delay you access to the 3D printer until your,<br>creativity, curiosity, is so mangled...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That you don't want to learn 3D,<br>that you just want to graduate out of there...</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Was this crime designed, by evil geniuses,<br>no, teachers and principals just know not to change a damn thing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They won't question validity of state testing,<br>and they won't question textbooks.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because, education is not their job,<br>passing you along, through a crappy educational experience, for a paycheck, is their job.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Are they actually blocking you to break your spirit,<br>yes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Maybe by calling your interests awesome and talented extracurricular something,<br>or down right dismiss it as disruption.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Listen, designing circus is done via program that gives you all your numbers,<br>you don't have to calculate anything, though later on you will love to do it, you can be splicing electronics in less than a week.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A cheap robotic vacuum cleaner, with a Raspberry PI, you will learn, Linux, Bash, Python, JavaScript, C, C++, build your own MP3 players, cardboard drones, and frankly cool Hacking tools.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Subject divisions are such a bad idea, that most people just cry,<br>when they see the harm they have caused.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Within two hours, you can be <a href="https://www.youtube.com/watch?v=0sRvkaxh8EU">composing your own music with LMMS</a>, the good stuff in music, is the simple stuff.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Sampling, getting a neat chord and melody, a bit of reverb,<br>and in the first ten minutes, you make a cool song. Ten minutes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is so good, that any mention of the music theory in High School,<br>almost seems like fraud - invent your own theory.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The notes are just sound frequencies, invent you own scale,<br>or don't worry about it at all, just compose.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Did you figure out that you can use the <a href="https://www.youtube.com/watch?v=4ZKUKCnkZ6E">projector above your head in art class</a>,<br>to beam your selfies, or friend photos, on a canvas and skip over the line drawing part, and just get to the part where you are swimming in color.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do you understand how many artists gave up,<br>because they though they couldn't draw.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Faking art instruction, and preventing people from becoming artists,<br>is a crime on a level that we can't grasp.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All for what, to look like they are teaching,<br>to make it seem like your Quasimodo portraits are getting there.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Just a couple more semesters,<br>and you'll get it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Get what?<br>Graduation poverty, disenchantment, get far away enough, so that you can spot the fraud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Digital Art is even better</a> than a projector,<br>Hyper-realistic Painting are your first step.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Did you know that your real problem in art, is control,<br>you have the power to rebuild reality, teachers, politician, dictators, are yours to reshape to show who they are.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You learn math from Generative Art, Physics from Drones and 2D Game Engines,<br>profound and dense Literature from Hiking and Camping...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where you make a point of having no less than five hefty study guides,<br>to spoil the damn story, so that you get the full picture.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Everyone one of your curiosities,<br>has three more tucked behind it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As you grow, you will discover that you want to grow all the way up,<br>that your Knowledge and Wisdom will be enough to keep together as a Great Being.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In the absence of teachers you become the teacher,<br>in the absence of real schools, you need to self educate, and build them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">For the world,<br>for a more authentic future.</div>
  </div>
</div>