<div class="section">
  <p>Let me be very clear about this,<br>while it is not a conspiracy, you didn't choose cramming, you were manipulated into it.</p>
  <p>Let me show you what you are up against, and how impossible it seems,<br>the notion of pre-requisite classes is mostly about getting you to brainlessly memorize.</p>
  <p>No one sat down to invent it this way,<br>it is just that over time teachers settled into it, because it worked out well for them.</p>
  <p>The way you see the truth in this, is by asking yourself,<br>what the heck is a school anyway - you have to back all the way out...</p>
  <p>And ask if the invention of school should have a mechanism,<br>that will force students into memorization, cramming, and pretending to learn.</p>
  <p>Do we we want to cut students off,<br>deny them access to knowledge, to lectures, because they don't know something.</p>
  <p>Do people learn in an order dictated by standards,<br>and should they fail if they take too long.</p>
  <p>Should we put them in rows,<br>and cut lectures off at a precise time.</p>
  <p>You see, the entire organization of school,<br>serves the teachers.</p>
  <p>And they serve you,<br>with easy to memorize disconnected facts.</p>
  <p>Pre-requisites, or classes that ASSUME, you memorized other classes,<br>are just pluming that pass you along for a paycheck.</p>
  <p>And don't ask how classes could possibly work,<br>if there was a mix of people with different levels of knowledge.</p>
  <p>People always have different knowledge,<br>we all have unique talents and curiosities.</p>
  <p>You see, it isn't just pre-requisites,<br>but the damn classrooms, and the timed lecture, and sitting in rows that is all a theater.</p>
  <p>They are forcing you to memorize,<br>what will be on state tests - so that they can keep accreditation, and keep getting paid.</p>
  <p>The common art teacher, with watercolors in hand,<br>does not ask questions, they just do their job.</p>
  <p>And that would be fine, if their actions didn't impact anybody else,<br>they wouldn't be hurting anybody.</p>
  <p>Not asking questions is the way fraud happens,<br>talk about teaching critical thinking.</p>
  <p>They have threatened you with bad grades, bad GPA,<br>being held back and permanently marked as delayed, and threatened your career.</p>
  <p>And they are giving you material so bad, under the worst possible circumstances,<br>in order to process you like a sausage, for a paycheck.</p>
  <p>Memorization is a guaranteed way,<br>to keep accreditation.</p>
  <p>In some cases, they medicate students who are fine,<br>just don't want to fill their heads with noise.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Real schools, that actually want to educate,<br>that have real teachers that DO want to enable students with new talents.</p>
  <p>Focus on projects, that students are curious about,<br>more than that they let them frequently switch which curiosity they wish to satisfy.</p>
  <p>See no classrooms, no pre-requisites, the only pre-requisite,<br>is that it is something you want to do.</p>
  <p>Real teachers, know, that you only learn when you are interested,<br>fake teachers threaten you with being held back.</p>
  <p>Fake teachers keep you away from classes, that you have not yet memorized for,<br>real teachers let you join the project, others will help you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And it is not just pre-reqisites and classrooms - nope,<br>subjects divisions are part of it too.</p>
  <p>Real teachers let you start assembling your 3D printer, take a break,<br>and shock you with the magic of placing just a vertex in 3D space.</p>
  <p>Not something you want to do when 3D modeling,<br>but hell, ask someone to hold your coco and go for it.</p>
  <p>Real teachers will show you the magic, of putting a few vertices on the screen,<br>and rotating things around, so that you know what an edge is for, what a surface is.</p>
  <p>Fake teachers, will delay you access to the 3D printer until your,<br>creativity, curiosity, is so mangled...</p>
  <p>That you don't want to learn 3D,<br>that you just want to graduate out of there...</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Was this crime designed, by evil geniuses,<br>no, teachers and principals just know not to change a damn thing.</p>
  <p>They won't question validity of state testing,<br>and they won't question textbooks.</p>
  <p>Because, education is not their job,<br>passing you along, through a crappy educational experience, for a paycheck, is their job.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Are they actually blocking you to break your spirit,<br>yes.</p>
  <p>Maybe by calling your interests awesome and talented extracurricular something,<br>or down right dismiss it as disruption.</p>
  <p>Listen, designing circus is done via program that gives you all your numbers,<br>you don't have to calculate anything, though later on you will love to do it, you can be splicing electronics in less than a week.</p>
  <p>A cheap robotic vacuum cleaner, with a Raspberry PI, you will learn, Linux, Bash, Python, JavaScript, C, C++, build your own MP3 players, cardboard drones, and frankly cool Hacking tools.</p>
  <p>Subject divisions are such a bad idea, that most people just cry,<br>when they see the harm they have caused.</p>
  <p>Within two hours, you can be <a href="https://www.youtube.com/watch?v=0sRvkaxh8EU">composing your own music with LMMS</a>, the good stuff in music, is the simple stuff.</p>
  <p>Sampling, getting a neat chord and melody, a bit of reverb,<br>and in the first ten minutes, you make a cool song. Ten minutes.</p>
  <p>This is so good, that any mention of the music theory in High School,<br>almost seems like fraud - invent your own theory.</p>
  <p>The notes are just sound frequencies, invent you own scale,<br>or don't worry about it at all, just compose.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Did you figure out that you can use the <a href="https://www.youtube.com/watch?v=4ZKUKCnkZ6E">projector above your head in art class</a>,<br>to beam your selfies, or friend photos, on a canvas and skip over the line drawing part, and just get to the part where you are swimming in color.</p>
  <p>Do you understand how many artists gave up,<br>because they though they couldn't draw.</p>
  <p>Faking art instruction, and preventing people from becoming artists,<br>is a crime on a level that we can't grasp.</p>
  <p>All for what, to look like they are teaching,<br>to make it seem like your Quasimodo portraits are getting there.</p>
  <p>Just a couple more semesters,<br>and you'll get it.</p>
  <p>Get what?<br>Graduation poverty, disenchantment, get far away enough, so that you can spot the fraud.</p>
  <p><a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Digital Art is even better</a> than a projector,<br>Hyper-realistic Painting are your first step.</p>
  <p>Did you know that your real problem in art, is control,<br>you have the power to rebuild reality, teachers, politician, dictators, are yours to reshape to show who they are.</p>
  <p>You learn math from Generative Art, Physics from Drones and 2D Game Engines,<br>profound and dense Literature from Hiking and Camping...</p>
  <p>Where you make a point of having no less than five hefty study guides,<br>to spoil the damn story, so that you get the full picture.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Everyone one of your curiosities,<br>has three more tucked behind it.</p>
  <p>As you grow, you will discover that you want to grow all the way up,<br>that your Knowledge and Wisdom will be enough to keep together as a Great Being.</p>
  <p>In the absence of teachers you become the teacher,<br>in the absence of real schools, you need to self educate, and build them.</p>
  <p>For the world,<br>for a more authentic future.</p>
</div>