<div class="section">
  <p>When learning a new language,<br>context is everything.</p>
  <p>Context supports meanings,<br>and supposed meanings.</p>
  <p>It is the fabric of a conversation,<br>and along with facial expression and body language...</p>
  <p>You may sometimes wonder,<br>if perhaps it isn’t so hard to lean a language even without textbooks.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As important as context in a new language you are trying to learn is,<br>it is a magnitude <strong>more</strong> important in more complex things.</p>
  <p>For example, it is the difference between taking a programming class,<br>and actually becoming a programmer.</p>
  <p>Taking a programming class, will have you write gibberish programs,<br>and test the worst kind of memorization, the temporary one.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When you write real programs, you learn much more and much faster,<br>later on you can memorize a new language in less than 24 hours.</p>
  <p>And then hop along with boilerplate and tutorials,<br>to carve your own way through its ecosystem.</p>
  <p>But the best way to learn, practice, stay current,<br>and entertain yourself, is by writing real programs.</p>
  <p>Static website generators for example,<br>basically just visit a directory to create a data list.</p>
  <p>And you use that list to create pages for reading and browsing,<br>you pretty much just work with the simple list.</p>
  <p>And slowly grow,<br>a layout directory with HTML templates.</p>
  <p>But you are really,<br>just creating two things.</p>
  <p>Article pages where a person can read the actual blog posts,<br>and a catalog with 20 links per page, with a pager on the bottom linking to more.</p>
  <p>Your home page is just the first page of the catalog,<br>down on the bottom the user clicks Older or More to get a listing of 20 more links.</p>
  <p>If you have some text to publish, writing a static site generator,<br>would place you in a context that would ensure rapid self education.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Art too,<br>is a great example of the might of context.</p>
  <p>I would wholeheartedly discourage all people,<br>from learning how to model 3D objects without a 3D printer.</p>
  <p>The 3D printer is the context, for the initial lessons in 3D modeling,<br>once you get your mesh all buttoned up, you print it out and put it on your key chain.</p>
  <p>You are not going to be able to stop learning 3D modeling,<br>it will be impossible, with those things on your key-chain.</p>
  <p>Later on you can branch out to sculpting and character animation,<br>but at first precision modeling is best.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In digital painting, when you apply reference images directly to your art,<br>you get to skip messing with proportions, something you will do later on anyways.</p>
  <p>And dive right into Value, and Color Mixing,<br>and since you got the shapes right, you can paint your friends, or your selfies.</p>
  <p>Here you are always creating a recognizable portraits,<br>you are always improving and expanding your style.</p>
  <p>Appreciation is an amazing reward for practicing Art,<br>in this context you will grow fast, merge many concepts and build a precious new universe.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Finally, be careful, the gibberish context that schools teach, and later sell,<br>destroys everything, it <a href="https://www.youtube.com/watch?v=17fbxRQgMlU">destroys creativity</a> and individuality, and creates nothing but ends.</p>
  <p>If you can, help the world learn,<br>Humanity needs real schools, that without exception create meaningful and lasting results.</p>
</div>