<div class="section">
  <p>This is a really neat method,<br>with which you can begin learning art without the need for a teacher.</p>
  <p>You can eventually master art by creating countless works,<br>this method reliably helps you to create many works and thus practice your skills to no end.</p>
  <p>I share it with you because the world needs real schools,<br>that will help all the students get a real and meaningful education.</p>
  <p>Real schools can be built by subtle analogy to art,<br>where no one is judged, or told what to paint, when to paint it, and when to finish.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There are three just concerns,<br>the sketch, the shadow, and the color.</p>
  <p>The sketch captures the shape, to train your hand and mind,<br>you use the <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">grid</a>, a wall projector, or <a href="https://www.youtube.com/watch?v=XCVJyFHcb38">Image Reference</a> in Krita.</p>
  <p>Here you will create a perfect sketch,<br>ready for the shadows and by extension highlights, without the need for a teacher.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>To get the shadows right,<br>just use a black and white version of your reference image.</p>
  <p>Take your time,<br>as colors will depend on those values, be it for glazing or a color layer in digital art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Colors on the computer are a bit more complicated,<br>but not hard.</p>
  <p>Create a new layer above your completed black and white value study,<br>and set its mode to color.</p>
  <p>This magical mode, ignores shadow and light in the color you are painting with,<br>and instead uses the shadow and light information from the black and white value study layer beneath</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When you start learning art and color,<br>you muse use a color picker to sample the original.</p>
  <p>After a while you will get a feeling for how colors shift,<br>and you’ll create your own color schemes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Sketch, Value, Color,<br>One, Two, Three.</p>
  <p>If you can build a school that encourages self education,<br>and allows the students to choose subjects...</p>
  <p>So that they may lean in a sequence that matches them-and-their-curiosites best,<br>and by extension at the pace that fits them.</p>
  <p>Then do it,<br>Humanity Must Advance.</p>
  <p>And Human Beings must understand that to grow up,<br>means to grow all the way up, until they become great beings.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wj6gvs/this_is_me/ijijiar/?context=3">Title Image Contest</a><br><a href="https://youtu.be/GHfoq-EFqNA">Title Image Time-lapse</a></p>
</div>