<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This is a really neat method,<br>with which you can begin learning art without the need for a teacher.</div>
  <div class="paragraph">You can eventually master art by creating countless works,<br>this method reliably helps you to create many works and thus practice your skills to no end.</div>
  <div class="paragraph">I share it with you because the world needs real schools,<br>that will help all the students get a real and meaningful education.</div>
  <div class="paragraph">Real schools can be built by subtle analogy to art,<br>where no one is judged, or told what to paint, when to paint it, and when to finish.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are three just concerns,<br>the sketch, the shadow, and the color.</div>
  <div class="paragraph">The sketch captures the shape, to train your hand and mind,<br>you use the <span>grid<sup>[1]</sup></span>, a wall projector, or <span>Image Reference<sup>[2]</sup></span> in Krita.</div>
  <div class="paragraph">Here you will create a perfect sketch,<br>ready for the shadows and by extension highlights, without the need for a teacher.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">To get the shadows right,<br>just use a black and white version of your reference image.</div>
  <div class="paragraph">Take your time,<br>as colors will depend on those values, be it for glazing or a color layer in digital art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Colors on the computer are a bit more complicated,<br>but not hard.</div>
  <div class="paragraph">Create a new layer above your completed black and white value study,<br>and set its mode to color.</div>
  <div class="paragraph">This magical mode, ignores shadow and light in the color you are painting with,<br>and instead uses the shadow and light information from the black and white value study layer beneath</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When you start learning art and color,<br>you muse use a color picker to sample the original.</div>
  <div class="paragraph">After a while you will get a feeling for how colors shift,<br>and you’ll create your own color schemes.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Sketch, Value, Color,<br>One, Two, Three.</div>
  <div class="paragraph">If you can build a school that encourages self education,<br>and allows the students to choose subjects...</div>
  <div class="paragraph">So that they may lean in a sequence that matches them-and-their-curiosites best,<br>and by extension at the pace that fits them.</div>
  <div class="paragraph">Then do it,<br>Humanity Must Advance.</div>
  <div class="paragraph">And Human Beings must understand that to grow up,<br>means to grow all the way up, until they become great beings.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title Image Contest<sup>[3]</sup></span><br><span>Title Image Time-lapse<sup>[4]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
  <div>[2]: https://www.youtube.com/watch?v=XCVJyFHcb38</div>
  <div>[3]: https://www.reddit.com/r/redditgetsdrawn/comments/wj6gvs/this_is_me/ijijiar/?context=3</div>
  <div>[4]: https://youtu.be/GHfoq-EFqNA</div>
</div>