<div class="section">
  <p>Let me tell you in the first paragraph,<br>use a slow computer.</p>
  <p>Slow computers are almost always single board computers (SBC),<br>little over the size of a credit card.</p>
  <p>They should come in a kit an cost less than $200 dollars,<br>buy from the company that makes the kit, as others may be artificially inflating prices.</p>
  <p>You should do your own research, but the computer that comes to my mind,<br>is called the Raspberry PI.</p>
  <p>More specifically,<br>"CanaKit Raspberry Pi 4 8GB EXTREME Kit".</p>
  <p>This is priced at $169.95,<br>I think that is somewhat fair, for a full kit that get a computer going.</p>
  <p>You will need a monitor, these go for about $70,<br>but no more than $100.</p>
  <p>The Raspberry PI 4 does support two monitors,<br>you don’t have to get them both at once, but the more room for terminals the better.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When learning or just starting to get good at programming,<br>you are faced with multiple ways of accomplishing a task.</p>
  <p>The Perl Monks often quoth Larry Wall,<br>"Tim Toady" spelled "TMTOWTDI", which means “There's More Than One Way To Do It”.</p>
  <p>While that is true in a broader context,<br>to be good at programming you have to chose one of the fastest ways.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Even more important than having a way to develop a nose,<br>for efficient programming, by means of a computer than will tell you when you are wrong.</p>
  <p>Is gaining this beautiful ability to see slow code,<br>just when you are starting out with your programming.</p>
  <p>What a marvelous invention, this ability to navigate the programming world,<br>not by listening to others, but simply listening to whether or not the CPU fan comes on.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>More than that, you don’t really need a teacher here,<br>what could they possibly know that you can’t know better by being efficient on an slow SBC.</p>
  <p>And speed matters, while desktop computers are getting faster,<br>the code that we write today is likely going to run on a starved virtual machine.</p>
  <p>Over at some corporation, trying to squeeze every dollar,<br>for all the distributed code repositories, their build systems is what gets you.</p>
  <p>With all these fast computers everywhere,<br>your build system is going to be charging you per second.</p>
  <p>And while every second counts,<br>it is the people who don’t count them that lose.</p>
  <p>An un-optimized clunky and confusing system,<br>not written with efficiency in mind, is a ticking time bomb.</p>
  <p>Few extra equally inefficient additions,<br>will make the system come to a crawl - if you are lucky - mostly it is game over, try again.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You maybe thinking to yourself, that you can rely on bench-marking,<br>on a speedy system, but that is always a lie.</p>
  <p>Especially when you work hard and are always short on time,<br>a fast computer will constantly tempt you with shortcuts, or cake, as some call it.</p>
  <p>A slow computer, is like having a responsible teacher,<br>staring at your every move.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In closing,<br>I will give you some examples of efficient code.</p>
  <p>Node streams, from the realm of node.js,<br>a modern JavaScript ecosystem for the server.</p>
  <p>Allow you to process binary files in chunks,<br>when working with a large video file.</p>
  <p>A slow computer will force you to stream the frames through your program,<br>you will never load the whole thing into memory.</p>
  <p>This applies to working with text based data files as well,<br>you will structure your text or JSON so that you only consume one line at a time.</p>
  <p>This allows you to save memory,<br>and prevents you from parsing the content all at once.</p>
  <p>And because you are writing efficient code from scratch,<br>everything you do will be forward compatible with efficient processing.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You don’t always need to save on the memory,<br>for one, in-memory databases with a log and periodic disc or card sync...</p>
  <p>Are an efficient way to deal with frequently accessed data,<br>that may need generic methods for sorting.</p>
  <p>There will be opportunities to simplify things,<br>that you will know to ignore, in order to protect the efficiency of your code.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Two examples of disasters, are the Java programming language,<br>not really related to modern JavaScript, which is just too slow to bother with on SBC’s.</p>
  <p>And I remember an important government website crashing because it used,<br>an XML database, with XSLT style-sheets, and almost certainly ran on Java as well, though it could have been PHP.</p>
  <p>I am assuming a company stepped in, an not only setup a memory cache server,<br>but also probably replaced the XML database with something that scales.</p>
  <p>Both the memory cache server, and the replacement database,<br>would have been written by programmers aiming to write efficient code.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you are curious about scalability,<br>know that in a world that uses multiple computers on a network...</p>
  <p>(Meaning that by adding more computers it can scale,<br>to handle higher processing loads)</p>
  <p>You don’t write code that executes in your program,<br>but rather, post code to a central server, called a processing queue.</p>
  <p>And then two dozen computers,<br>which you can simulate with $30 Raspbery PI Zero.</p>
  <p>Check the task out, perform it, usually execute the function,<br>that ordinary runs in your program.</p>
  <p>And check the result back into the processing queue,<br>which will notify your program of the task’s completion.</p>
  <p>This kind of architecture is said to scale,<br>purely because you can throw more computers at it.</p>
  <p>And thus without thinking,<br>increase the speed at which the jobs in the queue get processed.</p>
  <p>If you are interested in experimenting with distributed processing,<br>I recommend the Open Source <a href="https://zeromq.org/">ZeroMQ</a>.</p>
  <p>Which will allow your networked workers talk to the queue,<br>and the queue back to the task posters.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Don’t try to become an efficient programmer just to get a good job,<br>the prestigious companies will almost certainly treat you like a nobody.</p>
  <p>And will be unwilling to go over $500,000 per year,<br>a good and efficient programmers saves so much money that a $1,000,000 per year is a bargain.</p>
  <p>But incompetence will always hope to cover your abilities with two coders,<br>and instead hire programmers with no interest in writing efficient code.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Just like you are meant to find your meaning in a quest to become a Great Being,<br>by means of reliable self education, authentic and hard earned knowledge, and resulting wisdom.</p>
  <p>You should also accept the responsibility for building your own company,<br>you can easily demonstrate to your investors why your systems are superior.</p>
  <p>And earn more, as well as learn more,<br>the if you got a job at a prestigious company.</p>
  <p>Don’t waste your time on hoop jumping and diplomas easily begotten,<br>by means of memorization and cramming.</p>
  <p>Aim to learn for real,<br>because that is precisely what real life <strong>always</strong> demands.</p>
</div>