<div class="section">
  <p>It is not true that wisdom can only come with age,<br>or that living life is the most powerful source.</p>
  <p>Wisdom, is the very thing that thinkers,<br>aim to transport or deliver in books.</p>
  <p>A paper book is like a hard drive,<br>paper is used for storage of information.</p>
  <p>Reading a book is not the best way,<br>and for many it is difficult.</p>
  <p>The best way to get at the wisdom in a book,<br>is to hear it, as it is voiced by the author.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When we combine the wisdom in books,<br>with authors that record it.</p>
  <p>We end up with a near perfect,<br>delivery mechanism.</p>
  <p>Perfection here is reached,<br>with occasional quips and interesting observations.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A narrated book,<br>introduces us to the human being…</p>
  <p>That had the courage to live the wisdom,<br>that they are now proudly sharing.</p>
  <p>This further enhances our ability,<br>to adapt it to who we are.</p>
  <p>And it presents us with the class of the writer,<br>that then helps us to rise a little bit.</p>
  <p>Shortly thereafter, we will begin,<br>synthetizing new tools for thinking.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A fine nonfiction narrated book,<br>holds a meaningful story.</p>
  <p>But also wisdom and class,<br>these are the initial steps in growing up.</p>
  <p>All the life changing narrated books<br>are free at the library, or websites like <a href="https://librivox.org/">LibriVox</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Rather than waiting for wisdom,<br>to come and find us.</p>
  <p>We aught to seek it out,<br>because we are all meant to be wise.</p>
  <p>We are extremely vulnerable,<br>without experience in life.</p>
  <p>All it takes is a collection of lovely books,<br>whose authors are sure become part of our extended family.</p>
</div>