<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is not true that wisdom can only come with age,<br>or that living life is the most powerful source.</div>
  <div class="paragraph">Wisdom, is the very thing that thinkers,<br>aim to transport or deliver in books.</div>
  <div class="paragraph">A paper book is like a hard drive,<br>paper is used for storage of information.</div>
  <div class="paragraph">Reading a book is not the best way,<br>and for many it is difficult.</div>
  <div class="paragraph">The best way to get at the wisdom in a book,<br>is to hear it, as it is voiced by the author.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When we combine the wisdom in books,<br>with authors that record it.</div>
  <div class="paragraph">We end up with a near perfect,<br>delivery mechanism.</div>
  <div class="paragraph">Perfection here is reached,<br>with occasional quips and interesting observations.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A narrated book,<br>introduces us to the human being…</div>
  <div class="paragraph">That had the courage to live the wisdom,<br>that they are now proudly sharing.</div>
  <div class="paragraph">This further enhances our ability,<br>to adapt it to who we are.</div>
  <div class="paragraph">And it presents us with the class of the writer,<br>that then helps us to rise a little bit.</div>
  <div class="paragraph">Shortly thereafter, we will begin,<br>synthetizing new tools for thinking.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A fine nonfiction narrated book,<br>holds a meaningful story.</div>
  <div class="paragraph">But also wisdom and class,<br>these are the initial steps in growing up.</div>
  <div class="paragraph">All the life changing narrated books<br>are free at the library, or websites like <span>LibriVox<sup>[1]</sup></span>.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Rather than waiting for wisdom,<br>to come and find us.</div>
  <div class="paragraph">We aught to seek it out,<br>because we are all meant to be wise.</div>
  <div class="paragraph">We are extremely vulnerable,<br>without experience in life.</div>
  <div class="paragraph">All it takes is a collection of lovely books,<br>whose authors are sure become part of our extended family.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://librivox.org/</div>
</div>