<div class="section">
  <p>A good reference photo,<br>will help you create a good painting.</p>
  <p>Whether you are using reference images directly,<br>or aim to create a new pose or perspective, you need a good photo.</p>
  <p>Aside from technical detail like,<br>having shadows and light, good resolution and focus.</p>
  <p>Your photo also needs to be interesting,<br>or funny, or even colorful.</p>
  <p>Sometimes simplicity is good too,<br>a nice dark background and partly lit face can go a long way.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I want to be clear, unless you are restoring or building a keepsake,<br>just having a photo, may not work.</p>
  <p>In fact,<br>you may not wish to start with a plain photo.</p>
  <p>Why should you limit yourself to working on a photo without a smile,<br>or without bright colors swirling around.</p>
  <p>Or even something so evenly lit,<br>that it seems flat.</p>
  <p>Where you can create fire, smiles,<br>if not downright laughter, if you take or find the right photo.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Painting is an adventure,<br>you are entering a Painted World.</p>
  <p>And a whole lot of interesting things,<br>should happen along the way.</p>
  <p>A plain photograph will take you from start to finish faster,<br>than turning the car around.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>An interesting photograph,<br>will help you explore different art-styles.</p>
  <p>Hyper Realism is just the first step in Art,<br>it is both an invitation and a beautiful, loud and clear, welcome message.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Somewhat magically,<br>good photos can create a story around themselves</p>
  <p>Sometimes they make you think Space Travel and Space Helmets,<br>other times Dragons, and a good ol’ adventure with Dwarfs and Wizards.</p>
  <p>Many people hold complex, dynamic multi-character scenes,<br>is high esteem - it is one of the finest destinations that an artist can take.</p>
  <p>A good photo that calls for a fantastic story around it self,<br>is your ticket there.</p>
  <p>These photos will help you practice going beyond the face,<br>learning about space suites, or armor, dragons or gigantic aliens.</p>
  <p>Eventually yo will discover that great battles or adventures,<br>will begin calling to you.</p>
  <p>And a day will come where you won’t need just one portrait photo,<br>but ten or twenty - as many photos, as characters in your first Masterpiece.</p>
  <p>It is not true, that eventually you won’t need reference photos,<br>you are supposed to bother your friends and family, and pose them to fit your scene.</p>
  <p>Some or your friends, should battle dragons,<br>others shoot lasers at space aliens - after all art is adventure.</p>
</div>