<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A good reference photo,<br>will help you create a good painting.</div>
  <div class="paragraph">Whether you are using reference images directly,<br>or aim to create a new pose or perspective, you need a good photo.</div>
  <div class="paragraph">Aside from technical detail like,<br>having shadows and light, good resolution and focus.</div>
  <div class="paragraph">Your photo also needs to be interesting,<br>or funny, or even colorful.</div>
  <div class="paragraph">Sometimes simplicity is good too,<br>a nice dark background and partly lit face can go a long way.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I want to be clear, unless you are restoring or building a keepsake,<br>just having a photo, may not work.</div>
  <div class="paragraph">In fact,<br>you may not wish to start with a plain photo.</div>
  <div class="paragraph">Why should you limit yourself to working on a photo without a smile,<br>or without bright colors swirling around.</div>
  <div class="paragraph">Or even something so evenly lit,<br>that it seems flat.</div>
  <div class="paragraph">Where you can create fire, smiles,<br>if not downright laughter, if you take or find the right photo.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Painting is an adventure,<br>you are entering a Painted World.</div>
  <div class="paragraph">And a whole lot of interesting things,<br>should happen along the way.</div>
  <div class="paragraph">A plain photograph will take you from start to finish faster,<br>than turning the car around.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">An interesting photograph,<br>will help you explore different art-styles.</div>
  <div class="paragraph">Hyper Realism is just the first step in Art,<br>it is both an invitation and a beautiful, loud and clear, welcome message.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Somewhat magically,<br>good photos can create a story around themselves</div>
  <div class="paragraph">Sometimes they make you think Space Travel and Space Helmets,<br>other times Dragons, and a good ol’ adventure with Dwarfs and Wizards.</div>
  <div class="paragraph">Many people hold complex, dynamic multi-character scenes,<br>is high esteem - it is one of the finest destinations that an artist can take.</div>
  <div class="paragraph">A good photo that calls for a fantastic story around it self,<br>is your ticket there.</div>
  <div class="paragraph">These photos will help you practice going beyond the face,<br>learning about space suites, or armor, dragons or gigantic aliens.</div>
  <div class="paragraph">Eventually yo will discover that great battles or adventures,<br>will begin calling to you.</div>
  <div class="paragraph">And a day will come where you won’t need just one portrait photo,<br>but ten or twenty - as many photos, as characters in your first Masterpiece.</div>
  <div class="paragraph">It is not true, that eventually you won’t need reference photos,<br>you are supposed to bother your friends and family, and pose them to fit your scene.</div>
  <div class="paragraph">Some or your friends, should battle dragons,<br>others shoot lasers at space aliens - after all art is adventure.</div>
</div>