<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We are not born cruel,<br>we are all beautiful.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And a broken culture,<br>is not nurture.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But a compromise,<br>that destroys the wise.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Freedom is our right,<br>the world must unite.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The culture that is worthy,<br>sets the world free.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">All must grow knowing,<br>that Humanity is growing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are all one kind,<br>leave bad ideas behind.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Do not lie to the younger,<br>out of fear of hunger...</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Say, poverty is an error,<br>that can only cause terror.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That war cannot lead to peace,<br>just a cease-fire on a lease.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That the world needs a school,<br>that isn't cruel.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Let the younger know it all,<br>advancement must not stall.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The things that aren’t there,<br>when we are born elsewhere.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Are not a big deal,<br>they may not even be real.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The world belongs to all that are yet to come,<br>and it's not a mere house, but a home.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Above all, we must all become farseeing,<br>and rise to each become a Wise & Great Being.</div>
  </div>
</div>