<div class="section">
  <p>We are not born cruel,<br>we are all beautiful.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And a broken culture,<br>is not nurture.</p>
  <p>But a compromise,<br>that destroys the wise.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Freedom is our right,<br>the world must unite.</p>
  <p>The culture that is worthy,<br>sets the world free.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>All must grow knowing,<br>that Humanity is growing.</p>
  <p>We are all one kind,<br>leave bad ideas behind.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Do not lie to the younger,<br>out of fear of hunger...</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Say, poverty is an error,<br>that can only cause terror.</p>
  <p>That war cannot lead to peace,<br>just a cease-fire on a lease.</p>
  <p>That the world needs a school,<br>that isn't cruel.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Let the younger know it all,<br>advancement must not stall.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The things that aren’t there,<br>when we are born elsewhere.</p>
  <p>Are not a big deal,<br>they may not even be real.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The world belongs to all that are yet to come,<br>and it's not a mere house, but a home.</p>
  <p>Above all, we must all become farseeing,<br>and rise to each become a Wise & Great Being.</p>
</div>