<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We are not born cruel,<br>we are all beautiful.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And a broken culture,<br>is not nurture.</div>
  <div class="paragraph">But a compromise,<br>that destroys the wise.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Freedom is our right,<br>the world must unite.</div>
  <div class="paragraph">The culture that is worthy,<br>sets the world free.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">All must grow knowing,<br>that Humanity is growing.</div>
  <div class="paragraph">We are all one kind,<br>leave bad ideas behind.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Do not lie to the younger,<br>out of fear of hunger...</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Say, poverty is an error,<br>that can only cause terror.</div>
  <div class="paragraph">That war cannot lead to peace,<br>just a cease-fire on a lease.</div>
  <div class="paragraph">That the world needs a school,<br>that isn't cruel.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Let the younger know it all,<br>advancement must not stall.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The things that aren’t there,<br>when we are born elsewhere.</div>
  <div class="paragraph">Are not a big deal,<br>they may not even be real.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The world belongs to all that are yet to come,<br>and it's not a mere house, but a home.</div>
  <div class="paragraph">Above all, we must all become farseeing,<br>and rise to each become a Wise & Great Being.</div>
</div>