<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The airbrush is lyke the first drawing tool,<br>you get erasers and boom, the airbrush.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is special because the opacity or transparency,<br>is pressure sensitive.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So if you press your pen lightly,<br>you will make a barely visible line.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">While you are at it,<br>don’t just draw as if with a pencil.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Think, turning a circle to a sphere,<br>in a singe swipe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is good to rough out, or set up,<br>the shadows on a face.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But yes, you will need to set it thin, at first,<br>to create your sketch.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You probably wan to go crayon thin,<br>not pencil thin.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And since you are laying down,<br>barely visible layers at low pressure.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can sketch around,<br>until your eye catches a shape, and then press harder.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Unless you are using photo reference directly,<br>do not try to do anything without a sketch.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Trying to paint shapes on a face without a sketch,<br>is like hitting midnight and turning into a pumpkin.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It won’t work - or rather it will work frequently enough,<br>to trick you, and then abruptly stop working.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must always use a cute sketch,<br>draw it on paper, take a photo, stick it into Krita’s Image Reference tool if you like.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But never skip the sketch,<br>it is the pattern for creating good art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As you begin coloring, or maybe just shading,<br>first you do tick lines, then the thinner ones.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you switch to a thinner line,<br>it is a good time to start a new layer.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But, the trully big deal here,<br>is that you will be painting the thiner more detailed lines...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">On top of the thicker,<br>more general ones, and that will fill in the gaps between thin lines.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You already have a background, you see,<br>you now work on top of it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Even if the shading beneath is very rough,<br>your thinner more detailed sprays get mighty support.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Don’t erase, don’t make your sketches clean,<br>give them texture, flaws, noise, and thus character.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I almost want to say, never try to fix something,<br>erase, find more references, and start that part again.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I think that maybe good advice,<br>but this here is a simple poem about simple things.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Once you have your sketch,<br>and you give it girth, a 3D feel, volume, depth.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Stop, drop, and roll all the way down,<br>to deep grays, and do the best you can...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And all that is possible,<br>to put your character into darkness, shadow, night, shade.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because that will give you the power of light,<br>take a spicy color, draw a sharp sphere, or claws, glowing eyes, or a UFO in the distance.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And then set your airbrush to large,<br>and very gently, veeeeery gently, spray a gloooooooow, geeeeently, psssssh :)</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">See you can’t do that, in the daylight,<br>in the daylight you just give everything boring shadows.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But in the dark, you can glow, you can have fire, lasers, lightning,<br>and all kinds of enchanted magical things.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where dark woods are <a href="https://www.youtube.com/watch?v=MfmUB1GbgOQ&t=750">scary</a> in real life,<br>in art, they are home, they are enchanted and ready for you to bring in some magic.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/r/redditgetsdrawn/comments/whbgxp/my_mouse_storm/ij891qc/?context=3">A Mouse Named Storm, Title Image Contest</a><br><a href="https://youtu.be/ue7B7X7fnzo">Title Time-lapse</a></div>
  </div>
</div>