<div class="section">
  <p>The airbrush is lyke the first drawing tool,<br>you get erasers and boom, the airbrush.</p>
  <p>It is special because the opacity or transparency,<br>is pressure sensitive.</p>
  <p>So if you press your pen lightly,<br>you will make a barely visible line.</p>
  <p>While you are at it,<br>don’t just draw as if with a pencil.</p>
  <p>Think, turning a circle to a sphere,<br>in a singe swipe.</p>
  <p>It is good to rough out, or set up,<br>the shadows on a face.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But yes, you will need to set it thin, at first,<br>to create your sketch.</p>
  <p>You probably wan to go crayon thin,<br>not pencil thin.</p>
  <p>And since you are laying down,<br>barely visible layers at low pressure.</p>
  <p>You can sketch around,<br>until your eye catches a shape, and then press harder.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Unless you are using photo reference directly,<br>do not try to do anything without a sketch.</p>
  <p>Trying to paint shapes on a face without a sketch,<br>is like hitting midnight and turning into a pumpkin.</p>
  <p>It won’t work - or rather it will work frequently enough,<br>to trick you, and then abruptly stop working.</p>
  <p>You must always use a cute sketch,<br>draw it on paper, take a photo, stick it into Krita’s Image Reference tool if you like.</p>
  <p>But never skip the sketch,<br>it is the pattern for creating good art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As you begin coloring, or maybe just shading,<br>first you do tick lines, then the thinner ones.</p>
  <p>When you switch to a thinner line,<br>it is a good time to start a new layer.</p>
  <p>But, the trully big deal here,<br>is that you will be painting the thiner more detailed lines...</p>
  <p>On top of the thicker,<br>more general ones, and that will fill in the gaps between thin lines.</p>
  <p>You already have a background, you see,<br>you now work on top of it.</p>
  <p>Even if the shading beneath is very rough,<br>your thinner more detailed sprays get mighty support.</p>
  <p>Don’t erase, don’t make your sketches clean,<br>give them texture, flaws, noise, and thus character.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I almost want to say, never try to fix something,<br>erase, find more references, and start that part again.</p>
  <p>I think that maybe good advice,<br>but this here is a simple poem about simple things.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Once you have your sketch,<br>and you give it girth, a 3D feel, volume, depth.</p>
  <p>Stop, drop, and roll all the way down,<br>to deep grays, and do the best you can...</p>
  <p>And all that is possible,<br>to put your character into darkness, shadow, night, shade.</p>
  <p>Because that will give you the power of light,<br>take a spicy color, draw a sharp sphere, or claws, glowing eyes, or a UFO in the distance.</p>
  <p>And then set your airbrush to large,<br>and very gently, veeeeery gently, spray a gloooooooow, geeeeently, psssssh :)</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>See you can’t do that, in the daylight,<br>in the daylight you just give everything boring shadows.</p>
  <p>But in the dark, you can glow, you can have fire, lasers, lightning,<br>and all kinds of enchanted magical things.</p>
  <p>Where dark woods are <a href="https://www.youtube.com/watch?v=MfmUB1GbgOQ&t=750">scary</a> in real life,<br>in art, they are home, they are enchanted and ready for you to bring in some magic.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/whbgxp/my_mouse_storm/ij891qc/?context=3">A Mouse Named Storm, Title Image Contest</a><br><a href="https://youtu.be/ue7B7X7fnzo">Title Time-lapse</a></p>
</div>