<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The airbrush is lyke the first drawing tool,<br>you get erasers and boom, the airbrush.</div>
  <div class="paragraph">It is special because the opacity or transparency,<br>is pressure sensitive.</div>
  <div class="paragraph">So if you press your pen lightly,<br>you will make a barely visible line.</div>
  <div class="paragraph">While you are at it,<br>don’t just draw as if with a pencil.</div>
  <div class="paragraph">Think, turning a circle to a sphere,<br>in a singe swipe.</div>
  <div class="paragraph">It is good to rough out, or set up,<br>the shadows on a face.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But yes, you will need to set it thin, at first,<br>to create your sketch.</div>
  <div class="paragraph">You probably wan to go crayon thin,<br>not pencil thin.</div>
  <div class="paragraph">And since you are laying down,<br>barely visible layers at low pressure.</div>
  <div class="paragraph">You can sketch around,<br>until your eye catches a shape, and then press harder.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Unless you are using photo reference directly,<br>do not try to do anything without a sketch.</div>
  <div class="paragraph">Trying to paint shapes on a face without a sketch,<br>is like hitting midnight and turning into a pumpkin.</div>
  <div class="paragraph">It won’t work - or rather it will work frequently enough,<br>to trick you, and then abruptly stop working.</div>
  <div class="paragraph">You must always use a cute sketch,<br>draw it on paper, take a photo, stick it into Krita’s Image Reference tool if you like.</div>
  <div class="paragraph">But never skip the sketch,<br>it is the pattern for creating good art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">As you begin coloring, or maybe just shading,<br>first you do tick lines, then the thinner ones.</div>
  <div class="paragraph">When you switch to a thinner line,<br>it is a good time to start a new layer.</div>
  <div class="paragraph">But, the trully big deal here,<br>is that you will be painting the thiner more detailed lines...</div>
  <div class="paragraph">On top of the thicker,<br>more general ones, and that will fill in the gaps between thin lines.</div>
  <div class="paragraph">You already have a background, you see,<br>you now work on top of it.</div>
  <div class="paragraph">Even if the shading beneath is very rough,<br>your thinner more detailed sprays get mighty support.</div>
  <div class="paragraph">Don’t erase, don’t make your sketches clean,<br>give them texture, flaws, noise, and thus character.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I almost want to say, never try to fix something,<br>erase, find more references, and start that part again.</div>
  <div class="paragraph">I think that maybe good advice,<br>but this here is a simple poem about simple things.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Once you have your sketch,<br>and you give it girth, a 3D feel, volume, depth.</div>
  <div class="paragraph">Stop, drop, and roll all the way down,<br>to deep grays, and do the best you can...</div>
  <div class="paragraph">And all that is possible,<br>to put your character into darkness, shadow, night, shade.</div>
  <div class="paragraph">Because that will give you the power of light,<br>take a spicy color, draw a sharp sphere, or claws, glowing eyes, or a UFO in the distance.</div>
  <div class="paragraph">And then set your airbrush to large,<br>and very gently, veeeeery gently, spray a gloooooooow, geeeeently, psssssh :)</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">See you can’t do that, in the daylight,<br>in the daylight you just give everything boring shadows.</div>
  <div class="paragraph">But in the dark, you can glow, you can have fire, lasers, lightning,<br>and all kinds of enchanted magical things.</div>
  <div class="paragraph">Where dark woods are <span>scary<sup>[1]</sup></span> in real life,<br>in art, they are home, they are enchanted and ready for you to bring in some magic.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>A Mouse Named Storm, Title Image Contest<sup>[2]</sup></span><br><span>Title Time-lapse<sup>[3]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=MfmUB1GbgOQ&t=750</div>
  <div>[2]: https://www.reddit.com/r/redditgetsdrawn/comments/whbgxp/my_mouse_storm/ij891qc/?context=3</div>
  <div>[3]: https://youtu.be/ue7B7X7fnzo</div>
</div>