<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A workout is a battle, where you are not supposed to fight anything,<br>there no time here to flex into some meditative state.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You get on the floor, dumbbells in hand,<br>your feet already hurt from the workout a day before.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If it is October, and you are feeling like trouble,<br>you already got your tail on for Halloween.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And the only thing you can add...<br>the only thing there is time left for.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If pushing the play button,<br>on your current playlist.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your feet should be already off the ground,<br>before the intro starts.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When they are new, they are your whole workout.<br>songs are your energy, your metronome, and your power.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Over-the-ear headphones maybe most useful, and you will find them on the worlds largest market place,<br>but you have to search for "<a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=Headphones+TFcard">Headphones and TFcard</a>" (TFcard is one word it means SDcard).</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They cost $20 or most often $30 some dollars,<br>there are no wires, and teh built in battery lasts 4 - 7 days.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a dance style called <a href="https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+tutorial">Cutting Shapes, or sometimes Shuffle Dancing</a>,<br>and the dancers have got just the right kind of music.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You may even start dancing to your workouts,<br>combination of nice songs, endurance training, dancing, and dumbbells makes for a great workout.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Songs that play without any interesting changes from start to finish,<br>are too boring for a workout.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And not only that, the good songs,<br>are specifically remixed for dancing, the originals maybe slower, of lack crispness of bass.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=1oTUupME0-M">Alan Walker's Faded Remix</a> is a nice example of a solid workout song,<br>one that has been with me for years is the <a href="https://www.youtube.com/watch?v=ZSgVayPHuB8">Dance Monkey by Tones and I</a></div>
    <div class="paragraph card-text card-stanza my-5 text-center">Searching for <a href="https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+playlist">Cutting Shapes or Shuffle Dance Playlists</a>,<br>will help you discover enough songs to last for years.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, some songs are really good, but have the wrong tempo.<br>and here you can use Audacity, to adjust tempo of songs, without any pitch distortion.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Strangely, weight and endurance somewhat dictate,<br>what the optimal beat per minute is for you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you find the right bpm, then your upper body motion will help your feet lift off the ground.<br>and you'll have the best, workout of the week.</div>
  </div>
</div>