<div class="section">
  <p>A workout is a battle, where you are not supposed to fight anything,<br>there no time here to flex into some meditative state.</p>
  <p>You get on the floor, dumbbells in hand,<br>your feet already hurt from the workout a day before.</p>
  <p>If it is October, and you are feeling like trouble,<br>you already got your tail on for Halloween.</p>
  <p>And the only thing you can add...<br>the only thing there is time left for.</p>
  <p>If pushing the play button,<br>on your current playlist.</p>
  <p>Your feet should be already off the ground,<br>before the intro starts.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When they are new, they are your whole workout.<br>songs are your energy, your metronome, and your power.</p>
  <p>Over-the-ear headphones maybe most useful, and you will find them on the worlds largest market place,<br>but you have to search for "<a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=Headphones+TFcard">Headphones and TFcard</a>" (TFcard is one word it means SDcard).</p>
  <p>They cost $20 or most often $30 some dollars,<br>there are no wires, and teh built in battery lasts 4 - 7 days.</p>
  <p>There is a dance style called <a href="https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+tutorial">Cutting Shapes, or sometimes Shuffle Dancing</a>,<br>and the dancers have got just the right kind of music.</p>
  <p>You may even start dancing to your workouts,<br>combination of nice songs, endurance training, dancing, and dumbbells makes for a great workout.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Songs that play without any interesting changes from start to finish,<br>are too boring for a workout.</p>
  <p>And not only that, the good songs,<br>are specifically remixed for dancing, the originals maybe slower, of lack crispness of bass.</p>
  <p><a href="https://www.youtube.com/watch?v=1oTUupME0-M">Alan Walker's Faded Remix</a> is a nice example of a solid workout song,<br>one that has been with me for years is the <a href="https://www.youtube.com/watch?v=ZSgVayPHuB8">Dance Monkey by Tones and I</a></p>
  <p>Searching for <a href="https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+playlist">Cutting Shapes or Shuffle Dance Playlists</a>,<br>will help you discover enough songs to last for years.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Finally, some songs are really good, but have the wrong tempo.<br>and here you can use Audacity, to adjust tempo of songs, without any pitch distortion.</p>
  <p>Strangely, weight and endurance somewhat dictate,<br>what the optimal beat per minute is for you.</p>
  <p>If you find the right bpm, then your upper body motion will help your feet lift off the ground.<br>and you'll have the best, workout of the week.</p>
</div>