<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A workout is a battle, where you are not supposed to fight anything,<br>there no time here to flex into some meditative state.</div>
  <div class="paragraph">You get on the floor, dumbbells in hand,<br>your feet already hurt from the workout a day before.</div>
  <div class="paragraph">If it is October, and you are feeling like trouble,<br>you already got your tail on for Halloween.</div>
  <div class="paragraph">And the only thing you can add...<br>the only thing there is time left for.</div>
  <div class="paragraph">If pushing the play button,<br>on your current playlist.</div>
  <div class="paragraph">Your feet should be already off the ground,<br>before the intro starts.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When they are new, they are your whole workout.<br>songs are your energy, your metronome, and your power.</div>
  <div class="paragraph">Over-the-ear headphones maybe most useful, and you will find them on the worlds largest market place,<br>but you have to search for "<span>Headphones and TFcard<sup>[1]</sup></span>" (TFcard is one word it means SDcard).</div>
  <div class="paragraph">They cost $20 or most often $30 some dollars,<br>there are no wires, and teh built in battery lasts 4 - 7 days.</div>
  <div class="paragraph">There is a dance style called <span>Cutting Shapes, or sometimes Shuffle Dancing<sup>[2]</sup></span>,<br>and the dancers have got just the right kind of music.</div>
  <div class="paragraph">You may even start dancing to your workouts,<br>combination of nice songs, endurance training, dancing, and dumbbells makes for a great workout.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Songs that play without any interesting changes from start to finish,<br>are too boring for a workout.</div>
  <div class="paragraph">And not only that, the good songs,<br>are specifically remixed for dancing, the originals maybe slower, of lack crispness of bass.</div>
  <div class="paragraph"><span>Alan Walker's Faded Remix<sup>[3]</sup></span> is a nice example of a solid workout song,<br>one that has been with me for years is the <span>Dance Monkey by Tones and I<sup>[4]</sup></span></div>
  <div class="paragraph">Searching for <span>Cutting Shapes or Shuffle Dance Playlists<sup>[5]</sup></span>,<br>will help you discover enough songs to last for years.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Finally, some songs are really good, but have the wrong tempo.<br>and here you can use Audacity, to adjust tempo of songs, without any pitch distortion.</div>
  <div class="paragraph">Strangely, weight and endurance somewhat dictate,<br>what the optimal beat per minute is for you.</div>
  <div class="paragraph">If you find the right bpm, then your upper body motion will help your feet lift off the ground.<br>and you'll have the best, workout of the week.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=Headphones+TFcard</div>
  <div>[2]: https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+tutorial</div>
  <div>[3]: https://www.youtube.com/watch?v=1oTUupME0-M</div>
  <div>[4]: https://www.youtube.com/watch?v=ZSgVayPHuB8</div>
  <div>[5]: https://www.youtube.com/results?search_query=cutting+shapes+OR+shuffle+playlist</div>
</div>