<div class="section">
  <p>We got used to some ideas that got reversed,<br>and now have to design out world top-down first.</p>
  <p>We can't fight the ghouls and vultures,<br>as what we need; is to unite all cultures.</p>
  <p>That requires that a person grows,<br>that we all rise from the lows.</p>
  <p>Although peace is found in education,<br>we must above all fix global poverty and starvation.</p>
  <p>We can't learn when we are scared,<br>as our creativity becomes impaired.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>So to get everyone real education,<br>we must end poverty in every nation.</p>
  <p>See, the credit card is already just software,<br>we can end this nightmare.</p>
  <p>Create a universal income bank that does not track debt,<br>everyone can go to school, and the world is all set.</p>
  <p>Education is the only way we can leave bad ideas behind,<br>the road to world peace; requires the mind.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There are too many bad ideas, and yet, people are to quick to dismiss,<br>when I write like this.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>So I searched for a different tool,<br>that would still move the world towards a real school.</p>
  <p>I found that the idea of genius is supremely dumb,<br>and it is something we must escape from.</p>
  <p>We're all super smart,<br>we must recognize wisdom and greatness as our right.</p>
  <p>So I am trying to use art,<br>to show everyone they are super smart.</p>
  <p>This way students will be able to see,<br>what a classroom should be.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It is not the borders that outline a nation,<br>it is just the low level of education.</p>
  <p>For humanity to advance and rise,<br>we must all become wise.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wud87a/this_is_me/ilxs5lt/?context=3">Title Image Contest</a><br><a href="https://youtu.be/NBhuUYJtSbs">Title Image Time-lapse</a></p>
</div>