<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We got used to some ideas that got reversed,<br>and now have to design out world top-down first.</div>
  <div class="paragraph">We can't fight the ghouls and vultures,<br>as what we need; is to unite all cultures.</div>
  <div class="paragraph">That requires that a person grows,<br>that we all rise from the lows.</div>
  <div class="paragraph">Although peace is found in education,<br>we must above all fix global poverty and starvation.</div>
  <div class="paragraph">We can't learn when we are scared,<br>as our creativity becomes impaired.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">So to get everyone real education,<br>we must end poverty in every nation.</div>
  <div class="paragraph">See, the credit card is already just software,<br>we can end this nightmare.</div>
  <div class="paragraph">Create a universal income bank that does not track debt,<br>everyone can go to school, and the world is all set.</div>
  <div class="paragraph">Education is the only way we can leave bad ideas behind,<br>the road to world peace; requires the mind.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are too many bad ideas, and yet, people are to quick to dismiss,<br>when I write like this.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">So I searched for a different tool,<br>that would still move the world towards a real school.</div>
  <div class="paragraph">I found that the idea of genius is supremely dumb,<br>and it is something we must escape from.</div>
  <div class="paragraph">We're all super smart,<br>we must recognize wisdom and greatness as our right.</div>
  <div class="paragraph">So I am trying to use art,<br>to show everyone they are super smart.</div>
  <div class="paragraph">This way students will be able to see,<br>what a classroom should be.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is not the borders that outline a nation,<br>it is just the low level of education.</div>
  <div class="paragraph">For humanity to advance and rise,<br>we must all become wise.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Title Image Contest<sup>[1]</sup></span><br><span>Title Image Time-lapse<sup>[2]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.reddit.com/r/redditgetsdrawn/comments/wud87a/this_is_me/ilxs5lt/?context=3</div>
  <div>[2]: https://youtu.be/NBhuUYJtSbs</div>
</div>