<div class="section">
  <p>I went to College and it was awful,<br>I was really excited about Philosophy.</p>
  <p>I wanted the teacher,<br>to help me understand Slavoj Žižek.</p>
  <p>I spent countless hours,<br>listening to his nose issue, and I don't get anything.</p>
  <p>And I needed help separating Ayn Rand the Philosopher,<br>from Ayn Rand the Politician.</p>
  <p>Even though Ms. Rand would probably say,<br>it is impossible, I think her mind was too good for Politics.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The Philosophy teacher only talked about Descartes,<br>and some trivial Boolean inference.</p>
  <p>Right before finals a boy got up,<br>and asked who is the Des-carte-s guy (he didn't know how Descartes is spelled).</p>
  <p>As to the logic, it would be brilliant,<br>to code up a little inference engine.</p>
  <p>We could all reason about it,<br>extend it and search for flaws.</p>
  <p>Walking away from a Philosophy class with code for an expert system,<br>is the only way a Philosophy teacher can show class.</p>
  <p>And that boy, He just does finals,<br>because that is what you do when a school does not teach.</p>
  <p>Pretending Memorization is Education,<br>and paying $500 bucks for course plus $200 for sh&t-books is a lot worse....</p>
  <p>Than thinking Descartes and Des-cate-s,<br>are two different people.</p>
  <p>That was the best class the college had,<br>so I took art to relax and just people watch instead.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>First time I was painting Mona Lisas,<br>I left some pain on the easel, the main teacher called me a pig behind my back.</p>
  <p>We had a substitute teacher just come in and linger for a bit,<br>and her and I briefly spoke about education.</p>
  <p>She said "Teenagers Are Hormones" and I realized,<br>teachers are not just ripping us off, they are insulting us behind our backs too - it part of their friendship making.</p>
  <p>She finally asked about my credentials,<br>I said I was a student once.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Second time, when the teacher that called me a pig was going to lecture in a class I signed up for,<br>I told her I had a 4.0 that I wanted to protect...</p>
  <p>Because I just assumed she was unreliable,<br>and she lit up with the words "New Assistant" or something like it, in her eyes.</p>
  <p>Not bloody likely, but,<br>I taught her how to use a wall projector, and do straight lines with acrylic.</p>
  <p>The trick to prevent paint getting beneath the painters tape,<br>is to first leak pain t in there on purpose, but of the color that is already there, in order to seal the tape gap.</p>
  <p>So if you want to paint a yellow square on a blue background,<br>you tape off a square, and then paint it the same color as the background that is already there.</p>
  <p>The paint is going to leak beneath the tape, but it won't be noticeable,<br>the thing is, your yellow layer won't be able to leak beneath the tape anymore, the blue sealed your tape.</p>
  <p>So you paint your yellow square, and peal the tape,<br>you will see some fresh blue paint, that leaked under the tape, but no yellow leaks.</p>
  <p>You will have a square so sharp,<br>that you will wish it was a lite bit crooked as now all your other lines have to be equally as perfect.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>She did not think to change the way she teaches,<br>even though helping students with proportions would keep them in art forever.</p>
  <p>Instead she thought the crooked figure was superior,<br>she was pushing untrained students to doodle, and she'd grade that.</p>
  <p>Where what they needed was <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">help with proportion tools</a>,<br>so that they could move past it, and into tone and color.</p>
  <p>A crooked untrained figure says title about an artist,<br>but grading it says quite a lot about the teacher.</p>
  <p>Grids, projectors, Camera Obscura, Vincent van Gogh's Diamond frame,<br>Image References in Krita, semi-transparent layers in other programs - teach.</p>
  <p>They train the hand and eye,<br>better than any teacher ever, EVER, will.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I made the Deans List, or the list of people that make their college look legitimate,<br>and especially those who are most likely to pay for more lectures.</p>
  <p>So, I packed my backpack and had,<br>extreme adventures at the Nordhouse Wilderness in Michigan.</p>
  <p>I lived through powerful storms,<br>I made many Raccoon friends, and I named them all Friday.</p>
  <p>There was a young Philosopher, even,<br>he was bicycling from Maine, to try to deal with tragedy...</p>
  <p>And figure out what the hell was going on with his neurology,<br>I told him we are not crafted to be perfect - hell, even a computer isn't crafted to be perfect.</p>
  <p>We are a magnificent burp of the complexity of universe,<br>we are here out of accident and its fundamental principles, I paraphrased GelMann</p>
  <p>I think his Mom was following him in his incredible adventure, with bicycle parts,<br>trail mix, good advice - but not help, this kid was riding on his own, sleeping in ditches and farmer fields.</p>
  <p>I saw them talk about what I said slowly turning towards me under shady tree from a distance,<br>maybe they just went home.</p>
  <p>He had his answer, there was nothing wrong with him,<br>we just need to take good care of our selves, our brains need good care.</p>
  <p>We are not to live in sorrow and mourning,<br>we are to learn; and rise; and aim to become great beings.</p>
</div>