<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Applying your reference image directly to your canvas,<br>will help you create a perfect replica of your reference image.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Becoming a powerful Hyper-realist,<br>is the first step in mastering art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And it doubles as proof,<br>that we are very capable artists.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The second step is just as welcoming an lovely,<br>once you have completed your hyper-realist work.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You now have a plateau, or a launchpad,<br>that you are intricately familiar with.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The Hyper-realist creation doubles as a powerful study,<br>of you model or subject.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The eye you painted is understood by our brain,<br>as a bundle of shadows.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is good,<br>but we can do better.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">After you finis your Hyper-realistic work,<br>you search for how to draw an eye, as now those lessons become useful.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What a wonderful incentive,<br>to provide your customer with a painting that is much more detailed than the photo.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">At this point, you can search for tutorials<br>about the lips, the nose, cheeks, all the features including hands.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your hyper-realistic painting will guide you,<br>as to where to position everything and feature specific tutorials will help you master art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Know that eye drawing tutorials take you away from hyper-realism,<br>they may look realistic, but they are actually taking you towards stylized art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is a beautiful adventure,<br>slowly you will learn to leave-out bundles shadows that aren’t important.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What you may not have realized yet,<br>is that painting a face is pretty much memorizing it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So almost immediately,<br>you will be able to paint random faces based on your previous works.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This type of simplification,<br>is a form of stylization.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And as you move to full body paintings,<br>you will start remembering things about poses.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, your memory of facial features,<br>and body poses, will allow you to sketch entire scenes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Nobody can predict what happens beyond this point,<br>here your works become as unique as you are.</div>
  </div>
</div>