<div class="section">
  <p>Applying your reference image directly to your canvas,<br>will help you create a perfect replica of your reference image.</p>
  <p>Becoming a powerful Hyper-realist,<br>is the first step in mastering art.</p>
  <p>And it doubles as proof,<br>that we are very capable artists.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The second step is just as welcoming an lovely,<br>once you have completed your hyper-realist work.</p>
  <p>You now have a plateau, or a launchpad,<br>that you are intricately familiar with.</p>
  <p>The Hyper-realist creation doubles as a powerful study,<br>of you model or subject.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The eye you painted is understood by our brain,<br>as a bundle of shadows.</p>
  <p>This is good,<br>but we can do better.</p>
  <p>After you finis your Hyper-realistic work,<br>you search for how to draw an eye, as now those lessons become useful.</p>
  <p>What a wonderful incentive,<br>to provide your customer with a painting that is much more detailed than the photo.</p>
  <p>At this point, you can search for tutorials<br>about the lips, the nose, cheeks, all the features including hands.</p>
  <p>Your hyper-realistic painting will guide you,<br>as to where to position everything and feature specific tutorials will help you master art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Know that eye drawing tutorials take you away from hyper-realism,<br>they may look realistic, but they are actually taking you towards stylized art.</p>
  <p>This is a beautiful adventure,<br>slowly you will learn to leave-out bundles shadows that aren’t important.</p>
  <p>What you may not have realized yet,<br>is that painting a face is pretty much memorizing it.</p>
  <p>So almost immediately,<br>you will be able to paint random faces based on your previous works.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This type of simplification,<br>is a form of stylization.</p>
  <p>And as you move to full body paintings,<br>you will start remembering things about poses.</p>
  <p>Finally, your memory of facial features,<br>and body poses, will allow you to sketch entire scenes.</p>
  <p>Nobody can predict what happens beyond this point,<br>here your works become as unique as you are.</p>
</div>