<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Applying your reference image directly to your canvas,<br>will help you create a perfect replica of your reference image.</div>
  <div class="paragraph">Becoming a powerful Hyper-realist,<br>is the first step in mastering art.</div>
  <div class="paragraph">And it doubles as proof,<br>that we are very capable artists.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The second step is just as welcoming an lovely,<br>once you have completed your hyper-realist work.</div>
  <div class="paragraph">You now have a plateau, or a launchpad,<br>that you are intricately familiar with.</div>
  <div class="paragraph">The Hyper-realist creation doubles as a powerful study,<br>of you model or subject.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The eye you painted is understood by our brain,<br>as a bundle of shadows.</div>
  <div class="paragraph">This is good,<br>but we can do better.</div>
  <div class="paragraph">After you finis your Hyper-realistic work,<br>you search for how to draw an eye, as now those lessons become useful.</div>
  <div class="paragraph">What a wonderful incentive,<br>to provide your customer with a painting that is much more detailed than the photo.</div>
  <div class="paragraph">At this point, you can search for tutorials<br>about the lips, the nose, cheeks, all the features including hands.</div>
  <div class="paragraph">Your hyper-realistic painting will guide you,<br>as to where to position everything and feature specific tutorials will help you master art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Know that eye drawing tutorials take you away from hyper-realism,<br>they may look realistic, but they are actually taking you towards stylized art.</div>
  <div class="paragraph">This is a beautiful adventure,<br>slowly you will learn to leave-out bundles shadows that aren’t important.</div>
  <div class="paragraph">What you may not have realized yet,<br>is that painting a face is pretty much memorizing it.</div>
  <div class="paragraph">So almost immediately,<br>you will be able to paint random faces based on your previous works.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This type of simplification,<br>is a form of stylization.</div>
  <div class="paragraph">And as you move to full body paintings,<br>you will start remembering things about poses.</div>
  <div class="paragraph">Finally, your memory of facial features,<br>and body poses, will allow you to sketch entire scenes.</div>
  <div class="paragraph">Nobody can predict what happens beyond this point,<br>here your works become as unique as you are.</div>
</div>