<div class="section">
  <p>I must admit I welcome the Fence Post problem,<br>and I think of zero as a proper number we should all embrace.</p>
  <p>It is like a hug,<br>from the world of programming.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The fence post problem,<br>is a curse to all other programmers.</p>
  <p>When you have three apples,<br>in the computer world.</p>
  <p>The size of the list that holds your apples,<br>will be three, as it holds three elements.</p>
  <p>But to address your apples,<br>you start at zero, not at one.</p>
  <p>To refer to the first apple in your list,<br>you say apple zero.</p>
  <p>This is still manageable,<br>but, when you are looping over your list.</p>
  <p>You need to put an upper boundary for this operation,<br>for how many apples do you want to go over.</p>
  <p>And this is where it often happens,<br>the person will say three apples,...</p>
  <p>Because that is how many apples they have,<br>but that is wrong.</p>
  <p>The loop does not ask how many apples,<br>but rather, at what index to stop.</p>
  <p>We have three apples,<br>but they are known as zero, one, two.</p>
  <p>So we need to stop our loop at two,<br>not three.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In JavaScript lists of things are called Arrays,<br>so when you have three apples you think of them as an array of apples.</p>
  <p>Our for loop has three expressions,<br>initialization, condition, and final expression.</p>
  <p>They are said to be optional,<br>which is short for saying, infinite loop danger.</p>
  <p>In the body of your for loop, between the curly brackets,<br>where you put in your code.</p>
  <p>You have access to whatever you put into initialization,<br>so if you said:</p>
  <p>Counter equals zero; while counter is less than apple array length, counter = counter + 1;</p>
  <p>You can print your counter,<br>each time the body of the loop executes.</p>
  <p>You can end a loop early with the break statement,<br>or skip current execution, and start with the next one with the continue statement.</p>
  <p>But, it is best not to get too creative,<br>because then you will have trouble reading your own code.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In closing,<br>let us iterate over our three apples.</p>
  <p>For appleCounter=0, while appleCounter &lt; appleList length; new appleCounter = old appleCounter +1.</p>
  <p>so pur apple counter will be 0, then 1, and 2,<br>and for a tiny second 3, at which point appleCounter will no longer be LESS than apple list length (which is 3).</p>
  <p>And the for loop body will not execute,<br>appleCounter will be discarded as the for loop party is over.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When people write loops, they forget that less than sign,<br>sometimes use a less than or equal, because they think that will get all the apples.</p>
  <p>But no,<br>nuh uh.</p>
  <p>We have three apples,<br>and need to stop at two.</p>
  <p>Because to use the appleCounter variable to point at apples in our for loop,<br>we have to initialize it to zero, as arrays start at zero.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Lastly, I caused the fence post problem but for an interesting reason,<br>in some cases we have to hide that we work with zero based indexing.</p>
  <p>The creator of the library <a href="https://www.npmjs.com/package/pagination#current-integer">chose to use number one</a>,<br>and that is a valid choice.</p>
  <p>But when I was setting it up, I assumed,<br>we always start everything at 0 no matter what.</p>
  <p>I’ll be rewriting this portion of the new website,<br>and my program will have a page zero.</p>
  <p>Both a zero in the URL bar,<br>and on a button.</p>
  <p>When numbering things in the computer world you should always start with zero,<br>zero only becomes scary, when you start at one.</p>
</div>