<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Please know that if you are heavy,<br>that means you have a lot of muscle.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It means you have been wearing a weight west,<br>all the bodybuilders start out this way.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But know that obesity is dangerous, if you don’t see a doctor often,<br>get a blood pressure measuring machine, and begin tracking your return to health.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Before you jog, learn to slowly do a walking-dance-like workout,<br>where you go few steps back and forth with light dumbbells in your hand.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This will get your body used to movement,<br>and break in your muscles to eliminate pain.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once you feel like the light dumbbells are a waste of effort,<br>increase the weight, by 2.5lb per hand.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Use a stair machine to climb for as long as you can,<br>and use the treadmills, or the outside, to walk.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your aim must always be about increasing activity, pace and weight,<br>and decreasing rest until you eliminate it, completely.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Wear good shoes, and know that blisters always happen in the beginning,<br>your feet are just cranky, once you heal back up, they won’t return.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Your problem is your back, you have to be careful,<br>and serious about protecting it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In the beginning the easy workouts,<br>must happen every day, there is no stopping.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You have to improvise, you have to adapt,<br>if you damage some tissue, move to work on a different part of your body.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But to prolong your longevity,<br>there are no days off.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If it snows and the gym is closed,<br>that means your workout is about walking to the gum and back, in the snow.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If it is raining, wear some warm clothes at home to heat up,<br>before you do your rain jog, try to avoid the worst of the rain.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">An autumn drizzle, is an unforgettable jog,<br>you will remember the colorful leaves and their fragrance for life.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If your back is hurt, and you cannot walk,<br>get a chair, and sit up straight in the chair.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Warm up your back by moving a little bit,<br>warm it up more with a shower.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Carefully get to the gym, walk, stretch,<br>and do a baby workout, until your back lets go.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Once you start sweating it wont hurt too much,<br>you doctor will tell you to keep moving.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can cut back-pain down to three days,<br>if you move a bit.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will need a hospital like bed,<br>that allows you to lift your feet, and your upper body.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This will eliminate the need for the chair,<br>you won’t be upsetting your back by sleeping flat.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And once you get through the initial phase,<br>replace your sank with flavored shredded lettuce.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And get rid of kitchen appliances that are killing you,<br>the sugar that has always been responsible for the headaches.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Then begin moving to a slow song,<br>that will be your metronome.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">At first work out to the colorful part which is always rare,<br>but then rest at that part, and work out to the boring parts.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Until you finally,<br>can work out for the whole three or four minutes, non stop.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Then you get an interval timer,<br>set activity to three minutes, rest to three or two minutes ...and go at it for an hour.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This will help you get to jogging,<br>always jog in the woods, or a park with a soft trail.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Never on concrete,<br>jogging on concrete is foolish, don ‘t do it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Find a beautiful wooded area,<br>and turn your slow jogging to a pretty adventure.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here you will finally understand,<br>that endurance easily increases, so as long as you are good to yourself.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And here you will be able to synthesize,<br>all the steps that are to follow.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I recommend shuffle dancing with dumbbells,<br>though don’t so the trick moves, do simple ones, don’t get hurt.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And finally, when you don’t need your interval timer anymore,<br>begin speeding up your workout music, by 5% or so.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can use the free and open source Audacity,<br>to change the tempo, or ffmpeg if you are a fan of linux.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And remember, the faster the song goes, the faster you get to the end,<br>and that space between your songs where you catch your breath.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Set your aim for crossing the Appalachian Trail,<br>for running ultra marathons, in the privacy of your own life.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And whenever you can,<br>grab a wise narrated book at the library.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And inherit its wisdom, and culture,<br>and grow, grow all the way up until you become a great being.</div>
  </div>
</div>