<div class="section">
  <p>Please know that if you are heavy,<br>that means you have a lot of muscle.</p>
  <p>It means you have been wearing a weight west,<br>all the bodybuilders start out this way.</p>
  <p>But know that obesity is dangerous, if you don’t see a doctor often,<br>get a blood pressure measuring machine, and begin tracking your return to health.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Before you jog, learn to slowly do a walking-dance-like workout,<br>where you go few steps back and forth with light dumbbells in your hand.</p>
  <p>This will get your body used to movement,<br>and break in your muscles to eliminate pain.</p>
  <p>Once you feel like the light dumbbells are a waste of effort,<br>increase the weight, by 2.5lb per hand.</p>
  <p>Use a stair machine to climb for as long as you can,<br>and use the treadmills, or the outside, to walk.</p>
  <p>Your aim must always be about increasing activity, pace and weight,<br>and decreasing rest until you eliminate it, completely.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Wear good shoes, and know that blisters always happen in the beginning,<br>your feet are just cranky, once you heal back up, they won’t return.</p>
  <p>Your problem is your back, you have to be careful,<br>and serious about protecting it.</p>
  <p>In the beginning the easy workouts,<br>must happen every day, there is no stopping.</p>
  <p>You have to improvise, you have to adapt,<br>if you damage some tissue, move to work on a different part of your body.</p>
  <p>But to prolong your longevity,<br>there are no days off.</p>
  <p>If it snows and the gym is closed,<br>that means your workout is about walking to the gum and back, in the snow.</p>
  <p>If it is raining, wear some warm clothes at home to heat up,<br>before you do your rain jog, try to avoid the worst of the rain.</p>
  <p>An autumn drizzle, is an unforgettable jog,<br>you will remember the colorful leaves and their fragrance for life.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If your back is hurt, and you cannot walk,<br>get a chair, and sit up straight in the chair.</p>
  <p>Warm up your back by moving a little bit,<br>warm it up more with a shower.</p>
  <p>Carefully get to the gym, walk, stretch,<br>and do a baby workout, until your back lets go.</p>
  <p>Once you start sweating it wont hurt too much,<br>you doctor will tell you to keep moving.</p>
  <p>You can cut back-pain down to three days,<br>if you move a bit.</p>
  <p>You will need a hospital like bed,<br>that allows you to lift your feet, and your upper body.</p>
  <p>This will eliminate the need for the chair,<br>you won’t be upsetting your back by sleeping flat.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And once you get through the initial phase,<br>replace your sank with flavored shredded lettuce.</p>
  <p>And get rid of kitchen appliances that are killing you,<br>the sugar that has always been responsible for the headaches.</p>
  <p>Then begin moving to a slow song,<br>that will be your metronome.</p>
  <p>At first work out to the colorful part which is always rare,<br>but then rest at that part, and work out to the boring parts.</p>
  <p>Until you finally,<br>can work out for the whole three or four minutes, non stop.</p>
  <p>Then you get an interval timer,<br>set activity to three minutes, rest to three or two minutes ...and go at it for an hour.</p>
  <p>This will help you get to jogging,<br>always jog in the woods, or a park with a soft trail.</p>
  <p>Never on concrete,<br>jogging on concrete is foolish, don ‘t do it.</p>
  <p>Find a beautiful wooded area,<br>and turn your slow jogging to a pretty adventure.</p>
  <p>Here you will finally understand,<br>that endurance easily increases, so as long as you are good to yourself.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And here you will be able to synthesize,<br>all the steps that are to follow.</p>
  <p>I recommend shuffle dancing with dumbbells,<br>though don’t so the trick moves, do simple ones, don’t get hurt.</p>
  <p>And finally, when you don’t need your interval timer anymore,<br>begin speeding up your workout music, by 5% or so.</p>
  <p>You can use the free and open source Audacity,<br>to change the tempo, or ffmpeg if you are a fan of linux.</p>
  <p>And remember, the faster the song goes, the faster you get to the end,<br>and that space between your songs where you catch your breath.</p>
  <p>Set your aim for crossing the Appalachian Trail,<br>for running ultra marathons, in the privacy of your own life.</p>
  <p>And whenever you can,<br>grab a wise narrated book at the library.</p>
  <p>And inherit its wisdom, and culture,<br>and grow, grow all the way up until you become a great being.</p>
</div>