<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I know it is hard to keep track of things,<br>especially as people age.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So this is a quick reminder,<br>the children remember each and every time you lie to them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The way you used to remember,<br>and try to understand why.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Except, somehow, the children born to a more connected world,<br>become smarter, they are a lot, smarter than you.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Even with all the lies,<br>greed and <a href="https://www.youtube.com/watch?v=AC7Ewmlp9tA">rockets</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/c/TOPNOTCHIDIOTS">The kids are making, fun of you, all of you even the bad asses</a>,<br><a href="https://www.youtube.com/watch?v=C74-f4ZV-ss">they called you out, long ago</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=fPJQw-x-xho">And they laugh, like only a child can</a>,<br>canceling your own civil and human rights, really makes them laugh.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Any time you lie to your classroom,<br>or your own children, they know.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And if you manage to sneak a lie past them,<br>then that is only because they lack some quantum of experience.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They'll call you out,<br>in a mater of days.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We know you are tolerating broken schools,<br>because it s convenient for you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And because you have aged, but did not yet become mature enough,<br>to see how horrible that is.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Those of you who are teachers,<br>let me remind you, what it was like back in the student days.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We didn't come to school to learn,<br>we came to school to test the teachers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To see if you are worthy of teaching us,<br>to see if they have anything worth the while.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We were not hormones, or dead ends, or losers,<br>the teachers were always the losers, and the sellouts.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In truth, we called you out on everything,<br>and to get what is owed to us, we found ways to self educate and rise.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The world does not belong to the ghouls, pill poppers and pretenders,<br>it belongs to the children.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The more connected the younger generations become,<br>the faster they will become smarter than you, and by that I mean all of you.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The combination of climate change,<br>nuclear threat and increased world connectivity and access to real education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Will make ti so that the children will not let you lie,<br>for much longer.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It is true for us all,<br>that we require proper education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Show your children, that you are willing to learn, by taking to audio books...<br>held in high esteem by sane and well educated people.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Show your children that you care about their love for you,<br>and add another 30 years to your life by repairing you body - and making your diet and exercise work this time.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And for your own sake, think twice,<br>before you lie or manipulate your children again.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because if you are the kind of person, that does not treat children with utmost respect,<br>then they will certainly become the kind of person, that will make you learn form your own mistakes.</div>
  </div>
</div>