<div class="section">
  <p>I know it is hard to keep track of things,<br>especially as people age.</p>
  <p>So this is a quick reminder,<br>the children remember each and every time you lie to them.</p>
  <p>The way you used to remember,<br>and try to understand why.</p>
  <p>Except, somehow, the children born to a more connected world,<br>become smarter, they are a lot, smarter than you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Even with all the lies,<br>greed and <a href="https://www.youtube.com/watch?v=AC7Ewmlp9tA">rockets</a>.</p>
  <p><a href="https://www.youtube.com/c/TOPNOTCHIDIOTS">The kids are making, fun of you, all of you even the bad asses</a>,<br><a href="https://www.youtube.com/watch?v=C74-f4ZV-ss">they called you out, long ago</a>.</p>
  <p><a href="https://www.youtube.com/watch?v=fPJQw-x-xho">And they laugh, like only a child can</a>,<br>canceling your own civil and human rights, really makes them laugh.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Any time you lie to your classroom,<br>or your own children, they know.</p>
  <p>And if you manage to sneak a lie past them,<br>then that is only because they lack some quantum of experience.</p>
  <p>They'll call you out,<br>in a mater of days.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We know you are tolerating broken schools,<br>because it s convenient for you.</p>
  <p>And because you have aged, but did not yet become mature enough,<br>to see how horrible that is.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Those of you who are teachers,<br>let me remind you, what it was like back in the student days.</p>
  <p>We didn't come to school to learn,<br>we came to school to test the teachers.</p>
  <p>To see if you are worthy of teaching us,<br>to see if they have anything worth the while.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We were not hormones, or dead ends, or losers,<br>the teachers were always the losers, and the sellouts.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In truth, we called you out on everything,<br>and to get what is owed to us, we found ways to self educate and rise.</p>
  <p>The world does not belong to the ghouls, pill poppers and pretenders,<br>it belongs to the children.</p>
  <p>The more connected the younger generations become,<br>the faster they will become smarter than you, and by that I mean all of you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The combination of climate change,<br>nuclear threat and increased world connectivity and access to real education.</p>
  <p>Will make ti so that the children will not let you lie,<br>for much longer.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It is true for us all,<br>that we require proper education.</p>
  <p>Show your children, that you are willing to learn, by taking to audio books...<br>held in high esteem by sane and well educated people.</p>
  <p>Show your children that you care about their love for you,<br>and add another 30 years to your life by repairing you body - and making your diet and exercise work this time.</p>
  <p>And for your own sake, think twice,<br>before you lie or manipulate your children again.</p>
  <p>Because if you are the kind of person, that does not treat children with utmost respect,<br>then they will certainly become the kind of person, that will make you learn form your own mistakes.</p>
</div>