<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I know it is hard to keep track of things,<br>especially as people age.</div>
  <div class="paragraph">So this is a quick reminder,<br>the children remember each and every time you lie to them.</div>
  <div class="paragraph">The way you used to remember,<br>and try to understand why.</div>
  <div class="paragraph">Except, somehow, the children born to a more connected world,<br>become smarter, they are a lot, smarter than you.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Even with all the lies,<br>greed and <span>rockets<sup>[1]</sup></span>.</div>
  <div class="paragraph"><span>The kids are making, fun of you, all of you even the bad asses<sup>[2]</sup></span>,<br><span>they called you out, long ago<sup>[3]</sup></span>.</div>
  <div class="paragraph"><span>And they laugh, like only a child can<sup>[4]</sup></span>,<br>canceling your own civil and human rights, really makes them laugh.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Any time you lie to your classroom,<br>or your own children, they know.</div>
  <div class="paragraph">And if you manage to sneak a lie past them,<br>then that is only because they lack some quantum of experience.</div>
  <div class="paragraph">They'll call you out,<br>in a mater of days.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We know you are tolerating broken schools,<br>because it s convenient for you.</div>
  <div class="paragraph">And because you have aged, but did not yet become mature enough,<br>to see how horrible that is.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Those of you who are teachers,<br>let me remind you, what it was like back in the student days.</div>
  <div class="paragraph">We didn't come to school to learn,<br>we came to school to test the teachers.</div>
  <div class="paragraph">To see if you are worthy of teaching us,<br>to see if they have anything worth the while.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">We were not hormones, or dead ends, or losers,<br>the teachers were always the losers, and the sellouts.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In truth, we called you out on everything,<br>and to get what is owed to us, we found ways to self educate and rise.</div>
  <div class="paragraph">The world does not belong to the ghouls, pill poppers and pretenders,<br>it belongs to the children.</div>
  <div class="paragraph">The more connected the younger generations become,<br>the faster they will become smarter than you, and by that I mean all of you.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The combination of climate change,<br>nuclear threat and increased world connectivity and access to real education.</div>
  <div class="paragraph">Will make ti so that the children will not let you lie,<br>for much longer.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is true for us all,<br>that we require proper education.</div>
  <div class="paragraph">Show your children, that you are willing to learn, by taking to audio books...<br>held in high esteem by sane and well educated people.</div>
  <div class="paragraph">Show your children that you care about their love for you,<br>and add another 30 years to your life by repairing you body - and making your diet and exercise work this time.</div>
  <div class="paragraph">And for your own sake, think twice,<br>before you lie or manipulate your children again.</div>
  <div class="paragraph">Because if you are the kind of person, that does not treat children with utmost respect,<br>then they will certainly become the kind of person, that will make you learn form your own mistakes.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=AC7Ewmlp9tA</div>
  <div>[2]: https://www.youtube.com/c/TOPNOTCHIDIOTS</div>
  <div>[3]: https://www.youtube.com/watch?v=C74-f4ZV-ss</div>
  <div>[4]: https://www.youtube.com/watch?v=fPJQw-x-xho</div>
</div>