<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">...Or a B students,<br>and A's are pretty much worthless too.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is not what you remember for the test,<br>it is about the things that make you brilliant and great in life.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Everyone involved in your education,<br>has just brainlessly conspired to make you feel stupid.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Mostly because it is easy money,<br>but also to make themselves feel special.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">How do they get paid,<br>for making you feel stupid?</div>
    <div class="paragraph card-text card-stanza my-5 text-center">By tricking you into thinking that you are just not that smart,<br>they don’t have to do anything to teach you anything.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And you won’t know to accuse them of fraud,<br>of fake of ineffective education.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Teachers also reinforce each others bonds,<br>by calling you hormones.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And to the principal,<br>you represent easy retirement.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In great part, because you got tricked,<br>into thinking you are just not that smart.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">How are you going to protest,<br>when you are not even smart enough to get an A?</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But it is not just principal,<br>actual politicians are involved.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">By doing as lite as possible,<br>in part as to not to get caught due to incompetence...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They do things in really thin layers,<br>the state testing is thinly disguised nonsense.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They aren’t teaching you,<br>they are giving you answers to memorize.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Now they do introduce some fuzz in the middle,<br>to make things more than just memorization.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But not much more,<br>and you don’t need to do them to pass the test.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But if you do take the extra strep,<br>they you will get a solid 99.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Don’t count on a hundred,<br>they are not competent enough to craft good tests.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And there is evidence,<br>but not direct.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">These people didn’t get together to form an organization,<br>to do as little as possible for the maximum gain.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They just all kept doing as little as possible,<br>until they got their paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can almost visualize this as,<br>organically grown fraud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There was no emails, no knowing smiles,<br>not even eye contact.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It was just laziness, lying, incompetence,<br>arrogance, ignorance, and that cheery on top: GROUPTHINK.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But, in their collective stupidity,<br>they do have a secret handshake.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They make fun of you,<br>they judge you, they call you names.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Any teachers that go against this,<br>are seen as rebellious, eccentric, and thus pushed out.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There are few other traits,<br>they never talk about the crappy job they do.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It does get creepy when you graduate High School,<br>because of the college loans.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are not forgivable by bankruptcy,<br>and they will be extracted from your paycheck by force.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There are people in their 60’s,<br>who are still paying of the fraud.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The magical free ride tuition, if you get one,<br>is also based on thin layers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you start freaking out that the lectures are too much,<br>which they are, because everything is ineffective.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Standardized education cannot be made effective,<br>it is impossible to lecture to more than five people.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And there is no money,<br>in highly customized instruction.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So it is always the maximum number of students,<br>to get the maximum amount of money.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You will freak out, because you are a human being,<br>not a tape recorder.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The free ride will end before you graduate,<br>and you will still pay, they will still rip you off.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The only way you can graduate without losing your mind,<br>is to pretend you are getting an education, and pay, and, pay, and pay.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">At the end of all that,<br>you will have your Ph.D.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As you can imagine this is just the tip of the iceberg,<br>chances are you are not hammered by multi generational poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Looking for just even change,<br>and going into military service where some countries treat you like a replaceable cog.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The more developed countries, should not be allowed to recruit children,<br>and certainly no one without a real education - where they aren't sure what they are doing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The mind of a young person is sacred,<br>send in all the people that think it is OK to do that, and those who want war.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where battle will damage the mind of a young person,<br>it will turn an old guy into a fit jitterbug.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are meant to protect children,<br>not use them as replaceable tools.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">What to do?<br>get away from liars so that they quit poisoning your mind.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You need an education, a real education,<br>that is why the libraries are always open and always free.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We live in an age of narrated books and spoken videos,<br>it will take you less than a year to get firm footing that is worthy of you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can totally take it from there,<br>they great beings will show you the way.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As to the poverty that this quest will cast you into,<br>become an artist, designer, 3D modeler, and a programmer, which is to say enter the culture of constant self education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">At the very least,<br>it will help you to stop being scared of poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is not a perfect plan, it is a desperate plan,<br>but since you are going at your own pace, and in a sequence that matches your existing knowledge... you will learn fast.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are all Einstein-smart, we just need to take baby-steps first,<br>and make our way to the next level, on our own, without being pushed.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That is why the education you have been receiving thus far didn't work,<br>because you can't be taught outside in, you can only learn inside out.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Being pressured to get good grades when you are pushed outside in, or taught,<br>will only get you into "discovering", memorization, in other words you are being tricked into memorizing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Teachers know you will never admit to that, because it was hard work,<br>and if you complain they will retest you and you will fail needing to through that memorization hell again.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is part of their scam, they get you in a catch-22, between a rock in a hard place,<br>and get a kick and a paycheck out of it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To be clear - they know you are worthlessly memorizing,<br>because they got you to do it, under the threat of repeating the class or just being held back a year and permanently marked as delayed.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Now, a major part, of breakin g out of that fraud,<br>is becoming a great being.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So that you can commit meaningful contributions,<br>towards the global end of poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can't just end fake education,<br>or just end poverty; it has to happen both at once.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And even so,<br>it will be mayhem at first.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But, as a result of end of poverty and the re-invention of schools none of the kids that need an exit,<br>will be forced into lives of cultures that they don’t want to be part of.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Come your retirement,<br>many of them will resume your work.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">People who will be freaking out because of the free money,<br>a Universal Income Card - will end badly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But poverty will not keep them down,<br>they will have enough to move and try again.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I know that it would feel better,<br>if I left out the part about the Universal Income card.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But that is just an illusion,<br>we have to change the world, end war and the nuclear threat, and deal with climate an other things.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Fixing education is pointless,<br>if we are not to talk about the fill aim, which is the Advancement Of Human Kind.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Poverty and Education,<br>is just the beginning.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">What you have to do now,<br>is get up, give yourself a real education, and become a Great Being.</div>
  </div>
</div>