<div class="section">
  <p>...Or a B students,<br>and A's are pretty much worthless too.</p>
  <p>It is not what you remember for the test,<br>it is about the things that make you brilliant and great in life.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Everyone involved in your education,<br>has just brainlessly conspired to make you feel stupid.</p>
  <p>Mostly because it is easy money,<br>but also to make themselves feel special.</p>
  <p>How do they get paid,<br>for making you feel stupid?</p>
  <p>By tricking you into thinking that you are just not that smart,<br>they don’t have to do anything to teach you anything.</p>
  <p>And you won’t know to accuse them of fraud,<br>of fake of ineffective education.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Teachers also reinforce each others bonds,<br>by calling you hormones.</p>
  <p>And to the principal,<br>you represent easy retirement.</p>
  <p>In great part, because you got tricked,<br>into thinking you are just not that smart.</p>
  <p>How are you going to protest,<br>when you are not even smart enough to get an A?</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But it is not just principal,<br>actual politicians are involved.</p>
  <p>By doing as lite as possible,<br>in part as to not to get caught due to incompetence...</p>
  <p>They do things in really thin layers,<br>the state testing is thinly disguised nonsense.</p>
  <p>They aren’t teaching you,<br>they are giving you answers to memorize.</p>
  <p>Now they do introduce some fuzz in the middle,<br>to make things more than just memorization.</p>
  <p>But not much more,<br>and you don’t need to do them to pass the test.</p>
  <p>But if you do take the extra strep,<br>they you will get a solid 99.</p>
  <p>Don’t count on a hundred,<br>they are not competent enough to craft good tests.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And there is evidence,<br>but not direct.</p>
  <p>These people didn’t get together to form an organization,<br>to do as little as possible for the maximum gain.</p>
  <p>They just all kept doing as little as possible,<br>until they got their paycheck.</p>
  <p>You can almost visualize this as,<br>organically grown fraud.</p>
  <p>There was no emails, no knowing smiles,<br>not even eye contact.</p>
  <p>It was just laziness, lying, incompetence,<br>arrogance, ignorance, and that cheery on top: GROUPTHINK.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But, in their collective stupidity,<br>they do have a secret handshake.</p>
  <p>They make fun of you,<br>they judge you, they call you names.</p>
  <p>Any teachers that go against this,<br>are seen as rebellious, eccentric, and thus pushed out.</p>
  <p>There are few other traits,<br>they never talk about the crappy job they do.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It does get creepy when you graduate High School,<br>because of the college loans.</p>
  <p>They are not forgivable by bankruptcy,<br>and they will be extracted from your paycheck by force.</p>
  <p>There are people in their 60’s,<br>who are still paying of the fraud.</p>
  <p>The magical free ride tuition, if you get one,<br>is also based on thin layers.</p>
  <p>If you start freaking out that the lectures are too much,<br>which they are, because everything is ineffective.</p>
  <p>Standardized education cannot be made effective,<br>it is impossible to lecture to more than five people.</p>
  <p>And there is no money,<br>in highly customized instruction.</p>
  <p>So it is always the maximum number of students,<br>to get the maximum amount of money.</p>
  <p>You will freak out, because you are a human being,<br>not a tape recorder.</p>
  <p>The free ride will end before you graduate,<br>and you will still pay, they will still rip you off.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The only way you can graduate without losing your mind,<br>is to pretend you are getting an education, and pay, and, pay, and pay.</p>
  <p>At the end of all that,<br>you will have your Ph.D.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As you can imagine this is just the tip of the iceberg,<br>chances are you are not hammered by multi generational poverty.</p>
  <p>Looking for just even change,<br>and going into military service where some countries treat you like a replaceable cog.</p>
  <p>The more developed countries, should not be allowed to recruit children,<br>and certainly no one without a real education - where they aren't sure what they are doing.</p>
  <p>The mind of a young person is sacred,<br>send in all the people that think it is OK to do that, and those who want war.</p>
  <p>Where battle will damage the mind of a young person,<br>it will turn an old guy into a fit jitterbug.</p>
  <p>We are meant to protect children,<br>not use them as replaceable tools.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>What to do?<br>get away from liars so that they quit poisoning your mind.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You need an education, a real education,<br>that is why the libraries are always open and always free.</p>
  <p>We live in an age of narrated books and spoken videos,<br>it will take you less than a year to get firm footing that is worthy of you.</p>
  <p>You can totally take it from there,<br>they great beings will show you the way.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>As to the poverty that this quest will cast you into,<br>become an artist, designer, 3D modeler, and a programmer, which is to say enter the culture of constant self education.</p>
  <p>At the very least,<br>it will help you to stop being scared of poverty.</p>
  <p>This is not a perfect plan, it is a desperate plan,<br>but since you are going at your own pace, and in a sequence that matches your existing knowledge... you will learn fast.</p>
  <p>We are all Einstein-smart, we just need to take baby-steps first,<br>and make our way to the next level, on our own, without being pushed.</p>
  <p>That is why the education you have been receiving thus far didn't work,<br>because you can't be taught outside in, you can only learn inside out.</p>
  <p>Being pressured to get good grades when you are pushed outside in, or taught,<br>will only get you into "discovering", memorization, in other words you are being tricked into memorizing.</p>
  <p>Teachers know you will never admit to that, because it was hard work,<br>and if you complain they will retest you and you will fail needing to through that memorization hell again.</p>
  <p>It is part of their scam, they get you in a catch-22, between a rock in a hard place,<br>and get a kick and a paycheck out of it.</p>
  <p>To be clear - they know you are worthlessly memorizing,<br>because they got you to do it, under the threat of repeating the class or just being held back a year and permanently marked as delayed.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Now, a major part, of breakin g out of that fraud,<br>is becoming a great being.</p>
  <p>So that you can commit meaningful contributions,<br>towards the global end of poverty.</p>
  <p>You can't just end fake education,<br>or just end poverty; it has to happen both at once.</p>
  <p>And even so,<br>it will be mayhem at first.</p>
  <p>But, as a result of end of poverty and the re-invention of schools none of the kids that need an exit,<br>will be forced into lives of cultures that they don’t want to be part of.</p>
  <p>Come your retirement,<br>many of them will resume your work.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>People who will be freaking out because of the free money,<br>a Universal Income Card - will end badly.</p>
  <p>But poverty will not keep them down,<br>they will have enough to move and try again.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I know that it would feel better,<br>if I left out the part about the Universal Income card.</p>
  <p>But that is just an illusion,<br>we have to change the world, end war and the nuclear threat, and deal with climate an other things.</p>
  <p>Fixing education is pointless,<br>if we are not to talk about the fill aim, which is the Advancement Of Human Kind.</p>
  <p>Poverty and Education,<br>is just the beginning.</p>
  <p>What you have to do now,<br>is get up, give yourself a real education, and become a Great Being.</p>
</div>