<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There are rules to the universe,<br>your art tools do not follow those rules on your canvas.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You have to make them behave,<br>you have to make the follow the rules of the universe.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">For example, the universe makes<br>colors and shadows random and splotchy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Art has no room for flat color,<br>you always need to change a tiny bit.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Move a little between dark and light,<br>adjust the hue ever so slightly.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Fluctuate, and bounce,<br>like observation and photons.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When drawing something random like <a href="https://www.youtube.com/watch?v=39kigEnf6bY">hair and its canyons</a>,<br>or <a href="https://www.youtube.com/watch?v=LAIR3c8Q4oE">cables that represent wrinkles in fabric</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There are simple rules, fundamental, universal, rules,<br>and they will help you with art skill synthesis.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A cable that creates wrinkles in fabric,<br>is round, so you paint it round with shadows.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And it has some beginning and some end,<br>because the cable is round...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There will be a round bump,<br>as it goes around a sleeve.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And as it goes into shadow,<br>it will get darker.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Hair are shiny,<br>they reflect the sun.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And though hair is flat,<br>there are canyons.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A concept as abstract and seemingly alien,<br>as cables are to drapery.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Combined with shine you light the edge,<br>and darken the shadow the deeper the canyon.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This only sounds trivial,<br>because you are familiar with hair and drapery.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Challenge yourself with something,<br>that you have never studied before.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Like <a href="https://www.youtube.com/watch?v=8YOmER50epo">Europa’s icy double ridges</a>,<br>woven fabric, or the shied of an alien warrior.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And you will be surprised,<br>how ever present the fundamental are.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are like the primary colors,<br>that let you mix and create the full spectrum of color.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you are challenged by the unknown,<br>gather up the universal fundamentals, and follow the rules of the universe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.reddit.com/user/catpea-com/comments/war7bl/hair_bear/">Title Image Close-up</a> and <a href="https://youtu.be/01DwGj1wsJk">Time-lapse</a>.</div>
  </div>
</div>