<div class="section">
  <p>There are rules to the universe,<br>your art tools do not follow those rules on your canvas.</p>
  <p>You have to make them behave,<br>you have to make the follow the rules of the universe.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>For example, the universe makes<br>colors and shadows random and splotchy.</p>
  <p>Art has no room for flat color,<br>you always need to change a tiny bit.</p>
  <p>Move a little between dark and light,<br>adjust the hue ever so slightly.</p>
  <p>Fluctuate, and bounce,<br>like observation and photons.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When drawing something random like <a href="https://www.youtube.com/watch?v=39kigEnf6bY">hair and its canyons</a>,<br>or <a href="https://www.youtube.com/watch?v=LAIR3c8Q4oE">cables that represent wrinkles in fabric</a>.</p>
  <p>There are simple rules, fundamental, universal, rules,<br>and they will help you with art skill synthesis.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A cable that creates wrinkles in fabric,<br>is round, so you paint it round with shadows.</p>
  <p>And it has some beginning and some end,<br>because the cable is round...</p>
  <p>There will be a round bump,<br>as it goes around a sleeve.</p>
  <p>And as it goes into shadow,<br>it will get darker.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Hair are shiny,<br>they reflect the sun.</p>
  <p>And though hair is flat,<br>there are canyons.</p>
  <p>A concept as abstract and seemingly alien,<br>as cables are to drapery.</p>
  <p>Combined with shine you light the edge,<br>and darken the shadow the deeper the canyon.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This only sounds trivial,<br>because you are familiar with hair and drapery.</p>
  <p>Challenge yourself with something,<br>that you have never studied before.</p>
  <p>Like <a href="https://www.youtube.com/watch?v=8YOmER50epo">Europa’s icy double ridges</a>,<br>woven fabric, or the shied of an alien warrior.</p>
  <p>And you will be surprised,<br>how ever present the fundamental are.</p>
  <p>They are like the primary colors,<br>that let you mix and create the full spectrum of color.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you are challenged by the unknown,<br>gather up the universal fundamentals, and follow the rules of the universe.</p>
  <p><a href="https://www.reddit.com/user/catpea-com/comments/war7bl/hair_bear/">Title Image Close-up</a> and <a href="https://youtu.be/01DwGj1wsJk">Time-lapse</a>.</p>
</div>