<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There are rules to the universe,<br>your art tools do not follow those rules on your canvas.</div>
  <div class="paragraph">You have to make them behave,<br>you have to make the follow the rules of the universe.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">For example, the universe makes<br>colors and shadows random and splotchy.</div>
  <div class="paragraph">Art has no room for flat color,<br>you always need to change a tiny bit.</div>
  <div class="paragraph">Move a little between dark and light,<br>adjust the hue ever so slightly.</div>
  <div class="paragraph">Fluctuate, and bounce,<br>like observation and photons.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When drawing something random like <span>hair and its canyons<sup>[1]</sup></span>,<br>or <span>cables that represent wrinkles in fabric<sup>[2]</sup></span>.</div>
  <div class="paragraph">There are simple rules, fundamental, universal, rules,<br>and they will help you with art skill synthesis.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A cable that creates wrinkles in fabric,<br>is round, so you paint it round with shadows.</div>
  <div class="paragraph">And it has some beginning and some end,<br>because the cable is round...</div>
  <div class="paragraph">There will be a round bump,<br>as it goes around a sleeve.</div>
  <div class="paragraph">And as it goes into shadow,<br>it will get darker.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Hair are shiny,<br>they reflect the sun.</div>
  <div class="paragraph">And though hair is flat,<br>there are canyons.</div>
  <div class="paragraph">A concept as abstract and seemingly alien,<br>as cables are to drapery.</div>
  <div class="paragraph">Combined with shine you light the edge,<br>and darken the shadow the deeper the canyon.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This only sounds trivial,<br>because you are familiar with hair and drapery.</div>
  <div class="paragraph">Challenge yourself with something,<br>that you have never studied before.</div>
  <div class="paragraph">Like <span>Europa’s icy double ridges<sup>[3]</sup></span>,<br>woven fabric, or the shied of an alien warrior.</div>
  <div class="paragraph">And you will be surprised,<br>how ever present the fundamental are.</div>
  <div class="paragraph">They are like the primary colors,<br>that let you mix and create the full spectrum of color.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you are challenged by the unknown,<br>gather up the universal fundamentals, and follow the rules of the universe.</div>
  <div class="paragraph"><span>Title Image Close-up<sup>[4]</sup></span> and <span>Time-lapse<sup>[5]</sup></span>.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=39kigEnf6bY</div>
  <div>[2]: https://www.youtube.com/watch?v=LAIR3c8Q4oE</div>
  <div>[3]: https://www.youtube.com/watch?v=8YOmER50epo</div>
  <div>[4]: https://www.reddit.com/user/catpea-com/comments/war7bl/hair_bear/</div>
  <div>[5]: https://youtu.be/01DwGj1wsJk</div>
</div>