<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Some call it meditation,<br>but I call it happy education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Art is beyond fantastic,<br>art is bombastic!</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Find a way,<br>and start today.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Start with a trace,<br>as learning is not a race.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can do freehand later,<br>for now focus on something greater.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There are so many things to pick,<br>but pick the one that will stick.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Learn to paint long flowing hair,<br>on a fat ass grizzly bear.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or practice eyes,<br>on prairie dogs wearing ties.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Maybe learn to paint clouds,<br>raining meatballs on confused crowds.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can practice fur,<br>on a kitten with a loud purr.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or paint smiley faces,<br>of cheerful ladies with braces.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you need to rest your hand,<br>just draw a man with a singe hair strand.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or if you are in a hurry,<br>just draw a blurry furry.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Running away from wheezing fat cops,<br>and making flapping sounds with her flip flops.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If <strong>I</strong> had to draw something right now,<br>I’d draw a cow freaking out cats with a meow.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And maybe a seagul,<br>on her way to bird school.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or even a fish,<br>that became a mermaid with a wish.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And I’d give them all hats,<br>put them in a singe scene and add more cats.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But it is probably best,<br>to paint one thing at a time, and rest.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Use image reference tool in Krita</a>,<br>learning won’t make you a cheetah.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The point is to start with something fun,<br>so that you can learn a ton.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But wait there is more,<br>as this is way of learning without a mentor.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And meaningful self education is power,<br>here instead of a semester all you need is an hour.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">An hour or two each day,<br>is little more than play.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And you can master anything like that,<br>even <a href="https://www.youtube.com/watch?v=gOgZDUFvk4Y">how to live with a bobcat</a>.</div>
  </div>
</div>