<div class="section">
  <p>Some call it meditation,<br>but I call it happy education.</p>
  <p>Art is beyond fantastic,<br>art is bombastic!</p>
  <p>Find a way,<br>and start today.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Start with a trace,<br>as learning is not a race.</p>
  <p>You can do freehand later,<br>for now focus on something greater.</p>
  <p>There are so many things to pick,<br>but pick the one that will stick.</p>
  <p>Learn to paint long flowing hair,<br>on a fat ass grizzly bear.</p>
  <p>Or practice eyes,<br>on prairie dogs wearing ties.</p>
  <p>Maybe learn to paint clouds,<br>raining meatballs on confused crowds.</p>
  <p>You can practice fur,<br>on a kitten with a loud purr.</p>
  <p>Or paint smiley faces,<br>of cheerful ladies with braces.</p>
  <p>If you need to rest your hand,<br>just draw a man with a singe hair strand.</p>
  <p>Or if you are in a hurry,<br>just draw a blurry furry.</p>
  <p>Running away from wheezing fat cops,<br>and making flapping sounds with her flip flops.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If <strong>I</strong> had to draw something right now,<br>I’d draw a cow freaking out cats with a meow.</p>
  <p>And maybe a seagul,<br>on her way to bird school.</p>
  <p>Or even a fish,<br>that became a mermaid with a wish.</p>
  <p>And I’d give them all hats,<br>put them in a singe scene and add more cats.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But it is probably best,<br>to paint one thing at a time, and rest.</p>
  <p><a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Use image reference tool in Krita</a>,<br>learning won’t make you a cheetah.</p>
  <p>The point is to start with something fun,<br>so that you can learn a ton.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But wait there is more,<br>as this is way of learning without a mentor.</p>
  <p>And meaningful self education is power,<br>here instead of a semester all you need is an hour.</p>
  <p>An hour or two each day,<br>is little more than play.</p>
  <p>And you can master anything like that,<br>even <a href="https://www.youtube.com/watch?v=gOgZDUFvk4Y">how to live with a bobcat</a>.</p>
</div>