<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Some call it meditation,<br>but I call it happy education.</div>
  <div class="paragraph">Art is beyond fantastic,<br>art is bombastic!</div>
  <div class="paragraph">Find a way,<br>and start today.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Start with a trace,<br>as learning is not a race.</div>
  <div class="paragraph">You can do freehand later,<br>for now focus on something greater.</div>
  <div class="paragraph">There are so many things to pick,<br>but pick the one that will stick.</div>
  <div class="paragraph">Learn to paint long flowing hair,<br>on a fat ass grizzly bear.</div>
  <div class="paragraph">Or practice eyes,<br>on prairie dogs wearing ties.</div>
  <div class="paragraph">Maybe learn to paint clouds,<br>raining meatballs on confused crowds.</div>
  <div class="paragraph">You can practice fur,<br>on a kitten with a loud purr.</div>
  <div class="paragraph">Or paint smiley faces,<br>of cheerful ladies with braces.</div>
  <div class="paragraph">If you need to rest your hand,<br>just draw a man with a singe hair strand.</div>
  <div class="paragraph">Or if you are in a hurry,<br>just draw a blurry furry.</div>
  <div class="paragraph">Running away from wheezing fat cops,<br>and making flapping sounds with her flip flops.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If <strong>I</strong> had to draw something right now,<br>I’d draw a cow freaking out cats with a meow.</div>
  <div class="paragraph">And maybe a seagul,<br>on her way to bird school.</div>
  <div class="paragraph">Or even a fish,<br>that became a mermaid with a wish.</div>
  <div class="paragraph">And I’d give them all hats,<br>put them in a singe scene and add more cats.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But it is probably best,<br>to paint one thing at a time, and rest.</div>
  <div class="paragraph"><span>Use image reference tool in Krita<sup>[1]</sup></span>,<br>learning won’t make you a cheetah.</div>
  <div class="paragraph">The point is to start with something fun,<br>so that you can learn a ton.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But wait there is more,<br>as this is way of learning without a mentor.</div>
  <div class="paragraph">And meaningful self education is power,<br>here instead of a semester all you need is an hour.</div>
  <div class="paragraph">An hour or two each day,<br>is little more than play.</div>
  <div class="paragraph">And you can master anything like that,<br>even <span>how to live with a bobcat<sup>[2]</sup></span>.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=0uCH2z_zLmc</div>
  <div>[2]: https://www.youtube.com/watch?v=gOgZDUFvk4Y</div>
</div>