<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In the world of painting, I have finished thee large lessons,<br>on the subject of painting realistic hair.</div>
  <div class="paragraph">In the jewelry world, I must slowly become accustomed to re-meshing,<br>which is rebuilding complex 3D shapes polygon by polygon.</div>
  <div class="paragraph">In the computer world, the audio files have outgrown free services,<br>and I am no longer able to upload old poem recordings.</div>
  <div class="paragraph">In the music world I spent a few moments multiplexing my voice today,<br>I sang a song and applied different filters to make an interesting singing voice.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">All of these are examples of things that call to me,<br>and they are just leaping one over the other.</div>
  <div class="paragraph">I was singing, reviewing <span>gulp<sup>[1]</sup></span> and <span>grunt<sup>[2]</sup></span>,<br>I am setting up a diagram for a new build system right now.</div>
  <div class="paragraph">I was fixing shadows in Purrdy a recent silly painting,<br>I created a <span>new painting<sup>[3]</sup></span> and fixed the <span>timelapse<sup>[4]</sup></span> with ImageMagick commands.</div>
  <div class="paragraph">This is real learning, this is applied education,<br>it is not sorted or categorized, it is just a blast of fun challenges.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But, if I had to sit down and study Microbiology, or, improve my Sushi skills,<br>or learn more about translating mathematical formula to JavaScript...</div>
  <div class="paragraph">Well, that wouldn't be as rich in tasty morsels of talent and knowledge,<br>because that is not calling to me.</div>
  <div class="paragraph">If I was told what to work on,<br>these marvels would act as if they were a distraction.</div>
  <div class="paragraph">And nothing could be further from the truth,<br>the things that call to me, are the education.</div>
  <div class="paragraph">This is how people learned before we had schools,<br>they listened to what is calling to them, and they followed.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And yes, we need schools,<br>but they need to be more advanced.</div>
  <div class="paragraph">Because in the state they are in,<br>they may actually prevent learning for real, and will certainly slow it down.</div>
  <div class="paragraph">Schools need to provide safety, shelter and support,<br>so that a student can begin to dream...</div>
  <div class="paragraph">And then begin following those dreams,<br>in their own sequence at their own speed...</div>
  <div class="paragraph">Until then, the finest, fastest and most powerful education we <strong>can</strong> get,<br>is still self education.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://gulpjs.com/docs/en/getting-started/creating-tasks</div>
  <div>[2]: https://gruntjs.com/creating-tasks</div>
  <div>[3]: https://www.reddit.com/r/redditgetsdrawn/comments/w8d4oa/comment/iia6xyg/?context=3</div>
  <div>[4]: https://youtu.be/3PJ1_MKhXqY</div>
</div>