<div class="section">
  <p>Exercise is easy and there are things that we can learn on our own,<br>for example jogging will give a person larger leg muscles.</p>
  <p>In a way all the world’s joggers are running a massive experiment for you,<br>results of which you can see with our own eyes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Rather than listening to a trainer that says,<br>oh lift this way, that will quickly fill up your shoulder muscles.</p>
  <p>Who may have no idea what he is talking about,<br>or how long it would take, and how long the exercise must last.</p>
  <p>Listen or look at athletes,<br>that look the way you want to look, see what they are up to.</p>
  <p>Their routine presents clear evidence,<br>that gets you from beginning to where you need to be.</p>
  <p>And their workouts seem hard, because they have increased their endurance,<br>they didn’t start working out the way they train today.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You don’t have to jog, bicycle or swim, if you don't like any of it,<br>you can find something similar like <a href="https://www.youtube.com/results?search_query=tutorial+shuffle+dancing+cutting+shapes">dancing</a>, or <a href="https://www.youtube.com/watch?v=hPSvdKTEZug">hiking</a> long distanced with a hefty backpack.</p>
  <p>Ad if you want bigger shoulders, for example, then dance with dumbbells,<br>that is what gyms are for.</p>
  <p>Don’t get discouraged, know that you have to earn your endurance,<br>by slowly increasing the level of your workout.</p>
  <p>The more meaningful your workout,<br>the more easily your body will understand your needs.</p>
  <p>Lift or carry your weights in a way that does not make you stop,<br>keep them at such a weight, that always allows you to continue your workout.</p>
  <p>And continue, to push the limits of your endurance,<br>increasing your endurance is critical to transform your body.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Finally stay safe, don’t bicycle on roads at night, don’t run when your feet are injured,<br>protect your back, hydrate, and don’t lift heavy, as that only increases chances of injury.</p>
  <p>There are no shortcuts where it comes to taking care of yourself,<br>you away take the long road, the life long road, and the most beautiful road.</p>
</div>