<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Real education is about exploring the topics,<br>that both interest you and you feel you are ready for.</div>
  <div class="paragraph">If you are interested in Programming,<br>but feel like doing art, do Art.</div>
  <div class="paragraph">DO the things that your curiosity,<br>is calling you too - do Art.</div>
  <div class="paragraph">Usually you are being called,<br>because you found something...</div>
  <div class="paragraph">That will help you deeper,<br>into the subject.</div>
  <div class="paragraph">We are learners,<br>genetically, artistically, and philosophically.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">A healthy career is like a healthy diet,<br>it will keep you young, happy, you will prosper and live long.</div>
  <div class="paragraph">A good career is so pleasant,<br>that you learn so much, that no one can reproduce your body of knowledge.</div>
  <div class="paragraph">No mind is capable of ever memorizing,<br>what you learned and retained by having fun with complicated stuff.</div>
  <div class="paragraph">When you learn Perl Regular Expressions for example,<br>you learn it because you tried to program something like it and saw the challenge of it.</div>
  <div class="paragraph">When you approach regular expression you are excited,<br>because it has been done well for you...</div>
  <div class="paragraph">Because it is WELL worth your time,<br>and you will always use it, and never EVER, EVER, forget how it works.</div>
  <div class="paragraph">It is stupid to even mention,<br>forgetting how to work with RegEx, because it is a badge of honor - a curious curiosity.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If someone tries to be like you,<br>they will say "They will say, OK, it is time to read the RegEx chapter".</div>
  <div class="paragraph">And it will be like consuming paper,<br>they'll figure it out, it is not that hard, but it will be meaningless to them.</div>
  <div class="paragraph">It will not be a point of pride, it will not be a neat curiosity,<br>it will be just another chapter, they will nether notice when they forget it, nor ever miss it.</div>
  <div class="paragraph">Having fun,<br>is a critical part of education.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Hackers do it right,<br>they create what to us look like seemingly pointless inventions.</div>
  <div class="paragraph">But what is really going on, is that they are overjoyed as they are having fun,<br>their information retention is inhuman.</div>
  <div class="paragraph">The more they know, the more fun they have, they faster they learn,<br>the more fluid and correct they are at synthesizing flawless new knowledge.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">That is how you built your career, inside out,<br>out of knowledge.</div>
  <div class="paragraph">Going to an expensive college and making connections,<br>is such a poor substitute for what hackers do, that the graduates are by contrast, somewhat disabled.</div>
  <div class="paragraph">They think they know, they think they can make those phone calls,<br>they think they have a pretty god damn good diploma, they think they have a good job.</div>
  <div class="paragraph">They think they'll pay their loans soon enough,<br>they think they have done pretty well</div>
  <div class="paragraph">They think they got everything,<br>because they think they've done everything right.</div>
  <div class="paragraph">Thinking that you are educated,<br>and actually being educated.</div>
  <div class="paragraph">Are, polar opposites,<br>one is a lie, the other, authentic.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you ever get an opportunity to do so,<br>re-test the graduates.</div>
  <div class="paragraph">And then divide the knowledge that they did seem retain,<br>into what they have learned on their own, and what they have been successfully been taught by teachers.</div>
  <div class="paragraph">This will help with reconstituting the schools,<br>and as a bonus there is probably a Prize in that too.</div>
  <div class="paragraph">I half jokingly say, that students don't need loan forgiveness,<br>they need a refund.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Your career is something you can take on the road with you,<br>in that it is not a crushing weight, but part of your lasting contribution to human kind.</div>
  <div class="paragraph">And yes all of this is much harder,<br>than Office and a Paycheck.</div>
  <div class="paragraph">That is why it is so easy to power a positions with human beings for decades at a time,<br>where the company makes a dollar and they make a dime.</div>
  <div class="paragraph">Poverty is something we must repair,<br>we have to resit being pushed into servitude.</div>
  <div class="paragraph">Our minds are meant to flourish,<br>Humanity is meant to Advance.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Soon you may discover, that the wold is no longer capable of adopting something like the Montreal Protocol,<br>then it will occur to you that if the Ozone Hole was to occur during your life time, the would not be able to reach a consensus in time.</div>
  <div class="paragraph">Thus, I repeat, we need real education and a powerful end to poverty, our minds are meant to flourish,<br>Humanity is meant to Advance, and you are meant to become a Great Being.</div>
</div>