<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Comprehension requires correct materials,<br>which is to say materials structured around easy on-ramps.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are not mechanical robots, we are poets and dreamers,<br>we need captivating access to a subject.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Learning for real requires individualized instruction,<br>which is respectful of sequence that agrees with the student.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And moves at the correct pace that isn't overwhelming,<br>at a pace that the student is comfortable with.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Teaching and Learning both belong to the same form of art,<br>it is the Art Of Knowledge.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Up until smartphones, individualized instruction,<br>meant competent and knowledgeable tutors.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A tutor <strong>must be</strong> knowledgeable,<br>so that they can customize their instruction plan.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Every student will have a different way of learning,<br>and will be equipped with unique tools for thinking.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In school, instruction became so incomprehensible,<br>because it is one tutor (or teacher) per multiple students.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This cannot work, the job of a teacher is impossible,<br>it can only result in them forcing the student to memorize, to role-playing education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This means standardized instruction is not customized to match anybody's understanding,<br>but rather it is cut up into an easy to memorize disconnected soup.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This witches brew, is then used to satisfy state assessment,<br>which is created (directly or indirectly) to match this disgraceful instruction.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">State tests must match what schools are teaching,<br>or none of the tests will work.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">We have to work on our world,<br>we have to fix education, because it is out most important invention.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The path to making the necessary repairs starts with authentic self education,<br>which already, in the first, year, will have enormous impact on the person's mind.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It takes as little as a hundred life-changing narrated books,<br>to lift a person, to upgrade and modernize their operating system, decision making, knowledge and wisdom.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is that 100, and later, 1,000, and later, more than 10,000 books,<br>that begins helping us shape our civilization into its best version of it self.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Authentic and powerful self education, by means of inheriting countless lifetimes of wisdom from thousands and thousands of books,<br>is the first step towards a wiser, and more compassionate and caring world.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And once we get there,<br>we will know the next step after that.</div>
  </div>
</div>