<div class="section">
  <p>Comprehension requires correct materials,<br>which is to say materials structured around easy on-ramps.</p>
  <p>We are not mechanical robots, we are poets and dreamers,<br>we need captivating access to a subject.</p>
  <p>Learning for real requires individualized instruction,<br>which is respectful of sequence that agrees with the student.</p>
  <p>And moves at the correct pace that isn't overwhelming,<br>at a pace that the student is comfortable with.</p>
  <p>Teaching and Learning both belong to the same form of art,<br>it is the Art Of Knowledge.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Up until smartphones, individualized instruction,<br>meant competent and knowledgeable tutors.</p>
  <p>A tutor <strong>must be</strong> knowledgeable,<br>so that they can customize their instruction plan.</p>
  <p>Every student will have a different way of learning,<br>and will be equipped with unique tools for thinking.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In school, instruction became so incomprehensible,<br>because it is one tutor (or teacher) per multiple students.</p>
  <p>This cannot work, the job of a teacher is impossible,<br>it can only result in them forcing the student to memorize, to role-playing education.</p>
  <p>This means standardized instruction is not customized to match anybody's understanding,<br>but rather it is cut up into an easy to memorize disconnected soup.</p>
  <p>This witches brew, is then used to satisfy state assessment,<br>which is created (directly or indirectly) to match this disgraceful instruction.</p>
  <p>State tests must match what schools are teaching,<br>or none of the tests will work.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>We have to work on our world,<br>we have to fix education, because it is out most important invention.</p>
  <p>The path to making the necessary repairs starts with authentic self education,<br>which already, in the first, year, will have enormous impact on the person's mind.</p>
  <p>It takes as little as a hundred life-changing narrated books,<br>to lift a person, to upgrade and modernize their operating system, decision making, knowledge and wisdom.</p>
  <p>It is that 100, and later, 1,000, and later, more than 10,000 books,<br>that begins helping us shape our civilization into its best version of it self.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Authentic and powerful self education, by means of inheriting countless lifetimes of wisdom from thousands and thousands of books,<br>is the first step towards a wiser, and more compassionate and caring world.</p>
  <p>And once we get there,<br>we will know the next step after that.</p>
</div>