<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Some years ago, Mother Nature,<br>along with her woodland nomenclature...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">On a very pretty day -<br>Asked me if I wanted to stay.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">No - said I - re-reading Crusoe,<br>No, Mother I don’t think so.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It was my last few days in my little wilderness,<br>and I nether felt regret nor sweet bitterness.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I read and re-read all my books,<br>and wanted to return, to work on my good looks.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">On my way back,<br>whilst crunching on my last snack.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I did pause half-way,<br>But, I don’t really think about that day.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I figured it was not an invitation,<br>to extend my extravagant vacation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I it was a life challenge, a quest,<br>for whatever reason Mother Nature’s test.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The memories I do revisit,<br>are always silly and moonlit.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is really strange to be out there,<br>dark in the middle of nowhere.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So those memories stick with you the most,<br>and somehow for me it was always the coast.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I am almost not a fan of the Baltic sea,<br>as no one would just let me be.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Everyone always wanted to leave,<br>and I only remember one magical eve.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I was really little, out on vacation,<br>out on a balcony in some celebration.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And I discovered I could see the blinking light,<br>of the Hel Peninsula, if I squinted just right.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">So I knew, there was more to the sea,<br>than it was being shown to me.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But then we had to pack without complain,<br>because the sea was not out Domain.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">That is why I like my vacations long,<br>long enough to pretend like I belong.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">“Native son, almost born right here, Dear,<br>I lived in a tent for for sixth of a year.”</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Great Lakes and Nordhouse Dunes are super nice,<br>it truly is some kind of unique paradise.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are not really lakes, at least not for me,<br>I think of them as the great American Sea.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is the sea, that I could finally really see,<br>without anybody chasing me.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The moonlit nights are the best,<br>but my Seagull friends also made me feel blessed.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They would keep me company to the very end,<br>truly a Man’s greatest sea friend.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I think, maybe,<br>Seagulls are the cats of the sea.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Once we make out way back to Civilization,<br>we experience some kind of graduation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We become wiser and strong,<br>and Mother Nature always reminds us that we belong.</div>
  </div>
</div>