<div class="section">
  <p>Some years ago, Mother Nature,<br>along with her woodland nomenclature...</p>
  <p>On a very pretty day -<br>Asked me if I wanted to stay.</p>
  <p>No - said I - re-reading Crusoe,<br>No, Mother I don’t think so.</p>
  <p>It was my last few days in my little wilderness,<br>and I nether felt regret nor sweet bitterness.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I read and re-read all my books,<br>and wanted to return, to work on my good looks.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>On my way back,<br>whilst crunching on my last snack.</p>
  <p>I did pause half-way,<br>But, I don’t really think about that day.</p>
  <p>I figured it was not an invitation,<br>to extend my extravagant vacation.</p>
  <p>I it was a life challenge, a quest,<br>for whatever reason Mother Nature’s test.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The memories I do revisit,<br>are always silly and moonlit.</p>
  <p>It is really strange to be out there,<br>dark in the middle of nowhere.</p>
  <p>So those memories stick with you the most,<br>and somehow for me it was always the coast.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I am almost not a fan of the Baltic sea,<br>as no one would just let me be.</p>
  <p>Everyone always wanted to leave,<br>and I only remember one magical eve.</p>
  <p>I was really little, out on vacation,<br>out on a balcony in some celebration.</p>
  <p>And I discovered I could see the blinking light,<br>of the Hel Peninsula, if I squinted just right.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>So I knew, there was more to the sea,<br>than it was being shown to me.</p>
  <p>But then we had to pack without complain,<br>because the sea was not out Domain.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>That is why I like my vacations long,<br>long enough to pretend like I belong.</p>
  <p>“Native son, almost born right here, Dear,<br>I lived in a tent for for sixth of a year.”</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Great Lakes and Nordhouse Dunes are super nice,<br>it truly is some kind of unique paradise.</p>
  <p>They are not really lakes, at least not for me,<br>I think of them as the great American Sea.</p>
  <p>It is the sea, that I could finally really see,<br>without anybody chasing me.</p>
  <p>The moonlit nights are the best,<br>but my Seagull friends also made me feel blessed.</p>
  <p>They would keep me company to the very end,<br>truly a Man’s greatest sea friend.</p>
  <p>I think, maybe,<br>Seagulls are the cats of the sea.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Once we make out way back to Civilization,<br>we experience some kind of graduation.</p>
  <p>We become wiser and strong,<br>and Mother Nature always reminds us that we belong.</p>
</div>