<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Some years ago, Mother Nature,<br>along with her woodland nomenclature...</div>
  <div class="paragraph">On a very pretty day -<br>Asked me if I wanted to stay.</div>
  <div class="paragraph">No - said I - re-reading Crusoe,<br>No, Mother I don’t think so.</div>
  <div class="paragraph">It was my last few days in my little wilderness,<br>and I nether felt regret nor sweet bitterness.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I read and re-read all my books,<br>and wanted to return, to work on my good looks.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">On my way back,<br>whilst crunching on my last snack.</div>
  <div class="paragraph">I did pause half-way,<br>But, I don’t really think about that day.</div>
  <div class="paragraph">I figured it was not an invitation,<br>to extend my extravagant vacation.</div>
  <div class="paragraph">I it was a life challenge, a quest,<br>for whatever reason Mother Nature’s test.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The memories I do revisit,<br>are always silly and moonlit.</div>
  <div class="paragraph">It is really strange to be out there,<br>dark in the middle of nowhere.</div>
  <div class="paragraph">So those memories stick with you the most,<br>and somehow for me it was always the coast.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I am almost not a fan of the Baltic sea,<br>as no one would just let me be.</div>
  <div class="paragraph">Everyone always wanted to leave,<br>and I only remember one magical eve.</div>
  <div class="paragraph">I was really little, out on vacation,<br>out on a balcony in some celebration.</div>
  <div class="paragraph">And I discovered I could see the blinking light,<br>of the Hel Peninsula, if I squinted just right.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">So I knew, there was more to the sea,<br>than it was being shown to me.</div>
  <div class="paragraph">But then we had to pack without complain,<br>because the sea was not out Domain.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">That is why I like my vacations long,<br>long enough to pretend like I belong.</div>
  <div class="paragraph">“Native son, almost born right here, Dear,<br>I lived in a tent for for sixth of a year.”</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Great Lakes and Nordhouse Dunes are super nice,<br>it truly is some kind of unique paradise.</div>
  <div class="paragraph">They are not really lakes, at least not for me,<br>I think of them as the great American Sea.</div>
  <div class="paragraph">It is the sea, that I could finally really see,<br>without anybody chasing me.</div>
  <div class="paragraph">The moonlit nights are the best,<br>but my Seagull friends also made me feel blessed.</div>
  <div class="paragraph">They would keep me company to the very end,<br>truly a Man’s greatest sea friend.</div>
  <div class="paragraph">I think, maybe,<br>Seagulls are the cats of the sea.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Once we make out way back to Civilization,<br>we experience some kind of graduation.</div>
  <div class="paragraph">We become wiser and strong,<br>and Mother Nature always reminds us that we belong.</div>
</div>