<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Human nature is about safety,<br>and growing up.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Within a culture of wisdom and reason,<br>growing up becomes about growing all the way up until a person becomes a great being.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Nurture,<br>there is no nurture, not yet - not at home, not in the school or neighborhood, or the greater world.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">War, broken schools, broken politics and chaining ourselves with poverty is all the proof you need,<br>to grasp that Humanity is too young; to have developed enough - to be capable of nurture.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Keeping generations after generations,<br>chained by poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Sending criminals with warped minds into cages,<br>rather than repairing their culture, warping it even more.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Having imagined a rule,<br>that war is somehow acceptable and not a crime.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And having destroyed the promise of real education,<br>just to replace it with an easy paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Humanity,<br>is yet incapable of nurture.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">In our homes we are told that war is what men do,<br>that work will set us free.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To go into military,<br>and believe all the lies, ignoring all the truths.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that, the good stuff,<br>begins after death.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not to mention all the bat shit crazy stuff,<br>that can’t fit a poem.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">No,<br>not yet capable of Nurture.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Today, only you can pull yourself up,<br>once you do become a great being.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You won’t find the ultimate answers,<br>but rather, that everyone is misinformed, moving in a different direction.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is not freedom, or choice,<br>this is lack of real education twisted into us with poverty.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Education is not about noise,<br>is not about having learned stuff class after class.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Let me define education for you,<br>it is life long, and profound, where each set of lectures helps you develop a new talent.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you don’t have a new well rounded and brilliant talent,<br>by the time the lectures come to a close, you have been tricked.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not something that feels like a talent,<br>not something that you could totally pull off if you wanted to.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But an actual new talent, where a person noticing you work,<br>will say, wow, you are very talented.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When a programming class does not make you a programmer,<br>you have been lied to and tricked.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When an Art class fails to enable you to Paint perfect Hyper-realism and stylized portraits,<br>the teacher just made a fool out of you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you don’t leave a 3D modeling class with a printed doodad that you built vertices first,<br>your teacher is a fraud, the dean is a fraud, and the entire institution just want your money.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The human nature when not poisoned is to rise,<br>to stand in relentless pursuit of knowledge and wisdom.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To grow, to grow all the way up,<br>until we each become a great being.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That is our nature,<br>and it is all too easily warped by what we grow up in - and that is a tragedy.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">To bring about the culture of profound nurture,<br>you must accept the responsibility for your own education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That means, begin searching for things that call to you,<br>and having a wonderful time slowly turning a curiosity into a talent.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Only when you become truly self educated,<br>full of countless talents that ad up to more than just their sum.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Will you - in your wisdom - become part of the necessary change,<br>and eventually help the world focus on nurturing people towards knowledge, wisdom, and greatness.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Only then will we be able to debate, the topics of nature and nurture,<br>in a way that does not make us look ridiculous to the teacher who is just waiting for their next paycheck.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A paycheck cut from the fraud,<br>of taking the savings of the unsuspecting younger generations, and placing them in life long debt.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Remember, a new talent, by the end of the last lecture,<br>rise, and stop allowing the teachers make a fool out of you.</div>
  </div>
</div>