<div class="section">
  <p>Human nature is about safety,<br>and growing up.</p>
  <p>Within a culture of wisdom and reason,<br>growing up becomes about growing all the way up until a person becomes a great being.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Nurture,<br>there is no nurture, not yet - not at home, not in the school or neighborhood, or the greater world.</p>
  <p>War, broken schools, broken politics and chaining ourselves with poverty is all the proof you need,<br>to grasp that Humanity is too young; to have developed enough - to be capable of nurture.</p>
  <p>Keeping generations after generations,<br>chained by poverty.</p>
  <p>Sending criminals with warped minds into cages,<br>rather than repairing their culture, warping it even more.</p>
  <p>Having imagined a rule,<br>that war is somehow acceptable and not a crime.</p>
  <p>And having destroyed the promise of real education,<br>just to replace it with an easy paycheck.</p>
  <p>Humanity,<br>is yet incapable of nurture.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In our homes we are told that war is what men do,<br>that work will set us free.</p>
  <p>To go into military,<br>and believe all the lies, ignoring all the truths.</p>
  <p>And that, the good stuff,<br>begins after death.</p>
  <p>Not to mention all the bat shit crazy stuff,<br>that can’t fit a poem.</p>
  <p>No,<br>not yet capable of Nurture.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Today, only you can pull yourself up,<br>once you do become a great being.</p>
  <p>You won’t find the ultimate answers,<br>but rather, that everyone is misinformed, moving in a different direction.</p>
  <p>This is not freedom, or choice,<br>this is lack of real education twisted into us with poverty.</p>
  <p>Education is not about noise,<br>is not about having learned stuff class after class.</p>
  <p>Let me define education for you,<br>it is life long, and profound, where each set of lectures helps you develop a new talent.</p>
  <p>If you don’t have a new well rounded and brilliant talent,<br>by the time the lectures come to a close, you have been tricked.</p>
  <p>Not something that feels like a talent,<br>not something that you could totally pull off if you wanted to.</p>
  <p>But an actual new talent, where a person noticing you work,<br>will say, wow, you are very talented.</p>
  <p>When a programming class does not make you a programmer,<br>you have been lied to and tricked.</p>
  <p>When an Art class fails to enable you to Paint perfect Hyper-realism and stylized portraits,<br>the teacher just made a fool out of you.</p>
  <p>If you don’t leave a 3D modeling class with a printed doodad that you built vertices first,<br>your teacher is a fraud, the dean is a fraud, and the entire institution just want your money.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The human nature when not poisoned is to rise,<br>to stand in relentless pursuit of knowledge and wisdom.</p>
  <p>To grow, to grow all the way up,<br>until we each become a great being.</p>
  <p>That is our nature,<br>and it is all too easily warped by what we grow up in - and that is a tragedy.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>To bring about the culture of profound nurture,<br>you must accept the responsibility for your own education.</p>
  <p>That means, begin searching for things that call to you,<br>and having a wonderful time slowly turning a curiosity into a talent.</p>
  <p>Only when you become truly self educated,<br>full of countless talents that ad up to more than just their sum.</p>
  <p>Will you - in your wisdom - become part of the necessary change,<br>and eventually help the world focus on nurturing people towards knowledge, wisdom, and greatness.</p>
  <p>Only then will we be able to debate, the topics of nature and nurture,<br>in a way that does not make us look ridiculous to the teacher who is just waiting for their next paycheck.</p>
  <p>A paycheck cut from the fraud,<br>of taking the savings of the unsuspecting younger generations, and placing them in life long debt.</p>
  <p>Remember, a new talent, by the end of the last lecture,<br>rise, and stop allowing the teachers make a fool out of you.</p>
</div>