<div class="section">
  <p>The ancient myth goes that a young lady from an ancient city,<br>had a kitten so beautiful, that she decided to master art.</p>
  <p>She went to the village known for art,<br>and asked the wisest person there haw to become a master.</p>
  <p>He said, you must meditate,<br>to answer your own question.</p>
  <p>“When you are ready,<br>come and see me”</p>
  <p>She patiently invented <a href="https://www.youtube.com/watch?v=wiUFUHdNIsM">sight size</a>, with little more than a stick,<br>and return to tell the wise man.</p>
  <p>The wise man said, that a true artist does not need a stick,<br>and that she should meditate again.</p>
  <p>So she carefully invented the first <a href="https://www.youtube.com/watch?v=nEZMKc0nMAg">proportional divider</a>,<br>and the wise man sent her away again saying, complex tools are not required.</p>
  <p>Upon days of meditation, and a failed experiment when she drew on someones face,<br>she invented the <a href="https://www.youtube.com/watch?v=bKtURFkwX6k">grid method</a>, and yet again the wise man sent her away.</p>
  <p>She is known to invent <a href="https://www.youtube.com/watch?v=DZV9LPZV-T4">graphite paper</a>, the <a href="https://www.youtube.com/watch?v=Is-MvKg54e4">viewing frame</a> with a thread in a diamond pattern,<br>later used by Vincent van Gogh...</p>
  <p>She created the first <a href="https://www.youtube.com/watch?v=cuwvMuVv9qE">light box</a>, and followed up with <a href="https://www.youtube.com/watch?v=RYvl6t0N94E">camera obscura</a>,<br>that centuries later would ignite the <a href="https://www.youtube.com/watch?v=Q0ZvWedVp20">start of the Renaissance Period</a>.</p>
  <p>Her inventions led to the creation of the <a href="https://www.youtube.com/watch?v=S16g2qiYw7w">wall projector</a> and even today’s,<br><a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Reference Images tool in Krita</a>.</p>
  <p>Finally, she walked up to the master, stretched out her hand,<br>to show that one only needs the [thumb][thumb] to measure accurately.</p>
  <p>But the wise man, yet again,<br>rejected her answer.</p>
  <p>And in that moment, she finally understood what she needed to do,<br>she called the wise man out in front of the entire damn village, and beat his ass.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And the moral of the story is, that those who stand in the way of art,<br>be it to belittle, profit, or pretend to be wise - will only be remembered as damn fools.</p>
</div>