<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The ancient myth goes that a young lady from an ancient city,<br>had a kitten so beautiful, that she decided to master art.</div>
  <div class="paragraph">She went to the village known for art,<br>and asked the wisest person there haw to become a master.</div>
  <div class="paragraph">He said, you must meditate,<br>to answer your own question.</div>
  <div class="paragraph">“When you are ready,<br>come and see me”</div>
  <div class="paragraph">She patiently invented <span>sight size<sup>[1]</sup></span>, with little more than a stick,<br>and return to tell the wise man.</div>
  <div class="paragraph">The wise man said, that a true artist does not need a stick,<br>and that she should meditate again.</div>
  <div class="paragraph">So she carefully invented the first <span>proportional divider<sup>[2]</sup></span>,<br>and the wise man sent her away again saying, complex tools are not required.</div>
  <div class="paragraph">Upon days of meditation, and a failed experiment when she drew on someones face,<br>she invented the <span>grid method<sup>[3]</sup></span>, and yet again the wise man sent her away.</div>
  <div class="paragraph">She is known to invent <span>graphite paper<sup>[4]</sup></span>, the <span>viewing frame<sup>[5]</sup></span> with a thread in a diamond pattern,<br>later used by Vincent van Gogh...</div>
  <div class="paragraph">She created the first <span>light box<sup>[6]</sup></span>, and followed up with <span>camera obscura<sup>[7]</sup></span>,<br>that centuries later would ignite the <span>start of the Renaissance Period<sup>[8]</sup></span>.</div>
  <div class="paragraph">Her inventions led to the creation of the <span>wall projector<sup>[9]</sup></span> and even today’s,<br><span>Reference Images tool in Krita<sup>[10]</sup></span>.</div>
  <div class="paragraph">Finally, she walked up to the master, stretched out her hand,<br>to show that one only needs the [thumb][thumb] to measure accurately.</div>
  <div class="paragraph">But the wise man, yet again,<br>rejected her answer.</div>
  <div class="paragraph">And in that moment, she finally understood what she needed to do,<br>she called the wise man out in front of the entire damn village, and beat his ass.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And the moral of the story is, that those who stand in the way of art,<br>be it to belittle, profit, or pretend to be wise - will only be remembered as damn fools.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=wiUFUHdNIsM</div>
  <div>[2]: https://www.youtube.com/watch?v=nEZMKc0nMAg</div>
  <div>[3]: https://www.youtube.com/watch?v=bKtURFkwX6k</div>
  <div>[4]: https://www.youtube.com/watch?v=DZV9LPZV-T4</div>
  <div>[5]: https://www.youtube.com/watch?v=Is-MvKg54e4</div>
  <div>[6]: https://www.youtube.com/watch?v=cuwvMuVv9qE</div>
  <div>[7]: https://www.youtube.com/watch?v=RYvl6t0N94E</div>
  <div>[8]: https://www.youtube.com/watch?v=Q0ZvWedVp20</div>
  <div>[9]: https://www.youtube.com/watch?v=S16g2qiYw7w</div>
  <div>[10]: https://www.youtube.com/watch?v=0uCH2z_zLmc</div>
</div>