<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The reason why coloring a face is difficult,<br>is because there is no one single color.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Wherever you look,<br>the hue is slightly different.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Same applies,<br>to special effects.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When painting a face red for example,<br>you must constantly shift hue.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must avoid,<br>using the same color twice.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Rules that make the nose red,<br>and lower face shift to blue, are too simple.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are for highly controlled portraits,<br>shot in a clean-room with precise lighting.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you are just learning,<br>use the color pick.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But, you will notice,<br>that it is OK to semi-randomly shift the hue as well.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Coloring is such a random,<br>and chaotic process.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That you can copy colors,<br>from a similar source image.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One with a color scheme,<br>that you prefer.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The more you stray,<br>from your or reference image...</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The more your brain will alert you,<br>that something is wrong with the light.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In Hyperrealism the portrait,<br>and the source image, are a pair, they must keep together.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But you can transform,<br>your source image.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is a large collection of filters that come with <a href="https://www.youtube.com/watch?v=-Nwylglrv7M">G’MIC</a>,<br>which should come with Krita and GIMP.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you do all your color adjustments ahead of time,<br>you get a solid preview, and eliminate all the surprises.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, I want to remind,<br>that you must always start with a neat sketch.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In fact you should make ti so that it can stand on it own,<br>as a simple work of art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Then you remove all the colors from your source image,<br>and paint a black and white version.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And only then you add a new layer,<br>set the mode to Color, and paint away.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The color mode, uses the values,<br>from the underlying black and white image.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You pick the hue,<br>but the color layer will take care of the value.</div>
  </div>
</div>