<div class="section">
  <p>The reason why coloring a face is difficult,<br>is because there is no one single color.</p>
  <p>Wherever you look,<br>the hue is slightly different.</p>
  <p>Same applies,<br>to special effects.</p>
  <p>When painting a face red for example,<br>you must constantly shift hue.</p>
  <p>You must avoid,<br>using the same color twice.</p>
  <p>Rules that make the nose red,<br>and lower face shift to blue, are too simple.</p>
  <p>They are for highly controlled portraits,<br>shot in a clean-room with precise lighting.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you are just learning,<br>use the color pick.</p>
  <p>But, you will notice,<br>that it is OK to semi-randomly shift the hue as well.</p>
  <p>Coloring is such a random,<br>and chaotic process.</p>
  <p>That you can copy colors,<br>from a similar source image.</p>
  <p>One with a color scheme,<br>that you prefer.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The more you stray,<br>from your or reference image...</p>
  <p>The more your brain will alert you,<br>that something is wrong with the light.</p>
  <p>In Hyperrealism the portrait,<br>and the source image, are a pair, they must keep together.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But you can transform,<br>your source image.</p>
  <p>There is a large collection of filters that come with <a href="https://www.youtube.com/watch?v=-Nwylglrv7M">G’MIC</a>,<br>which should come with Krita and GIMP.</p>
  <p>When you do all your color adjustments ahead of time,<br>you get a solid preview, and eliminate all the surprises.</p>
  <p>Finally, I want to remind,<br>that you must always start with a neat sketch.</p>
  <p>In fact you should make ti so that it can stand on it own,<br>as a simple work of art.</p>
  <p>Then you remove all the colors from your source image,<br>and paint a black and white version.</p>
  <p>And only then you add a new layer,<br>set the mode to Color, and paint away.</p>
  <p>The color mode, uses the values,<br>from the underlying black and white image.</p>
  <p>You pick the hue,<br>but the color layer will take care of the value.</p>
</div>