<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The reason why coloring a face is difficult,<br>is because there is no one single color.</div>
  <div class="paragraph">Wherever you look,<br>the hue is slightly different.</div>
  <div class="paragraph">Same applies,<br>to special effects.</div>
  <div class="paragraph">When painting a face red for example,<br>you must constantly shift hue.</div>
  <div class="paragraph">You must avoid,<br>using the same color twice.</div>
  <div class="paragraph">Rules that make the nose red,<br>and lower face shift to blue, are too simple.</div>
  <div class="paragraph">They are for highly controlled portraits,<br>shot in a clean-room with precise lighting.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you are just learning,<br>use the color pick.</div>
  <div class="paragraph">But, you will notice,<br>that it is OK to semi-randomly shift the hue as well.</div>
  <div class="paragraph">Coloring is such a random,<br>and chaotic process.</div>
  <div class="paragraph">That you can copy colors,<br>from a similar source image.</div>
  <div class="paragraph">One with a color scheme,<br>that you prefer.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The more you stray,<br>from your or reference image...</div>
  <div class="paragraph">The more your brain will alert you,<br>that something is wrong with the light.</div>
  <div class="paragraph">In Hyperrealism the portrait,<br>and the source image, are a pair, they must keep together.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">But you can transform,<br>your source image.</div>
  <div class="paragraph">There is a large collection of filters that come with <span>G’MIC<sup>[1]</sup></span>,<br>which should come with Krita and GIMP.</div>
  <div class="paragraph">When you do all your color adjustments ahead of time,<br>you get a solid preview, and eliminate all the surprises.</div>
  <div class="paragraph">Finally, I want to remind,<br>that you must always start with a neat sketch.</div>
  <div class="paragraph">In fact you should make ti so that it can stand on it own,<br>as a simple work of art.</div>
  <div class="paragraph">Then you remove all the colors from your source image,<br>and paint a black and white version.</div>
  <div class="paragraph">And only then you add a new layer,<br>set the mode to Color, and paint away.</div>
  <div class="paragraph">The color mode, uses the values,<br>from the underlying black and white image.</div>
  <div class="paragraph">You pick the hue,<br>but the color layer will take care of the value.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=-Nwylglrv7M</div>
</div>