<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When it comes to a Bush Baby,<br>the answer is <strong>never</strong> maybe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They are as audacious,<br>as their world is spacious.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And they are really smart,<br>as they encourage us to art.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">They know you will try to paint one,<br>and become an artist before you are done.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that in turn,<br>teaches you how to really learn.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Real education,<br>is important to every nation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And if your schools are gone,<br>art teaches you to learn on your own.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Bush babies are what the world needs,<br>because they really help the kids.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">School teaches we are dumb,<br>and need to get an income.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But with art,<br>we have proof that we are smart.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that we are meant to grow,<br>not just put up a show.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Those who grow to no end,<br>never have to pretend.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The future ahead will grow brighter,<br>and all our worries will become lighter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">With real education as the norm,<br>will avoid every storm.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The truly educated will finally fix,<br>all the world’s politics.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Poverty will end too,<br>the world will be more authentic and true.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It will move to converge on wisdom and peace,<br>and all the fighting will cease.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">This communication was paid for by the Bush Baby Society of America and the Bush Family. I am part Bush Baby by Evolution and President of My Office Of The Land,<br>and I approve this message on behalf of all bush babies. The top contributors of Bush Baby For President 2024 are <a href="https://www.youtube.com/watch?v=7yeA7a0uS3A&t=4s">He-Man</a> and the <a href="https://www.youtube.com/watch?v=WaSUyYSQie8">Gopher from Caddyshack</a>.</div>
  </div>
</div>