<div class="section">
  <p>When it comes to a Bush Baby,<br>the answer is <strong>never</strong> maybe.</p>
  <p>They are as audacious,<br>as their world is spacious.</p>
  <p>And they are really smart,<br>as they encourage us to art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>They know you will try to paint one,<br>and become an artist before you are done.</p>
  <p>And that in turn,<br>teaches you how to really learn.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Real education,<br>is important to every nation.</p>
  <p>And if your schools are gone,<br>art teaches you to learn on your own.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Bush babies are what the world needs,<br>because they really help the kids.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>School teaches we are dumb,<br>and need to get an income.</p>
  <p>But with art,<br>we have proof that we are smart.</p>
  <p>And that we are meant to grow,<br>not just put up a show.</p>
  <p>Those who grow to no end,<br>never have to pretend.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The future ahead will grow brighter,<br>and all our worries will become lighter.</p>
  <p>With real education as the norm,<br>will avoid every storm.</p>
  <p>The truly educated will finally fix,<br>all the world’s politics.</p>
  <p>Poverty will end too,<br>the world will be more authentic and true.</p>
  <p>It will move to converge on wisdom and peace,<br>and all the fighting will cease.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>This communication was paid for by the Bush Baby Society of America and the Bush Family. I am part Bush Baby by Evolution and President of My Office Of The Land,<br>and I approve this message on behalf of all bush babies. The top contributors of Bush Baby For President 2024 are <a href="https://www.youtube.com/watch?v=7yeA7a0uS3A&t=4s">He-Man</a> and the <a href="https://www.youtube.com/watch?v=WaSUyYSQie8">Gopher from Caddyshack</a>.</p>
</div>