<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When it comes to a Bush Baby,<br>the answer is <strong>never</strong> maybe.</div>
  <div class="paragraph">They are as audacious,<br>as their world is spacious.</div>
  <div class="paragraph">And they are really smart,<br>as they encourage us to art.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">They know you will try to paint one,<br>and become an artist before you are done.</div>
  <div class="paragraph">And that in turn,<br>teaches you how to really learn.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Real education,<br>is important to every nation.</div>
  <div class="paragraph">And if your schools are gone,<br>art teaches you to learn on your own.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Bush babies are what the world needs,<br>because they really help the kids.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">School teaches we are dumb,<br>and need to get an income.</div>
  <div class="paragraph">But with art,<br>we have proof that we are smart.</div>
  <div class="paragraph">And that we are meant to grow,<br>not just put up a show.</div>
  <div class="paragraph">Those who grow to no end,<br>never have to pretend.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The future ahead will grow brighter,<br>and all our worries will become lighter.</div>
  <div class="paragraph">With real education as the norm,<br>will avoid every storm.</div>
  <div class="paragraph">The truly educated will finally fix,<br>all the world’s politics.</div>
  <div class="paragraph">Poverty will end too,<br>the world will be more authentic and true.</div>
  <div class="paragraph">It will move to converge on wisdom and peace,<br>and all the fighting will cease.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">This communication was paid for by the Bush Baby Society of America and the Bush Family. I am part Bush Baby by Evolution and President of My Office Of The Land,<br>and I approve this message on behalf of all bush babies. The top contributors of Bush Baby For President 2024 are <span>He-Man<sup>[1]</sup></span> and the <span>Gopher from Caddyshack<sup>[2]</sup></span>.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=7yeA7a0uS3A&t=4s</div>
  <div>[2]: https://www.youtube.com/watch?v=WaSUyYSQie8</div>
</div>