<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Schools can't teach, you can't learn at a pace that does not match you,<br>and you can't learn if you go in a sequence other than your own.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You can't learn if it in not interesting,<br>and you can't learn if it is not one of your curiosities.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When you graduate you will face an interview,<br>and an interview that is worthy of you, requires that you have real and functional knowledge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Not just some combination of neatly arranged facts,<br>but a body of functioning knowledge that combines to give you exceptional abilities.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Exceptional ability has to do with your speed of learning new things,<br>and your speed of delivery of solid, valid projects.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And you will need to prove it with a portfolio,<br>Software Development is one such interesting area.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You will need more than general knowledge,<br>and the database class where the teacher is absolutely convinced his way is the only way, is nothing.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The way you would know this, is not from a book,<br>but from years of coding your own version.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Code for memory only, with periodic disk sync,<br>for non volatile memory that survives a reboot, distributed hash tables spread across network computers.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This grants you a wonderful component of your greater exceptional ability,<br>and the prof is in publishing it on the internet.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Writing interesting things about it,<br>or tutorials, or setting up a plugin ecosystem for others to extend it.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you are interested in programming,<br>then all of this is just pure entertainment.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Entertainment is how experts are created,<br>it is not about receiving orders, or white-papers, but enjoying some challenge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">This is something you have to begin working on,<br>in your teenage days.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There are some 15 things you have to know really well in software development,<br>and five to ten other pursuits outside of Software Development.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That all start reinforcing one another to make you learn faster,<br>to help you become more creative.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Draw a concept of mind map of your abilities and curiosities,<br>and that will make the root of your tree of knowledge.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The map reveals your constellation of knowledge,<br>your curiosities will display the directions.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You never travel for long, weeks at most,<br>and then you leap to the next curiosity, making a circle across what interests you.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It will take years, and you will likely change your mind,<br>about working for somebody else, and begin building your own businesses.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Side project and little companies at first,<br>then maybe something bigger, that requires <a href="https://www.youtube.com/results?search_query=What+is+a+Startup+Accelerator">investors</a> later.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">You will start becoming an expert in many fields,<br>and all of them will be dictated by your own curiosity as it expands with each new thing you learn.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Exceptional abilities is a tool for thinking,<br>that helps people cut through ineffective education.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That also means diplomas begotten by memorization without comprehension,<br>which results in disconnected non-functional knowledge.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Put yourself in the interview room at a decent company,<br>in an authentic interview, by wise leaders.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">All they will want from you,<br>is to see all your inventions, and how proud you are of them.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They will want you to talk about your lightweight in-memory database,<br>the art lectures you sell online, your successful side projects.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They want proof of functional knowledge, that adds up to create something brilliant,<br>that is what exceptional ability means.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Having a portfolio full of exceptional things,<br>that is the only way that your abilities can be correctly described.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You must accept the responsibility for your own self education,<br>we can't be taught outside in, we can only learn inside out.</div>
  </div>
</div>