<div class="section">
  <p>Schools can't teach, you can't learn at a pace that does not match you,<br>and you can't learn if you go in a sequence other than your own.</p>
  <p>You can't learn if it in not interesting,<br>and you can't learn if it is not one of your curiosities.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When you graduate you will face an interview,<br>and an interview that is worthy of you, requires that you have real and functional knowledge.</p>
  <p>Not just some combination of neatly arranged facts,<br>but a body of functioning knowledge that combines to give you exceptional abilities.</p>
  <p>Exceptional ability has to do with your speed of learning new things,<br>and your speed of delivery of solid, valid projects.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And you will need to prove it with a portfolio,<br>Software Development is one such interesting area.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You will need more than general knowledge,<br>and the database class where the teacher is absolutely convinced his way is the only way, is nothing.</p>
  <p>The way you would know this, is not from a book,<br>but from years of coding your own version.</p>
  <p>Code for memory only, with periodic disk sync,<br>for non volatile memory that survives a reboot, distributed hash tables spread across network computers.</p>
  <p>This grants you a wonderful component of your greater exceptional ability,<br>and the prof is in publishing it on the internet.</p>
  <p>Writing interesting things about it,<br>or tutorials, or setting up a plugin ecosystem for others to extend it.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you are interested in programming,<br>then all of this is just pure entertainment.</p>
  <p>Entertainment is how experts are created,<br>it is not about receiving orders, or white-papers, but enjoying some challenge.</p>
  <p>This is something you have to begin working on,<br>in your teenage days.</p>
  <p>There are some 15 things you have to know really well in software development,<br>and five to ten other pursuits outside of Software Development.</p>
  <p>That all start reinforcing one another to make you learn faster,<br>to help you become more creative.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Draw a concept of mind map of your abilities and curiosities,<br>and that will make the root of your tree of knowledge.</p>
  <p>The map reveals your constellation of knowledge,<br>your curiosities will display the directions.</p>
  <p>You never travel for long, weeks at most,<br>and then you leap to the next curiosity, making a circle across what interests you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It will take years, and you will likely change your mind,<br>about working for somebody else, and begin building your own businesses.</p>
  <p>Side project and little companies at first,<br>then maybe something bigger, that requires <a href="https://www.youtube.com/results?search_query=What+is+a+Startup+Accelerator">investors</a> later.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You will start becoming an expert in many fields,<br>and all of them will be dictated by your own curiosity as it expands with each new thing you learn.</p>
  <p>Exceptional abilities is a tool for thinking,<br>that helps people cut through ineffective education.</p>
  <p>That also means diplomas begotten by memorization without comprehension,<br>which results in disconnected non-functional knowledge.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Put yourself in the interview room at a decent company,<br>in an authentic interview, by wise leaders.</p>
  <p>All they will want from you,<br>is to see all your inventions, and how proud you are of them.</p>
  <p>They will want you to talk about your lightweight in-memory database,<br>the art lectures you sell online, your successful side projects.</p>
  <p>They want proof of functional knowledge, that adds up to create something brilliant,<br>that is what exceptional ability means.</p>
  <p>Having a portfolio full of exceptional things,<br>that is the only way that your abilities can be correctly described.</p>
  <p>You must accept the responsibility for your own self education,<br>we can't be taught outside in, we can only learn inside out.</p>
</div>