<div class="section">
  <p>Thus far we discovered the <a href="https://www.youtube.com/watch?v=0uCH2z_zLmc">Image Reference Tool in Krita</a>,<br>Krita is a free and powerful Digital Art program.</p>
  <p>If you prearrange your entire scene in a singe image,<br>in a <a href="https://www.youtube.com/results?search_query=GIMP+Tutorial">Photo Editing program like GIMP</a> or just take a solid photo.</p>
  <p>And then stretch the reference image over your entire canvas in Krita,<br>your color picker will only ever pick colors from your reference image.</p>
  <p>Never from what is on your canvas,<br>but always from your per-arranged scene.</p>
  <p>When you are painting, you can just hold down CONTROL key,<br>and that will temporary switch your brush into a color picker.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The only problem is, you need a <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Delectronics&field-keywords=++Drawing+Tablet">Pen and Tablet</a>,<br>and they may cost between $40 and $60 dollars, <a href="https://www.youtube.com/watch?v=rKzUtWvElr4">they don't all cost a $1,000 dollars</a>.</p>
  <p>You mouse does not have a pressure sensor,<br>and that is exact what the tip of the pen is.</p>
  <p>In Krita this allows you to lay down layers of semi-transparent color,<br>or use the pressure to make your virtual brush bigger.</p>
  <p>A mouse is a very negative thing for starting Digital Art, it is hard to believe,<br>but it very dangerous, as it has the power to push a person away from art.</p>
  <p>Mouse,<br>Not Even Once.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Art comes from your Heart,<br>it is like you are a care bear, and the power you shoot is Digital Beauty.</p>
  <p>Art loves you so much, that, on the first day,<br>you sit down with a pen and tablet, and Krita and a reference image over you canvas.</p>
  <p>You will create,<br>a hyper realistic work of art.</p>
  <p>You will not be able to stop creating these works,<br>ever.</p>
  <p>And with each one, you learn more and more,<br>about becoming a more and more powerful artist.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Which brings us to the great challenge,<br>and my goodness it is the most beauuuuutiful adventure.</p>
  <p>Because once you have tasted Hyperrealism, and feel safe and powerful,<br>you will have to ask one of the most beautiful questions in art:</p>
  <p>“What is the minimum number of brushstrokes,<br>that will capture all the beauty this work deserves?”</p>
  <p>In other words, now that you can make <strong>all</strong> the brush strokes and create perfection,<br>you ask, how can I create beauty and perfection with the smallest number of brushstrokes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>You may recognize this question,<br>in all the famous and unique works of art.</p>
  <p>The <a href="https://www.youtube.com/watch?v=6PndwgJuF3g">Starry Nigh by Vincent van Gogh</a>,<br>which captures the feeling of genius and individuality, <a href="https://www.youtube.com/watch?v=k6_QUhUPrF4">Bukowski's isolation</a>, sacredness and comprehension,.</p>
  <p>And his self portrait where the <a href="https://www.youtube.com/watch?v=mgxHvV9-liA">detail of the brushwork</a>,<br>is proportional to the importance of the feature.</p>
  <p>His jacket holds thick strokes,<br>where his eyes have such tiny ones that they look perfectly realistic.</p>
  <p>It is very important to note, that the <a href="https://www.youtube.com/watch?v=WD7aoa256_0">brushstrokes are not blended</a>,<br>they are raw, as if Vincent van Gogh was only making a color map of a yet to be created realistic painting.</p>
  <p><a href="https://www.youtube.com/watch?v=4Gk85DFluoE">Claude Monet</a> has <a href="https://www.youtube.com/watch?v=M1xvAhriXl0">a very interesting approach that involves a kind of blur</a>,<br>the areas that are unimportant are left in the oil equivalent of low resolution or blur.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>In your research you are bound to discover, <a href="https://www.youtube.com/watch?v=Nhqtm_NPSE0">digital artists that leave large thick lines</a>,<br>just like Vincent’s leaving his most pronounced brushstrokes.</p>
  <p>I hope it calls to you, to know,<br>that nothing is ever really lost, once you are creating.</p>
  <p>Once you had your fill of Hyperrealism,<br><a href="https://www.youtube.com/c/SaraTepes/videos">you will begin to discover, so much more</a>.</p>
  <p>It is not Esperanto, Mathematics, Physics, Astrophysics, Biology or Philosophy, it is Art,<br>Art - is the universal language.</p>
  <p>Begin with Hyperrealism so that you may truly know the blessing of art,<br>and slowly start your life long journey towards minimalism, and maximum expression.</p>
  <p>Speak out, the world truly deeply wants to know<br>what <strong>you</strong> have to say.</p>
</div>