<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Thus far we discovered the <span>Image Reference Tool in Krita<sup>[1]</sup></span>,<br>Krita is a free and powerful Digital Art program.</div>
  <div class="paragraph">If you prearrange your entire scene in a singe image,<br>in a <span>Photo Editing program like GIMP<sup>[2]</sup></span> or just take a solid photo.</div>
  <div class="paragraph">And then stretch the reference image over your entire canvas in Krita,<br>your color picker will only ever pick colors from your reference image.</div>
  <div class="paragraph">Never from what is on your canvas,<br>but always from your per-arranged scene.</div>
  <div class="paragraph">When you are painting, you can just hold down CONTROL key,<br>and that will temporary switch your brush into a color picker.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The only problem is, you need a <span>Pen and Tablet<sup>[3]</sup></span>,<br>and they may cost between $40 and $60 dollars, <span>they don't all cost a $1,000 dollars<sup>[4]</sup></span>.</div>
  <div class="paragraph">You mouse does not have a pressure sensor,<br>and that is exact what the tip of the pen is.</div>
  <div class="paragraph">In Krita this allows you to lay down layers of semi-transparent color,<br>or use the pressure to make your virtual brush bigger.</div>
  <div class="paragraph">A mouse is a very negative thing for starting Digital Art, it is hard to believe,<br>but it very dangerous, as it has the power to push a person away from art.</div>
  <div class="paragraph">Mouse,<br>Not Even Once.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Art comes from your Heart,<br>it is like you are a care bear, and the power you shoot is Digital Beauty.</div>
  <div class="paragraph">Art loves you so much, that, on the first day,<br>you sit down with a pen and tablet, and Krita and a reference image over you canvas.</div>
  <div class="paragraph">You will create,<br>a hyper realistic work of art.</div>
  <div class="paragraph">You will not be able to stop creating these works,<br>ever.</div>
  <div class="paragraph">And with each one, you learn more and more,<br>about becoming a more and more powerful artist.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Which brings us to the great challenge,<br>and my goodness it is the most beauuuuutiful adventure.</div>
  <div class="paragraph">Because once you have tasted Hyperrealism, and feel safe and powerful,<br>you will have to ask one of the most beautiful questions in art:</div>
  <div class="paragraph">“What is the minimum number of brushstrokes,<br>that will capture all the beauty this work deserves?”</div>
  <div class="paragraph">In other words, now that you can make <strong>all</strong> the brush strokes and create perfection,<br>you ask, how can I create beauty and perfection with the smallest number of brushstrokes.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">You may recognize this question,<br>in all the famous and unique works of art.</div>
  <div class="paragraph">The <span>Starry Nigh by Vincent van Gogh<sup>[5]</sup></span>,<br>which captures the feeling of genius and individuality, <span>Bukowski's isolation<sup>[6]</sup></span>, sacredness and comprehension,.</div>
  <div class="paragraph">And his self portrait where the <span>detail of the brushwork<sup>[7]</sup></span>,<br>is proportional to the importance of the feature.</div>
  <div class="paragraph">His jacket holds thick strokes,<br>where his eyes have such tiny ones that they look perfectly realistic.</div>
  <div class="paragraph">It is very important to note, that the <span>brushstrokes are not blended<sup>[8]</sup></span>,<br>they are raw, as if Vincent van Gogh was only making a color map of a yet to be created realistic painting.</div>
  <div class="paragraph"><span>Claude Monet<sup>[9]</sup></span> has <span>a very interesting approach that involves a kind of blur<sup>[10]</sup></span>,<br>the areas that are unimportant are left in the oil equivalent of low resolution or blur.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In your research you are bound to discover, <span>digital artists that leave large thick lines<sup>[11]</sup></span>,<br>just like Vincent’s leaving his most pronounced brushstrokes.</div>
  <div class="paragraph">I hope it calls to you, to know,<br>that nothing is ever really lost, once you are creating.</div>
  <div class="paragraph">Once you had your fill of Hyperrealism,<br><span>you will begin to discover, so much more<sup>[12]</sup></span>.</div>
  <div class="paragraph">It is not Esperanto, Mathematics, Physics, Astrophysics, Biology or Philosophy, it is Art,<br>Art - is the universal language.</div>
  <div class="paragraph">Begin with Hyperrealism so that you may truly know the blessing of art,<br>and slowly start your life long journey towards minimalism, and maximum expression.</div>
  <div class="paragraph">Speak out, the world truly deeply wants to know<br>what <strong>you</strong> have to say.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=0uCH2z_zLmc</div>
  <div>[2]: https://www.youtube.com/results?search_query=GIMP+Tutorial</div>
  <div>[3]: https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Delectronics&field-keywords=++Drawing+Tablet</div>
  <div>[4]: https://www.youtube.com/watch?v=rKzUtWvElr4</div>
  <div>[5]: https://www.youtube.com/watch?v=6PndwgJuF3g</div>
  <div>[6]: https://www.youtube.com/watch?v=k6_QUhUPrF4</div>
  <div>[7]: https://www.youtube.com/watch?v=mgxHvV9-liA</div>
  <div>[8]: https://www.youtube.com/watch?v=WD7aoa256_0</div>
  <div>[9]: https://www.youtube.com/watch?v=4Gk85DFluoE</div>
  <div>[10]: https://www.youtube.com/watch?v=M1xvAhriXl0</div>
  <div>[11]: https://www.youtube.com/watch?v=Nhqtm_NPSE0</div>
  <div>[12]: https://www.youtube.com/c/SaraTepes/videos</div>
</div>