<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">In computer programming we get shame-free instant feedback,<br>whatever is not understood, will soon reveal it self, and guide the student.</div>
  <div class="paragraph">This <em>is</em> a form of testing,<br>but more than that it is instant feedback, without shame.</div>
  <div class="paragraph">Unlike tests there are no threats of being held back here,<br>of needing to repeat the class, or being punished in some other way.</div>
  <div class="paragraph">Teachers often say that tests and grades are a form of motivation,<br>and that does make sense in ineffective or fake schools.</div>
  <div class="paragraph">Ineffective education is ineffective through and through,<br>it cannot have any rewards, other than getting out of there.</div>
  <div class="paragraph">And it destroys problem solving,<br>because of how severe the punishment for failure is.</div>
  <div class="paragraph">Interfering with a persons ability to find work later in life,<br>is almost as bad as having always to check the “former convict” box on a job application.</div>
  <div class="paragraph">This type of education, where it is ineffective and thus disabling on one end,<br>and and jeopardizing and mind destroying on the other, is cruel.</div>
  <div class="paragraph">As jagged as it looks on the surface, the inner-workings are simple,<br>teachers never question themselves, and pretend to teach for paychecks.</div>
  <div class="paragraph">What is more, a lot of them hate the kids they work with,<br>bit it is their lack of self-reflection and monumental in-authenticity...</div>
  <div class="paragraph">That makes try to break out of the unfair, the imaginary,<br>and all the hollow promises - the teachers are the ones that are misbehaving.</div>
  <div class="paragraph">The children sense that they have been betrayed with standardized education,<br>and they reject it, not because they are mean, or poor, or stupid...</div>
  <div class="paragraph">But because, they are not yet as blind and crazy as their teachers,<br>who must do everything to pretend standardized education works, for that damn paycheck.</div>
  <div class="paragraph">Teachers fear to look into the dark corners of their soul,<br>because they know that if they authentically self evaluate, their fantasy will end.</div>
  <div class="paragraph">It they did teach their students for real, without punishment of bad grades and GPA,<br>without the cruel torture of being branded as permanently late, for being held back.</div>
  <div class="paragraph">Then students would not be afraid to use failure as a candle in the dark,<br>as a compass that will show them where to head next, what to learn next.</div>
  <div class="paragraph">Teachers, please understand, that the students you face, often with an inauthentic smile,<br>know that you have blindly betrayed them for a paycheck.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Students, the betrayal is too complex to repair outside in, the only way to fix schools,<br>is to authentically self educate, so that the whole world becomes a wiser and brighter place...</div>
  <div class="paragraph">Leaving the liars,<br>without any shadows to hide in.</div>
</div>