<div class="section">
  <p>I spent the afternoon writing a tiny HTTP server,<br>that can route requests from multiple domain names pointed at it.</p>
  <p>It is just 25 lines of code,<br>and maybe another 50 in reusable functions.</p>
  <p>It has good code readability,<br>but not because I took extra time to clean it, which I did.</p>
  <p>But because it is a program,<br>that just does one thing well.</p>
  <p>This is often quoted,<br>as the UNIX way.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>It is a strange thing to talk about,<br>and a strange revelation.</p>
  <p>But large programs simply cannot be readable,<br>unless they are built out of multiple small commands.</p>
  <p>Writing tiny commands,<br>to operate a larger system.</p>
  <p>It not just for operating system,<br>but the way to do large programs right.</p>
  <p>As a bonus,<br>a person is then able to log into a large program...</p>
  <p>And manipulate it,<br>inside out.</p>
  <p>This allows for new types of tests,<br>and viewing the program from a new perspective.</p>
  <p>Which allows for inviting multiple programmers,<br>to work on the program command at a time, inside out.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I suppose the data storage,<br>must always be tables that can be joined on some common field, like userid.</p>
  <p>But if it is an unusual program,<br>then the commands should operate on a tree of locations.</p>
  <p>Not exactly a tree of folders,<br>but just a tree of infinitely nestable locations.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I think all concerns such as code quality, or portability,<br>or readability, even technology is secondary...</p>
  <p>To being able to replace the program,<br>inside out, one command at a time.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>All of these patterns are with us,<br>they are databases, file systems, commands.</p>
  <p>They are here, not because,<br>that is how data and operating systems need.</p>
  <p>But because <strong>THAT</strong> is how programs that last,<br>are written.</p>
</div>