<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I spent the afternoon writing a tiny HTTP server,<br>that can route requests from multiple domain names pointed at it.</div>
  <div class="paragraph">It is just 25 lines of code,<br>and maybe another 50 in reusable functions.</div>
  <div class="paragraph">It has good code readability,<br>but not because I took extra time to clean it, which I did.</div>
  <div class="paragraph">But because it is a program,<br>that just does one thing well.</div>
  <div class="paragraph">This is often quoted,<br>as the UNIX way.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is a strange thing to talk about,<br>and a strange revelation.</div>
  <div class="paragraph">But large programs simply cannot be readable,<br>unless they are built out of multiple small commands.</div>
  <div class="paragraph">Writing tiny commands,<br>to operate a larger system.</div>
  <div class="paragraph">It not just for operating system,<br>but the way to do large programs right.</div>
  <div class="paragraph">As a bonus,<br>a person is then able to log into a large program...</div>
  <div class="paragraph">And manipulate it,<br>inside out.</div>
  <div class="paragraph">This allows for new types of tests,<br>and viewing the program from a new perspective.</div>
  <div class="paragraph">Which allows for inviting multiple programmers,<br>to work on the program command at a time, inside out.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I suppose the data storage,<br>must always be tables that can be joined on some common field, like userid.</div>
  <div class="paragraph">But if it is an unusual program,<br>then the commands should operate on a tree of locations.</div>
  <div class="paragraph">Not exactly a tree of folders,<br>but just a tree of infinitely nestable locations.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I think all concerns such as code quality, or portability,<br>or readability, even technology is secondary...</div>
  <div class="paragraph">To being able to replace the program,<br>inside out, one command at a time.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">All of these patterns are with us,<br>they are databases, file systems, commands.</div>
  <div class="paragraph">They are here, not because,<br>that is how data and operating systems need.</div>
  <div class="paragraph">But because <strong>THAT</strong> is how programs that last,<br>are written.</div>
</div>