<div class="section">
  <p>Let me show you a couple of strange ways,<br>with which creativity and thus mental health can be upset.</p>
  <p>One describes strangeness or elitism as the case may be, in art community,<br>where young people are pushed away from joining, by being forced into pointless tricks.</p>
  <p>And the other is a broader example from the programmer community,<br><a href="https://news.ycombinator.com/item?id=32226910">where a programmer just asked about burnout and loss of creativity</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The point of this text is to remind all that,<br>that our minds need room to grow and keep healthy.</p>
  <p>And while poverty is terrifying and deadly, is is a mistake,<br>that humanity will eventually repair.</p>
  <p>To get to that point,<br>we must allow our creativity to flourish.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The hateful artists will say,<br>you can’t use a reference image directly.</p>
  <p>They are doing this,<br>to elevate themselves above you.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Please don’t actually do what I am about to describe,<br>that is just a dumb waste of time.</p>
  <p>Take your source image, a portrait for example,<br>cover it with a transparency or a see through bag.</p>
  <p>Take a dry erase marker,<br>and connect the eyes to the tip of the nose.</p>
  <p>Now, look at the triangle you just made,<br>study it, and very gently with a pencil at first, put it on your canvas.</p>
  <p>Now connect something on the face to the ears<br>just pick something, and copy that shape too.</p>
  <p>Now the two shapes on the canvas,<br>mark all the important points on the face.</p>
  <p>Now connect the dots,<br>and congratulations...</p>
  <p>You just wasted three minutes,<br>on not just putting an x where the eyes are.</p>
  <p>Now, I had you do this awful thing,<br>to show you how other artists, all those really nice people, PUSH YOU AROUND.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>DO NOT, let them poison art,<br><a href="https://www.youtube.com/watch?v=0fEMJp70tGU">use your reference images directly</a>.</p>
  <p>And if anybody challenges you,<br>you tell them that slightly crooked portraits with misshapen features are not art.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>When you finish your painting,<br>you grab everyone near you by their ears.</p>
  <p>An you teach them,<br>how to be an artist too - without the stupid shapes.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Now onto the second,<br>broader example,</p>
  <p>Think about horses, there are the wild ones out by Rocky Mountains,<br>they are wise, dumb, useless, and probably bite, but they are not warped.</p>
  <p>And then there are the ones beaten or pressed into submission,<br>they are raced, bread, doped, fed ... stressed out an over medicated.</p>
  <p>A healthy human being cannot keep focus on a single thing, we are not machines,<br>we are dreamers, explorers, adventures and inventors.</p>
  <p>When programmers complain about focus and loss of passion for personal projects,<br>is a sign of health, of his system resisting becoming broken in.</p>
  <p>He is still in part a wild horse,<br>and the truth is, once he is broken in - he will never have passion to invent again.</p>
  <p>Not without medication, for a cultural disorder,<br>in a culture that calls for workers to work all their lives...</p>
  <p>Failing that,<br>marks them as having a deficit.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Our minds cannot do just one thing over and over,<br>we need to switch subjects, curiosities.</p>
  <p>Vacation is an example of switching,<br>look how your health returns.</p>
  <p>Getting a writers block,<br>is an example of the opposite.</p>
  <p>Of having focused on a singe task so long,<br>that the task is depleted of the fizz that comes with approaching a subject that calls to you.</p>
  <p>My goodness, every person in the word,<br>will always tell a person like that, to take a break, to do something else.</p>
  <p>And yet we don’t apply the same to ourselves,<br>we instead walk into a doctor’s office and tell them we can’t focus.</p>
  <p>Oh, he’ll give you medication all right,<br>but at the cost of your creativity for everything else.</p>
  <p>You will medicate your natural predispositions away,<br>and chemically break yourself in.</p>
  <p>Just wait until it comes out that <a href="https://www.youtube.com/watch?v=HInN7t4Zl04">schools have been purposefully over medicating</a>,<br>and <a href="https://www.youtube.com/watch?v=VqWnumbraI4">tolerating student drug use to increase school’s collective GPA</a>.</p>
  <p>And psychologists tolerated it because they defined the disorder,<br>not relative to a healthy mind.</p>
  <p>But relative to the majority of modern culture,<br>it became a disorder, because everyone is overworked.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>There is more to it, Humanity does not have to be chained by poverty,<br>there is a better way to use the concept of money.</p>
  <p>But to get there, majority must recognize adventure, creativity and ahealthy mind,<br>as something that must be protected, not medicated away, to become a convenient employee.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Afterword.</p>
  <p>I am not familiar with the Attention Deficit Disorder, I do believe that it is a real condition, and that there is medicine that helps.</p>
  <p>But like Sir Ken Robinson,<br>I suspect, that there is also a fictitious epidemic.</p>
  <p>Let me put it this way, if corporations are ever allowed,<br>to prescribe their employees anti-depressants that improve productivity.</p>
  <p>And if schools are ever allowed to prescribe their students medication,<br>that temporary enhanced their focus and retention... long therm be damned.</p>
  <p>They will do it, it maybe hard for you to believe,<br>so let me put it this way.</p>
  <p><a href="https://slate.com/business/2022/07/college-financial-aid-sham.html">Schools will sell out their students for anything involving money</a>,<br>by providing them with a mix of facts that they can temporary memorize pass state tests.</p>
  <p>And corporations will maximize profits,<br>at the cost of the well being of their employees.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I do not have proof for any of this,<br>but <a href="https://www.youtube.com/watch?v=sxyKNMrhEvY">I am certain that Authentic Self Education, is far more powerful, than standardized education</a>.</p>
</div>