<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I’ve been making web pages,<br>for ages.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I have learned <strong>so much</strong>,<br>just by creating buttons and such.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I just started a looking at code,<br>and I learned a boat load.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Learning was never too bad,<br>and I even just used notepad.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">At first I learned HTML and ASP,<br>but then Perl worked hard on the server for me.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It was a beautiful adventure in code<br>as I jumped to PHP, ActionScript, Java, and now node.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It was all so fascinating,<br>that I never stopped creating.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">If you make programming your aim,<br>know that it is like a fun game game.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But here you are playing the computer,<br>and your keyboard is your six shooter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you start by learning JavaScript,<br>you will become well equipped.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do not delay,<br>give programming a chance today.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Find a <a href="https://www.youtube.com/results?search_query=JavaScript+node+tutorial">JavaScript tutorial video</a>,<br>and give it a go.</div>
  </div>
</div>