<div class="section">
  <p>I’ve been making web pages,<br>for ages.</p>
  <p>I have learned <strong>so much</strong>,<br>just by creating buttons and such.</p>
  <p>I just started a looking at code,<br>and I learned a boat load.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Learning was never too bad,<br>and I even just used notepad.</p>
  <p>At first I learned HTML and ASP,<br>but then Perl worked hard on the server for me.</p>
  <p>It was a beautiful adventure in code<br>as I jumped to PHP, ActionScript, Java, and now node.</p>
  <p>It was all so fascinating,<br>that I never stopped creating.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>If you make programming your aim,<br>know that it is like a fun game game.</p>
  <p>But here you are playing the computer,<br>and your keyboard is your six shooter.</p>
  <p>If you start by learning JavaScript,<br>you will become well equipped.</p>
  <p>Do not delay,<br>give programming a chance today.</p>
  <p>Find a <a href="https://www.youtube.com/results?search_query=JavaScript+node+tutorial">JavaScript tutorial video</a>,<br>and give it a go.</p>
</div>