<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I’ve been making web pages,<br>for ages.</div>
  <div class="paragraph">I have learned <strong>so much</strong>,<br>just by creating buttons and such.</div>
  <div class="paragraph">I just started a looking at code,<br>and I learned a boat load.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Learning was never too bad,<br>and I even just used notepad.</div>
  <div class="paragraph">At first I learned HTML and ASP,<br>but then Perl worked hard on the server for me.</div>
  <div class="paragraph">It was a beautiful adventure in code<br>as I jumped to PHP, ActionScript, Java, and now node.</div>
  <div class="paragraph">It was all so fascinating,<br>that I never stopped creating.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">If you make programming your aim,<br>know that it is like a fun game game.</div>
  <div class="paragraph">But here you are playing the computer,<br>and your keyboard is your six shooter.</div>
  <div class="paragraph">If you start by learning JavaScript,<br>you will become well equipped.</div>
  <div class="paragraph">Do not delay,<br>give programming a chance today.</div>
  <div class="paragraph">Find a <span>JavaScript tutorial video<sup>[1]</sup></span>,<br>and give it a go.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/results?search_query=JavaScript+node+tutorial</div>
</div>