<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Beyond art you discover a fusion of subjects,<br>that uniquely define you in the universe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is nothing here that you can control,<br>not anymore than you can control a coronal ejection of the sun.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The filaments are not directly connected to you,<br>they emerge out of the things that you do.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The filaments will surround you, they are your machinery,<br>but they are rooted in the artistic and organic.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">There isn't one tipping point,<br>wouldn't it be fun, if all it took was a snowflake.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is tipping points all the way,<br>but you learn faster, you comprehend what you see with your eyes faster.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So the journey speeds up,<br>though it is still as hard as ever, there are many more thing.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">When you are a baby,<br>you learn that a ledge comes with a drop off.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You know it by instinct,<br>but you refine that by intellect.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A ledge and a drop off,<br>represent one of your first real world mechanics.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The mechanics are the rules of the universe,<br>and well worn patterns in the chaos that beautifully emerges out of it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But they need not come from the real world,<br>they can come from the world of art, the world of painting, and myth.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here you pick up on great beings, the creators,<br>they are all a projection of you and the human.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As your wisdom grows, your sight will improve,<br>you will then begin seeing new details.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Seams in the information that reaches you,<br>and you can look into those seams and learn the more hidden things.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">As you grow, wrapped by the artistic, philosophical and wise, and the machinery of the night,<br>you will be building your own mythology. </div>
    <div class="paragraph card-text card-stanza my-5 text-center">The <a href="https://www.youtube.com/watch?v=Pj_IVO32ONo">Pacific Crest Trail</a>, <a href="https://www.youtube.com/watch?v=1ewQvcGhQAA">Continental Divide Trail</a>, or <a href="https://www.youtube.com/watch?v=hPSvdKTEZug">Appalachian Trail</a>,<br>are adventures on a scale far beyond the ordinary graduation, paycheck, office job, and mortgage lifestyle.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And that is just the beginning, because if you can walk it,<br>you can run it too, <a href="https://www.youtube.com/watch?v=WnoziOPQ3HA">and not just one race, all the races, and then some</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">There is only one reality in life,<br>and that means that we must be good to ourselves, and make each day count, make it meaningful.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">And of course as you can imagine, walling and running, is just the begining,<br>because then you have to <a href="https://www.youtube.com/watch?v=Dc6B14K1SZ8">learn to dance</a>, or ride skateboards and twirl on roller blades.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And then get to the important stuff, as we have to help the little ones,<br><a href="https://www.youtube.com/watch?v=sa1iS1MqUy4">we have to make sure they are not bulled, and that bullies are granted some measure of healing too</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We have to make sure that students learn what they want to learn,<br><a href="https://www.youtube.com/watch?v=Mwx3RvDWvDM">and that all students are safe, and that their education it is always a profound experience, like none other</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In 2022 as I wrote this <a href="https://www.youtube.com/watch?v=rKS_HhdSJ_4">schools were erasing real education</a>,<br><a href="https://www.youtube.com/watch?v=sxyKNMrhEvY">the need to learn something meaningful comes from the inside</a>, from the outside it will only be damaged.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=9M4tdMsg3ts">Often is is the student that fails make-believe-education that learns the most</a>,<br><a href="https://www.youtube.com/watch?v=mQPEZdBTOeE">we are all geniuses, we just need to learn in the sequence that fits our existing knowledge and at a lovely speed while switching subjects as our curiosity grows</a></div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">It is not just health, education, and impossible adventure,<br>it is also the choices we make that then dictate the future ahead of us.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We are not the first generation, many have come before us, and there is much wisdom to learn,<br><a href="https://www.youtube.com/watch?v=k6_QUhUPrF4">some of it, is out of control and outrageous, meant for unique lives</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=31lUwuhE8pc">Other wisdom may turn us into unbreakable beings</a><br>whether it is learning not to stop while jogging, or not to give up no matter what the future of humanity holds.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And the longer you go, the more tipping points, the faster you push, and more mature you become,<br><a href="https://www.youtube.com/watch?v=EknD3KRtgDk">there are wisdom so powerful that they create unending ripples in time</a>,</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://www.youtube.com/watch?v=wxmRulRQsLc">Then when you create, the entire Universe listens and learns</a>,<br>in hopes of trying to understand more of it self.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And then finally as you retire, you too have to share your wisdom,<br>so that those who follow need not start in the beginning, bur rather, begin on the shoulders of giants.</div>
  </div>
</div>