<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Beyond art you discover a fusion of subjects,<br>that uniquely define you in the universe.</div>
  <div class="paragraph">There is nothing here that you can control,<br>not anymore than you can control a coronal ejection of the sun.</div>
  <div class="paragraph">The filaments are not directly connected to you,<br>they emerge out of the things that you do.</div>
  <div class="paragraph">The filaments will surround you, they are your machinery,<br>but they are rooted in the artistic and organic.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">There isn't one tipping point,<br>wouldn't it be fun, if all it took was a snowflake.</div>
  <div class="paragraph">It is tipping points all the way,<br>but you learn faster, you comprehend what you see with your eyes faster.</div>
  <div class="paragraph">So the journey speeds up,<br>though it is still as hard as ever, there are many more thing.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">When you are a baby,<br>you learn that a ledge comes with a drop off.</div>
  <div class="paragraph">You know it by instinct,<br>but you refine that by intellect.</div>
  <div class="paragraph">A ledge and a drop off,<br>represent one of your first real world mechanics.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">The mechanics are the rules of the universe,<br>and well worn patterns in the chaos that beautifully emerges out of it.</div>
  <div class="paragraph">But they need not come from the real world,<br>they can come from the world of art, the world of painting, and myth.</div>
  <div class="paragraph">Here you pick up on great beings, the creators,<br>they are all a projection of you and the human.</div>
  <div class="paragraph">As your wisdom grows, your sight will improve,<br>you will then begin seeing new details.</div>
  <div class="paragraph">Seams in the information that reaches you,<br>and you can look into those seams and learn the more hidden things.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">As you grow, wrapped by the artistic, philosophical and wise, and the machinery of the night,<br>you will be building your own mythology. </div>
  <div class="paragraph">The <span>Pacific Crest Trail<sup>[1]</sup></span>, <span>Continental Divide Trail<sup>[2]</sup></span>, or <span>Appalachian Trail<sup>[3]</sup></span>,<br>are adventures on a scale far beyond the ordinary graduation, paycheck, office job, and mortgage lifestyle.</div>
  <div class="paragraph">And that is just the beginning, because if you can walk it,<br>you can run it too, <span>and not just one race, all the races, and then some<sup>[4]</sup></span>.</div>
  <div class="paragraph">There is only one reality in life,<br>and that means that we must be good to ourselves, and make each day count, make it meaningful.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And of course as you can imagine, walling and running, is just the begining,<br>because then you have to <span>learn to dance<sup>[5]</sup></span>, or ride skateboards and twirl on roller blades.</div>
  <div class="paragraph">And then get to the important stuff, as we have to help the little ones,<br><span>we have to make sure they are not bulled, and that bullies are granted some measure of healing too<sup>[6]</sup></span>.</div>
  <div class="paragraph">We have to make sure that students learn what they want to learn,<br><span>and that all students are safe, and that their education it is always a profound experience, like none other<sup>[7]</sup></span>.</div>
  <div class="paragraph">In 2022 as I wrote this <span>schools were erasing real education<sup>[8]</sup></span>,<br><span>the need to learn something meaningful comes from the inside<sup>[9]</sup></span>, from the outside it will only be damaged.</div>
  <div class="paragraph"><span>Often is is the student that fails make-believe-education that learns the most<sup>[10]</sup></span>,<br><span>we are all geniuses, we just need to learn in the sequence that fits our existing knowledge and at a lovely speed while switching subjects as our curiosity grows<sup>[11]</sup></span></div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">It is not just health, education, and impossible adventure,<br>it is also the choices we make that then dictate the future ahead of us.</div>
  <div class="paragraph">We are not the first generation, many have come before us, and there is much wisdom to learn,<br><span>some of it, is out of control and outrageous, meant for unique lives<sup>[12]</sup></span>.</div>
  <div class="paragraph"><span>Other wisdom may turn us into unbreakable beings<sup>[13]</sup></span><br>whether it is learning not to stop while jogging, or not to give up no matter what the future of humanity holds.</div>
  <div class="paragraph">And the longer you go, the more tipping points, the faster you push, and more mature you become,<br><span>there are wisdom so powerful that they create unending ripples in time<sup>[14]</sup></span>,</div>
  <div class="paragraph"><span>Then when you create, the entire Universe listens and learns<sup>[15]</sup></span>,<br>in hopes of trying to understand more of it self.</div>
  <div class="paragraph">And then finally as you retire, you too have to share your wisdom,<br>so that those who follow need not start in the beginning, bur rather, begin on the shoulders of giants.</div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://www.youtube.com/watch?v=Pj_IVO32ONo</div>
  <div>[2]: https://www.youtube.com/watch?v=1ewQvcGhQAA</div>
  <div>[3]: https://www.youtube.com/watch?v=hPSvdKTEZug</div>
  <div>[4]: https://www.youtube.com/watch?v=WnoziOPQ3HA</div>
  <div>[5]: https://www.youtube.com/watch?v=Dc6B14K1SZ8</div>
  <div>[6]: https://www.youtube.com/watch?v=sa1iS1MqUy4</div>
  <div>[7]: https://www.youtube.com/watch?v=Mwx3RvDWvDM</div>
  <div>[8]: https://www.youtube.com/watch?v=rKS_HhdSJ_4</div>
  <div>[9]: https://www.youtube.com/watch?v=sxyKNMrhEvY</div>
  <div>[10]: https://www.youtube.com/watch?v=9M4tdMsg3ts</div>
  <div>[11]: https://www.youtube.com/watch?v=mQPEZdBTOeE</div>
  <div>[12]: https://www.youtube.com/watch?v=k6_QUhUPrF4</div>
  <div>[13]: https://www.youtube.com/watch?v=31lUwuhE8pc</div>
  <div>[14]: https://www.youtube.com/watch?v=EknD3KRtgDk</div>
  <div>[15]: https://www.youtube.com/watch?v=wxmRulRQsLc</div>
</div>