<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Allow me to explain what an idea is, how it differs from a curiosity,<br>and why it is important.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A curiosity, is like buying a 3D printer to learn how to use it,<br>recognizing the fact that not all futuristic inventions are simple.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">An idea, is something that jumps out of curiosity for you,<br>my best printed wallet design, is mostly two layers thick.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You join multiple such layers together to form a wallet,<br>thin layers of plastic means, it prints really fast.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But also, that you can assemble multi pocket wallets,<br>which can only be printed standing up, at one pretty annoying angle.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The important of ideas and pursuits of curiosities,<br>is a very serious subject.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But I will just say, you are not allowed to live your life,<br>always making somebody else happy.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Often that somebody else is, your job responsibilities, your parents,<br>and sometimes even your friends, or people you hope to help.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The reason why this is not allowed, is because come our final days,<br>we have to have memories that will help us laugh at ourselves and our foolishness.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">We do not want to lay in bed regretting,<br>that we always tried to make somebody else happy.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">A wonderful person would become sad knowing that you only make others happy,<br>and they would instead try to help you to make yourself happy first.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When something makes you happy,<br>then your happiness. will also make all those worthy of happiness, that much happier.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Your ideas are precious, and your foolish ideas,<br>are tickets to joy and laughter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Write them down, make them better,<br>and have the full certainty of knowing that they will take you far.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Further than you think, in fact,<br>for you should never underestimate an idea.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I’ll prove it to you with my yo mama joke,<br>that has no doubt been invented and reinvented by others.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In fact,<br>I give them all the credit for it.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Let me begin by giving you the joke,</div>
    <div class="paragraph card-text card-stanza my-5 text-center">“Not only, yo mama’s so fat, that she has other Mamas tidally-locked and trapped in her orbit,<br>but those Mammas have Moon Mamas orbiting them too.”</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As wonderful as this foolishness is,<br>in my experience, most people, will not be impressed.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Until that traveling distance hits, where the mommas grab you by your mittens,<br>and you realize, what you got yourself here is one of the worlds most magical paintings.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Do you see what I mean, thake good care of your ideas, no matter how silly,<br>write them down, water them a little, and wait for them to bloom.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Now let me give you another example,<br>not silly, but not quite serious either.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The best version of this idea, requires the purchase of a tiny luggage lock,<br>and then threading it through the power plug of your microwave over, and throwing out the key.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I see this as a diet promise, for those who just signed up the gym,<br>and are desperately seeking that lifestyle change.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">The other variations of this idea, are mad,<br>and I hope no one would actually do this, because this is not a healthy behavior.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The healthy way to change your lifestyle,<br>is to take to adventure.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">People that authentically care about you understand,<br>that your happiness must come first.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Obesity, is early death, but rather than an extreme attempt at instant life change,<br>that temporary damaging your kitchen appliances you need to start hard but slow.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As soon as you can, buy a large backpack, look up what equipment you need for hiking,<br>and become a weekend warrior.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Where you hike with Audio Books and cheerful friends,<br>until one day, when ready, instead of showing up for work on Monday - you keep walking.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">One beautiful example is the Appalachian trail,<br>take it easy, take good care of your feet.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The trail are a life long commitment,<br>you won’t spend much time cooking in the kitchen after that.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You have to cross every trail in the world,<br>and then do it again.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Remember that your happiness comes first,<br>and that people who truly care about you will be that much happier in their own lives.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Obesity is often rooted in long and sustained suffering,<br>sometimes people who cause the harm, will try to cause even more, to put you back in their place.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But this is your world, this is your beautiful life,<br>this is about your happiness.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And if you think you can’t make it,<br>then you will have to become a Great Warrior and Leader too.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Finally, the last idea, that I just came up with today,<br>I’ve been having difficulty practicing Lowbrow Art.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Because the artists that I admire, shouldn't dictate how to structure a face,<br>I didn’t feel right about trying to measure beautiful faces in their works.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I needed a way to make adult faces in my portraits cuter,<br>that I could call my own invention, my own rhythm or measuring instrument.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And I also wanted to do something that would he,p my silly portraits,<br>have more complex angles and lifting - I didn’t want to paint the same pose others paint.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">My initial idea was making a 3D model,<br>and later on buying a stuffed toy and using that as a model - I was making progress.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">But today, I had an idea,<br>it came out of nowhere, I wasn’t thinking about Lowbrow today at all.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Here is the idea, you know how people say that we find faces of cute kittens,<br>or baby animals cute, because they remind us of human babies?</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Yeah, so my idea is to go on an image search safari across the entire internet,<br>find the absolutely cutest animals in the most interesting head angles.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And use them as a model for my Adult Human paintings,<br>that I want to make cutter.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">So in my next Lowbrow portrait,<br>I will start by roughly marking out the positions of lips, nose and eyes on a young kitten.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And in those places, and in a similar scale, place the eyes and node and lips,<br>of the subject of my painting.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I did compare young kitten photo with placement of features in a painting of one om my favorite Lowbrow artists,<br>and it was almost an exact match.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The kittens head was too big, but you just paint a human sized head,<br>maybe wider, maybe with a larger forehead.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But not as wide as the head of a kitten,<br>compared to their eye/nose placement.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When I tested a more adult cat photo,<br>the eyes were way to high, and far too small.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Now this isn’t just for kittens,<br>I am just testing things.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">I mean to try this method on all the cute creates of the world,<br>and I am really looking forward to all the interesting angles I will be working on.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">I don’t doubt that many other people had the same idea,<br>in fact, <a href="https://en.wikipedia.org/wiki/Lowbrow_(art_movement)">the world encyclopedia shows a low brow cat</a>.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">A lot of people would think to themselves,<br>but I am not a fan of painting animals.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">As smart as cats are,<br>they don’t have jobs, and can’t pay me.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Which wold bring the to say,<br>I will paint a human face, with the same proportions.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Though many other people giggle about Mommas gravitating round other Mommas,<br>at 2AM, I call it “Independent Invention”.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">In that I independently arrived at the same idea<br>as they did.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">And I want to stress,<br>that All Ideas have Legs.</div>
  </div>
</div>