<div class="section">
  <p>Allow me to explain what an idea is, how it differs from a curiosity,<br>and why it is important.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A curiosity, is like buying a 3D printer to learn how to use it,<br>recognizing the fact that not all futuristic inventions are simple.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>An idea, is something that jumps out of curiosity for you,<br>my best printed wallet design, is mostly two layers thick.</p>
  <p>You join multiple such layers together to form a wallet,<br>thin layers of plastic means, it prints really fast.</p>
  <p>But also, that you can assemble multi pocket wallets,<br>which can only be printed standing up, at one pretty annoying angle.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The important of ideas and pursuits of curiosities,<br>is a very serious subject.</p>
  <p>But I will just say, you are not allowed to live your life,<br>always making somebody else happy.</p>
  <p>Often that somebody else is, your job responsibilities, your parents,<br>and sometimes even your friends, or people you hope to help.</p>
  <p>The reason why this is not allowed, is because come our final days,<br>we have to have memories that will help us laugh at ourselves and our foolishness.</p>
  <p>We do not want to lay in bed regretting,<br>that we always tried to make somebody else happy.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>A wonderful person would become sad knowing that you only make others happy,<br>and they would instead try to help you to make yourself happy first.</p>
  <p>When something makes you happy,<br>then your happiness. will also make all those worthy of happiness, that much happier.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Your ideas are precious, and your foolish ideas,<br>are tickets to joy and laughter.</p>
  <p>Write them down, make them better,<br>and have the full certainty of knowing that they will take you far.</p>
  <p>Further than you think, in fact,<br>for you should never underestimate an idea.</p>
  <p>I’ll prove it to you with my yo mama joke,<br>that has no doubt been invented and reinvented by others.</p>
  <p>In fact,<br>I give them all the credit for it.</p>
  <p>Let me begin by giving you the joke,</p>
  <p>“Not only, yo mama’s so fat, that she has other Mamas tidally-locked and trapped in her orbit,<br>but those Mammas have Moon Mamas orbiting them too.”</p>
  <p>As wonderful as this foolishness is,<br>in my experience, most people, will not be impressed.</p>
  <p>Until that traveling distance hits, where the mommas grab you by your mittens,<br>and you realize, what you got yourself here is one of the worlds most magical paintings.</p>
  <p>Do you see what I mean, thake good care of your ideas, no matter how silly,<br>write them down, water them a little, and wait for them to bloom.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Now let me give you another example,<br>not silly, but not quite serious either.</p>
  <p>The best version of this idea, requires the purchase of a tiny luggage lock,<br>and then threading it through the power plug of your microwave over, and throwing out the key.</p>
  <p>I see this as a diet promise, for those who just signed up the gym,<br>and are desperately seeking that lifestyle change.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>The other variations of this idea, are mad,<br>and I hope no one would actually do this, because this is not a healthy behavior.</p>
  <p>The healthy way to change your lifestyle,<br>is to take to adventure.</p>
  <p>People that authentically care about you understand,<br>that your happiness must come first.</p>
  <p>Obesity, is early death, but rather than an extreme attempt at instant life change,<br>that temporary damaging your kitchen appliances you need to start hard but slow.</p>
  <p>As soon as you can, buy a large backpack, look up what equipment you need for hiking,<br>and become a weekend warrior.</p>
  <p>Where you hike with Audio Books and cheerful friends,<br>until one day, when ready, instead of showing up for work on Monday - you keep walking.</p>
  <p>One beautiful example is the Appalachian trail,<br>take it easy, take good care of your feet.</p>
  <p>The trail are a life long commitment,<br>you won’t spend much time cooking in the kitchen after that.</p>
  <p>You have to cross every trail in the world,<br>and then do it again.</p>
  <p>Remember that your happiness comes first,<br>and that people who truly care about you will be that much happier in their own lives.</p>
  <p>Obesity is often rooted in long and sustained suffering,<br>sometimes people who cause the harm, will try to cause even more, to put you back in their place.</p>
  <p>But this is your world, this is your beautiful life,<br>this is about your happiness.</p>
  <p>And if you think you can’t make it,<br>then you will have to become a Great Warrior and Leader too.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Finally, the last idea, that I just came up with today,<br>I’ve been having difficulty practicing Lowbrow Art.</p>
  <p>Because the artists that I admire, shouldn't dictate how to structure a face,<br>I didn’t feel right about trying to measure beautiful faces in their works.</p>
  <p>I needed a way to make adult faces in my portraits cuter,<br>that I could call my own invention, my own rhythm or measuring instrument.</p>
  <p>And I also wanted to do something that would he,p my silly portraits,<br>have more complex angles and lifting - I didn’t want to paint the same pose others paint.</p>
  <p>My initial idea was making a 3D model,<br>and later on buying a stuffed toy and using that as a model - I was making progress.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>But today, I had an idea,<br>it came out of nowhere, I wasn’t thinking about Lowbrow today at all.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Here is the idea, you know how people say that we find faces of cute kittens,<br>or baby animals cute, because they remind us of human babies?</p>
  <p>Yeah, so my idea is to go on an image search safari across the entire internet,<br>find the absolutely cutest animals in the most interesting head angles.</p>
  <p>And use them as a model for my Adult Human paintings,<br>that I want to make cutter.</p>
  <p>So in my next Lowbrow portrait,<br>I will start by roughly marking out the positions of lips, nose and eyes on a young kitten.</p>
  <p>And in those places, and in a similar scale, place the eyes and node and lips,<br>of the subject of my painting.</p>
  <p>I did compare young kitten photo with placement of features in a painting of one om my favorite Lowbrow artists,<br>and it was almost an exact match.</p>
  <p>The kittens head was too big, but you just paint a human sized head,<br>maybe wider, maybe with a larger forehead.</p>
  <p>But not as wide as the head of a kitten,<br>compared to their eye/nose placement.</p>
  <p>When I tested a more adult cat photo,<br>the eyes were way to high, and far too small.</p>
  <p>Now this isn’t just for kittens,<br>I am just testing things.</p>
  <p>I mean to try this method on all the cute creates of the world,<br>and I am really looking forward to all the interesting angles I will be working on.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I don’t doubt that many other people had the same idea,<br>in fact, <a href="https://en.wikipedia.org/wiki/Lowbrow_(art_movement)">the world encyclopedia shows a low brow cat</a>.</p>
  <p>A lot of people would think to themselves,<br>but I am not a fan of painting animals.</p>
  <p>As smart as cats are,<br>they don’t have jobs, and can’t pay me.</p>
  <p>Which wold bring the to say,<br>I will paint a human face, with the same proportions.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Though many other people giggle about Mommas gravitating round other Mommas,<br>at 2AM, I call it “Independent Invention”.</p>
  <p>In that I independently arrived at the same idea<br>as they did.</p>
  <p>And I want to stress,<br>that All Ideas have Legs.</p>
</div>