<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Carl Sagan says that to bake an <a href="https://youtu.be/MSce39QSYVo?t=25">apple pie</a>,<br>you will need to invent the universe.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">But in some cases,<br>to build a universe, you just need some apples.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Universe is not as colorful as we see in the photos,<br>nor is Mars red.</div>
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://en.wikipedia.org/wiki/Astrophotography">Astrophotography</a> is complicated,<br>telescopes see below and beyond visible light.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">To represent that information in a friendly way,<br>new colors are added to photographs.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Moreover <a href="https://en.wikipedia.org/wiki/File:Redshift_blueshift.svg">still photographs can indicate motion</a>,<br>objects that are red like a dim red flashlight are moving away.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Objects that are blue, like a blinding flashlight,<br>are moving towards you.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You hear that in a car passing you by,<br>when it is moving towards you it is high pitched.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When it passes you,<br>the pitch becomes lower.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">You have to pause and see what isn’t in the photo,<br>the depth, the motion, and the fact that it is all three dimensional.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Those are not just confusing blobs,<br>they are three dimensional shapes.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you see a star, don’t think of it as a circle,<br>think of it as a sphere.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you see a nebula or a cloud,<br>that is not just mere confusing background.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Those, are, three, dimensional, objects,<br>they are clouds, gas and dust, lit by the stars.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Mr. Sagan reminds us that we are made out of that stars dust, or star stuff,<br>originally the universe just had gas, hydrogen .</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When two atoms came together,<br>they increased their gravity, thus made it more likely to pull a third atom and so on.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">When you gather enough gas,<br>it will compress and ignite and form a star.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Large stars are unstable, and they eventually explode,<br>filling cosmos with dust clouds.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Now you have dust particles coming together,<br>carbon, silicon, iron, calcium, copper, mercury, silver, gold,</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Now some of this dust can collect to create,<br>a dust disk spinning around a sun.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Here planets form,<br>by the dust smashing together into bigger and bigger chunks.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The universe is so big,<br>and there are so many planets.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">That it turns out, it is impossible,<br>not to create little cell like structures, and <a href="https://www.youtube.com/watch?v=gZpsVSVRsZk">life</a>.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">To try to capture all this as an artist,<br>all you need to do is to be able to paint an apple.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Those are the planets and the moons,<br>don’t forget moons, there are 181 in our solar system.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">They form the same way that planets do,<br>hey just get lonely in their orbits and never grow larger.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">Now if you apples come out but ugly,<br>that is called an asteroid, a rock that got knocked out of the orbit, during planet formation.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">If you squint and throw a misshapen object into the background,<br>you got yourself a nebula.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">The thing about nebulae is that they are lit from the inside,<br>imagine cotton candy with some LED lights, some of which are right on the outside.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">Or you can imagine a could of apples if you like being precise,<br>here the apples you can see shine with their own light lighting up the dust around them.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center">So, if you ever need to paint a universe,<br>all you really need is apples.</div>
    <div class="paragraph card-text card-stanza my-5 text-center">It is all just simple 3D objects,<br>apples.</div>
  </div>
</div>
<div class="mb-5 section-spacer">&nbsp;</div>
<div class="card card-section bg-dark text-warning shadow">
  <div class="section card-body mb-0 my-2">
    <div class="paragraph card-text card-stanza my-5 text-center"><a href="https://youtu.be/WtktgnrmCPk">Time-lapse</a><br><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wd5ev2/this_is_my_kitten/iipu1js/?context=3">Title Image Contest</a></div>
  </div>
</div>