<div class="section">
  <p>Carl Sagan says that to bake an <a href="https://youtu.be/MSce39QSYVo?t=25">apple pie</a>,<br>you will need to invent the universe.</p>
  <p>But in some cases,<br>to build a universe, you just need some apples.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Universe is not as colorful as we see in the photos,<br>nor is Mars red.</p>
  <p><a href="https://en.wikipedia.org/wiki/Astrophotography">Astrophotography</a> is complicated,<br>telescopes see below and beyond visible light.</p>
  <p>To represent that information in a friendly way,<br>new colors are added to photographs.</p>
  <p>Moreover <a href="https://en.wikipedia.org/wiki/File:Redshift_blueshift.svg">still photographs can indicate motion</a>,<br>objects that are red like a dim red flashlight are moving away.</p>
  <p>Objects that are blue, like a blinding flashlight,<br>are moving towards you.</p>
  <p>You hear that in a car passing you by,<br>when it is moving towards you it is high pitched.</p>
  <p>When it passes you,<br>the pitch becomes lower.</p>
  <p>You have to pause and see what isn’t in the photo,<br>the depth, the motion, and the fact that it is all three dimensional.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Those are not just confusing blobs,<br>they are three dimensional shapes.</p>
  <p>When you see a star, don’t think of it as a circle,<br>think of it as a sphere.</p>
  <p>When you see a nebula or a cloud,<br>that is not just mere confusing background.</p>
  <p>Those, are, three, dimensional, objects,<br>they are clouds, gas and dust, lit by the stars.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Mr. Sagan reminds us that we are made out of that stars dust, or star stuff,<br>originally the universe just had gas, hydrogen .</p>
  <p>When two atoms came together,<br>they increased their gravity, thus made it more likely to pull a third atom and so on.</p>
  <p>When you gather enough gas,<br>it will compress and ignite and form a star.</p>
  <p>Large stars are unstable, and they eventually explode,<br>filling cosmos with dust clouds.</p>
  <p>Now you have dust particles coming together,<br>carbon, silicon, iron, calcium, copper, mercury, silver, gold,</p>
  <p>Now some of this dust can collect to create,<br>a dust disk spinning around a sun.</p>
  <p>Here planets form,<br>by the dust smashing together into bigger and bigger chunks.</p>
  <p>The universe is so big,<br>and there are so many planets.</p>
  <p>That it turns out, it is impossible,<br>not to create little cell like structures, and <a href="https://www.youtube.com/watch?v=gZpsVSVRsZk">life</a>.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>To try to capture all this as an artist,<br>all you need to do is to be able to paint an apple.</p>
  <p>Those are the planets and the moons,<br>don’t forget moons, there are 181 in our solar system.</p>
  <p>They form the same way that planets do,<br>hey just get lonely in their orbits and never grow larger.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Now if you apples come out but ugly,<br>that is called an asteroid, a rock that got knocked out of the orbit, during planet formation.</p>
  <p>If you squint and throw a misshapen object into the background,<br>you got yourself a nebula.</p>
  <p>The thing about nebulae is that they are lit from the inside,<br>imagine cotton candy with some LED lights, some of which are right on the outside.</p>
  <p>Or you can imagine a could of apples if you like being precise,<br>here the apples you can see shine with their own light lighting up the dust around them.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>So, if you ever need to paint a universe,<br>all you really need is apples.</p>
  <p>It is all just simple 3D objects,<br>apples.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p><a href="https://youtu.be/WtktgnrmCPk">Time-lapse</a><br><a href="https://www.reddit.com/r/redditgetsdrawn/comments/wd5ev2/this_is_my_kitten/iipu1js/?context=3">Title Image Contest</a></p>
</div>