<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Carl Sagan says that to bake an <span>apple pie<sup>[1]</sup></span>,<br>you will need to invent the universe.</div>
  <div class="paragraph">But in some cases,<br>to build a universe, you just need some apples.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Universe is not as colorful as we see in the photos,<br>nor is Mars red.</div>
  <div class="paragraph"><span>Astrophotography<sup>[2]</sup></span> is complicated,<br>telescopes see below and beyond visible light.</div>
  <div class="paragraph">To represent that information in a friendly way,<br>new colors are added to photographs.</div>
  <div class="paragraph">Moreover <span>still photographs can indicate motion<sup>[3]</sup></span>,<br>objects that are red like a dim red flashlight are moving away.</div>
  <div class="paragraph">Objects that are blue, like a blinding flashlight,<br>are moving towards you.</div>
  <div class="paragraph">You hear that in a car passing you by,<br>when it is moving towards you it is high pitched.</div>
  <div class="paragraph">When it passes you,<br>the pitch becomes lower.</div>
  <div class="paragraph">You have to pause and see what isn’t in the photo,<br>the depth, the motion, and the fact that it is all three dimensional.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Those are not just confusing blobs,<br>they are three dimensional shapes.</div>
  <div class="paragraph">When you see a star, don’t think of it as a circle,<br>think of it as a sphere.</div>
  <div class="paragraph">When you see a nebula or a cloud,<br>that is not just mere confusing background.</div>
  <div class="paragraph">Those, are, three, dimensional, objects,<br>they are clouds, gas and dust, lit by the stars.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Mr. Sagan reminds us that we are made out of that stars dust, or star stuff,<br>originally the universe just had gas, hydrogen .</div>
  <div class="paragraph">When two atoms came together,<br>they increased their gravity, thus made it more likely to pull a third atom and so on.</div>
  <div class="paragraph">When you gather enough gas,<br>it will compress and ignite and form a star.</div>
  <div class="paragraph">Large stars are unstable, and they eventually explode,<br>filling cosmos with dust clouds.</div>
  <div class="paragraph">Now you have dust particles coming together,<br>carbon, silicon, iron, calcium, copper, mercury, silver, gold,</div>
  <div class="paragraph">Now some of this dust can collect to create,<br>a dust disk spinning around a sun.</div>
  <div class="paragraph">Here planets form,<br>by the dust smashing together into bigger and bigger chunks.</div>
  <div class="paragraph">The universe is so big,<br>and there are so many planets.</div>
  <div class="paragraph">That it turns out, it is impossible,<br>not to create little cell like structures, and <span>life<sup>[4]</sup></span>.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">To try to capture all this as an artist,<br>all you need to do is to be able to paint an apple.</div>
  <div class="paragraph">Those are the planets and the moons,<br>don’t forget moons, there are 181 in our solar system.</div>
  <div class="paragraph">They form the same way that planets do,<br>hey just get lonely in their orbits and never grow larger.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Now if you apples come out but ugly,<br>that is called an asteroid, a rock that got knocked out of the orbit, during planet formation.</div>
  <div class="paragraph">If you squint and throw a misshapen object into the background,<br>you got yourself a nebula.</div>
  <div class="paragraph">The thing about nebulae is that they are lit from the inside,<br>imagine cotton candy with some LED lights, some of which are right on the outside.</div>
  <div class="paragraph">Or you can imagine a could of apples if you like being precise,<br>here the apples you can see shine with their own light lighting up the dust around them.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">So, if you ever need to paint a universe,<br>all you really need is apples.</div>
  <div class="paragraph">It is all just simple 3D objects,<br>apples.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph"><span>Time-lapse<sup>[5]</sup></span><br><span>Title Image Contest<sup>[6]</sup></span></div>
</div>
<div class="break-after">&nbsp;</div>
<div>
  <div class="section" style="padding-bottom: 1rem;">References</div>
  <div>[1]: https://youtu.be/MSce39QSYVo?t=25</div>
  <div>[2]: https://en.wikipedia.org/wiki/Astrophotography</div>
  <div>[3]: https://en.wikipedia.org/wiki/File:Redshift_blueshift.svg</div>
  <div>[4]: https://www.youtube.com/watch?v=gZpsVSVRsZk</div>
  <div>[5]: https://youtu.be/WtktgnrmCPk</div>
  <div>[6]: https://www.reddit.com/r/redditgetsdrawn/comments/wd5ev2/this_is_my_kitten/iipu1js/?context=3</div>
</div>