<div class="section">
  <p>Culture should not be used to hold people back,<br>everyone deserves to bloom in full to match rest of Humanity.</p>
  <p>Staying behind to protect the old ways,<br>is not fair to the younger generations.</p>
  <p>Growing is what cultures do,<br>they are always evolving.</p>
  <p>Rather than expecting cultural shifts,<br>we have to improve education.</p>
  <p>Keeping things the same does not do a culture justice,<br>leaving behind bad ideas and growing with the rest of the world, does.</p>
  <p>The trouble with holding entire nations back,<br>is that it makes it easy for liars to out-compete whatever goodness there is.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>All you need to modernize a nation or a culture is narrated books,<br>especially those beloved by world's leading intellectuals.</p>
  <p>The transformative component is not just the content of a book alone,<br>nut the culture of the author too.</p>
  <p>Overtime, those who write magnificent and life changing books,<br>become part of our family.</p>
  <p>Moreover, due to how meaningful those books become for us,<br>we inherit the best parts of their culture.</p>
  <p>We bond our existing culture, to the best of the culture in the book,<br>and that cultural inheritance is the essence of the transformative power of books.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Continuing to grow along with the world's leading intellectuals,<br>actually protects the culture from being exploited by liars.</p>
  <p>Powerful and meaningful life changing knowledge,<br>protects people from being lied to or manipulated, or controlled by a mad man.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Personal libraries of Narrated books are more in line with the way we actually learn,<br>a thousand or better yet ten thousand powerful books, cannot be matched by any school.</p>
  <p>What may not be clear at first, is that we can pause a book, to think about it,<br>for days if we need to.</p>
  <p>Furthermore, you never listen the books you love just once,<br>each time you re-listen, you pick up the things that were previously too hard to understand.</p>
  <p>All books grant the listener knowledge at each read,<br>but the most beautiful ones take many re-listens to share all the culture and wisdom.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Lovely narrated books is all it takes to help a culture begin catching up,<br>leave its bad ideas behind, and inherit only the absolute best from the rest of the world.</p>
</div>