<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Culture should not be used to hold people back,<br>everyone deserves to bloom in full to match rest of Humanity.</div>
  <div class="paragraph">Staying behind to protect the old ways,<br>is not fair to the younger generations.</div>
  <div class="paragraph">Growing is what cultures do,<br>they are always evolving.</div>
  <div class="paragraph">Rather than expecting cultural shifts,<br>we have to improve education.</div>
  <div class="paragraph">Keeping things the same does not do a culture justice,<br>leaving behind bad ideas and growing with the rest of the world, does.</div>
  <div class="paragraph">The trouble with holding entire nations back,<br>is that it makes it easy for liars to out-compete whatever goodness there is.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">All you need to modernize a nation or a culture is narrated books,<br>especially those beloved by world's leading intellectuals.</div>
  <div class="paragraph">The transformative component is not just the content of a book alone,<br>nut the culture of the author too.</div>
  <div class="paragraph">Overtime, those who write magnificent and life changing books,<br>become part of our family.</div>
  <div class="paragraph">Moreover, due to how meaningful those books become for us,<br>we inherit the best parts of their culture.</div>
  <div class="paragraph">We bond our existing culture, to the best of the culture in the book,<br>and that cultural inheritance is the essence of the transformative power of books.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Continuing to grow along with the world's leading intellectuals,<br>actually protects the culture from being exploited by liars.</div>
  <div class="paragraph">Powerful and meaningful life changing knowledge,<br>protects people from being lied to or manipulated, or controlled by a mad man.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Personal libraries of Narrated books are more in line with the way we actually learn,<br>a thousand or better yet ten thousand powerful books, cannot be matched by any school.</div>
  <div class="paragraph">What may not be clear at first, is that we can pause a book, to think about it,<br>for days if we need to.</div>
  <div class="paragraph">Furthermore, you never listen the books you love just once,<br>each time you re-listen, you pick up the things that were previously too hard to understand.</div>
  <div class="paragraph">All books grant the listener knowledge at each read,<br>but the most beautiful ones take many re-listens to share all the culture and wisdom.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Lovely narrated books is all it takes to help a culture begin catching up,<br>leave its bad ideas behind, and inherit only the absolute best from the rest of the world.</div>
</div>