<div class="section">
  <p>I’ve been diagramming since 6th grade,<br>my first real program diagram was about a lottery simulation.</p>
  <p>The bullies saw me pacing up and down the corridor,<br>and laughed when I got a low graded.</p>
  <p>(For being accused of cheating,<br>...of copying my program from elsewhere.)</p>
  <p>But, I navigated the heck out of that thing,<br>I later bought a Simon's BASIC book with my little savings.</p>
  <p>Diagrams,<br>ere my entry into the world of programming,</p>
  <p>My next round of Programmatic Modeling,<br>by means of Geometry Nodes in the Free and Open Source Blender.</p>
  <p>Will produce a large diagram,<br>to keep track of all the neat node combinations.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>I think it is somewhat magical,<br>that nobody has a problem grasping what a diagram is.</p>
  <p>It is a talent we all have,<br>for free.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Diagrams and Memory palaces,<br>are deeply connected.</p>
  <p>In fact I would argue that you can’t memorize all that well,<br>by merely dreaming up memory palaces alone.</p>
  <p>Don’t waste your time memorizing the rooms,<br>draw them out on paper as a map, heck make a board game.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Furthermore, though concept maps and mind maps,<br>seem magical, don’t limit yourself with rules.</p>
  <p>Diagrams are yours,<br>to re-invent each and every time.</p>
  <p>The best kind of diagram,<br>is the mixed diagram.</p>
  <p>And the most powerful kind of diagram,<br>is a soon to become incoherent doodle.</p>
  <p>But while in your active memory,<br>an instrument like no other.</p>
  <p>A fusion between what you can hold in your mind,<br>and curious little webs of lines and labels.</p>
  <p>That help you keep racing forward,<br>and resume where you left off.</p>
  <p>Memory, has it's limits,<br>a pencil and a big notepad does not.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>And while pencil and paper,<br>will forever triumph, no question.</p>
  <p>When you have a really big idea,<br>rather than gluing papers together...</p>
  <p>Consider taking to digital art programs,<br>and with a proper and inexpensive pen and tablet.</p>
  <p>In the world of digital drawing,<br>you never run out of canvas, as you can always resize it.</p>
  <p>And perhaps even more importantly,<br>you can rearrange things around as your diagram evolves.</p>
  <p>Cut out a piece of diagram here,<br>a piece of concept map there, and splice them together.</p>
  <p>And of course, you can add reference photos,<br>and digital snippets of things, no limits.</p>
  <p>One free and open source digital drawing program,<br>that comes to mind is Krita.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>MindMapping programs exist,<br>I was once an avid user of the Ancient FreeMind.</p>
  <p>And while it seemed,<br>magical at first.</p>
  <p>Assembling paper notes on a large canvas,<br>that you can move, is even better.</p>
  <p>You can always add a new layer,<br>or a second canvas, or cardboard to hold it all together.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Do not waste concept or mind mapping,<br>on brainless standardized education.</p>
  <p>If you use it too much for no good reason,<br>it will lose its magic, especially if you are cramming for tests in an ineffective school.</p>
  <p>Diagrams, Concept Maps, and Mind Maps,<br>are meant for things that help you become wiser.</p>
  <p>3D Modeling, Programming, Circuit Design, Metaphysics,<br>Notes on workflows in various programs, from Linux and Bash, to Krita, and Blender.</p>
</div>
<div class="section">
  <hr>
</div>
<div class="section">
  <p>Diagrams, enhance our memory,<br>and help us think wider and grow faster.</p>
</div>