<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I’ve been diagramming since 6th grade,<br>my first real program diagram was about a lottery simulation.</div>
  <div class="paragraph">The bullies saw me pacing up and down the corridor,<br>and laughed when I got a low graded.</div>
  <div class="paragraph">(For being accused of cheating,<br>...of copying my program from elsewhere.)</div>
  <div class="paragraph">But, I navigated the heck out of that thing,<br>I later bought a Simon's BASIC book with my little savings.</div>
  <div class="paragraph">Diagrams,<br>ere my entry into the world of programming,</div>
  <div class="paragraph">My next round of Programmatic Modeling,<br>by means of Geometry Nodes in the Free and Open Source Blender.</div>
  <div class="paragraph">Will produce a large diagram,<br>to keep track of all the neat node combinations.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">I think it is somewhat magical,<br>that nobody has a problem grasping what a diagram is.</div>
  <div class="paragraph">It is a talent we all have,<br>for free.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Diagrams and Memory palaces,<br>are deeply connected.</div>
  <div class="paragraph">In fact I would argue that you can’t memorize all that well,<br>by merely dreaming up memory palaces alone.</div>
  <div class="paragraph">Don’t waste your time memorizing the rooms,<br>draw them out on paper as a map, heck make a board game.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Furthermore, though concept maps and mind maps,<br>seem magical, don’t limit yourself with rules.</div>
  <div class="paragraph">Diagrams are yours,<br>to re-invent each and every time.</div>
  <div class="paragraph">The best kind of diagram,<br>is the mixed diagram.</div>
  <div class="paragraph">And the most powerful kind of diagram,<br>is a soon to become incoherent doodle.</div>
  <div class="paragraph">But while in your active memory,<br>an instrument like no other.</div>
  <div class="paragraph">A fusion between what you can hold in your mind,<br>and curious little webs of lines and labels.</div>
  <div class="paragraph">That help you keep racing forward,<br>and resume where you left off.</div>
  <div class="paragraph">Memory, has it's limits,<br>a pencil and a big notepad does not.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">And while pencil and paper,<br>will forever triumph, no question.</div>
  <div class="paragraph">When you have a really big idea,<br>rather than gluing papers together...</div>
  <div class="paragraph">Consider taking to digital art programs,<br>and with a proper and inexpensive pen and tablet.</div>
  <div class="paragraph">In the world of digital drawing,<br>you never run out of canvas, as you can always resize it.</div>
  <div class="paragraph">And perhaps even more importantly,<br>you can rearrange things around as your diagram evolves.</div>
  <div class="paragraph">Cut out a piece of diagram here,<br>a piece of concept map there, and splice them together.</div>
  <div class="paragraph">And of course, you can add reference photos,<br>and digital snippets of things, no limits.</div>
  <div class="paragraph">One free and open source digital drawing program,<br>that comes to mind is Krita.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">MindMapping programs exist,<br>I was once an avid user of the Ancient FreeMind.</div>
  <div class="paragraph">And while it seemed,<br>magical at first.</div>
  <div class="paragraph">Assembling paper notes on a large canvas,<br>that you can move, is even better.</div>
  <div class="paragraph">You can always add a new layer,<br>or a second canvas, or cardboard to hold it all together.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Do not waste concept or mind mapping,<br>on brainless standardized education.</div>
  <div class="paragraph">If you use it too much for no good reason,<br>it will lose its magic, especially if you are cramming for tests in an ineffective school.</div>
  <div class="paragraph">Diagrams, Concept Maps, and Mind Maps,<br>are meant for things that help you become wiser.</div>
  <div class="paragraph">3D Modeling, Programming, Circuit Design, Metaphysics,<br>Notes on workflows in various programs, from Linux and Bash, to Krita, and Blender.</div>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <br>
</div>
<div class="section avoid-break-inside" style="padding-bottom: 2rem;">
  <div class="paragraph">Diagrams, enhance our memory,<br>and help us think wider and grow faster.</div>
</div>